<% cache [ @locale, @collection.project_id ].join('/') do -%>
<h1><%= Collection.human_name %> &quot;<%= t(@collection.name, :scope => 'collections.name') %>&quot;</h1>

<p>
  <strong><%= Collection.human_attribute_name('countries') %>:</strong>
  <br />
  <% countries = (@collection.countries || '').split(",") %>
  <%= countries.map{|f| t(f.strip, :scope => 'location.countries')}.join(", ") %>
</p>

<p>
  <strong><%= Collection.human_attribute_name('institution') %>:</strong>
  <br />
  <%= @collection.institution %>
</p>

<p>
  <strong><%= Collection.human_attribute_name('responsibles') %>:</strong>
  <br />
  <%= @collection.responsibles %>
</p>

<p>
  <strong><%= Collection.human_attribute_name('notes') %>:</strong>
  <br />
  <%= @collection.notes %>
</p>

<p>
  <strong><%= Collection.human_attribute_name('interviewers') %>:</strong>
  <br />
  <%= @collection.interviewers %>
</p>

<h2><%= Collection.human_attribute_name('interviews') %></h2>

<div class="teaserList">
  <%= render :partial => '/interviews/result', :collection => @collection.interviews, :locals => { :search => @search } %>
</div>
<% end -%><%# cache -%>
