<% cache [ @tape.interview.to_param, @tape.media_id, 'transcript'].join('/') do -%>
<?xml version="1.0" encoding="utf-8"?>
<segments>
  <% @tape.segments.each do |segment| -%>
  <segment section="<%= "#{segment.section}" %>" begin="<%= "#{segment.start_time.to_i}" -%>" end="<%= "#{segment.end_time.to_i}" -%>">
    <transcript><%= "#{segment.transcript}" -%></transcript>
    <translation><%= "#{segment.translation}" -%></translation>
    <section><%= "#{segment.section}" %></section>
  </segment>
  <% end -%>
</segments>
<% end -%>