<?xml version="1.0" encoding="utf-8"?>
<tt xmlns="http://www.w3.org/2006/10/ttaf1">
  <body>
    <div xml:id="captions">
      <% previous_time = 0 -%>
      <% start_time = 0 -%>
      <% end_time = 0 -%>
      <% initial = true -%>
      <% transcript = '' -%>
      <% translation = '' -%>
      <% right_to_left = @tape.interview.language == 'Hebräisch' ? true : false %>

      <% current_segment = nil -%>
      <% @tape.segments.each do |segment| -%>
        <% time = Timecode.parse_timecode(segment.timecode) -%>
        <% unless current_segment.blank? -%>
          <% current_transcript = (current_segment.transcript || '').strip -%>
          <% current_translation = (current_segment.translation || '').strip -%>
          <% if initial \
                || ((transcript.length + current_transcript.length) > 300) \
                || ((translation.length + current_translation.length) > 300) -%>
            <% if initial -%>
                <% initial = false -%>
            <% else -%>
                <p begin="<%= start_time.to_i -%>" end="<%= end_time.to_i -%>"><span<%= right_to_left ? " dir='rtl'" : ""  %> class="caption_original<%= right_to_left ? " rtl" : ""  %>"><%= transcript.strip -%></span><span class="caption_translation"><%= translation.strip -%></span></p>
                <% transcript = '' -%>
                <% translation = '' -%>
            <% end -%>
            <% start_time = previous_time -%>
          <% end -%>
          <% transcript << (current_transcript + ' ') -%>
          <% translation << (current_translation + ' ') -%>
          <% end_time = time -%>
        <% end -%>
        <% previous_time = time -%>
        <% current_segment = segment -%>
      <% end -%>
      <p begin="<%= start_time.to_i -%>" end="<%= previous_time.to_i -%>"><span<%= right_to_left ? " dir='rtl'" : ""  %> class="caption_original<%= right_to_left ? " rtl" : ""  %>"><%= transcript.gsub(/\{.*\}/, "") -%></span><span class="caption_translation"><%= translation.gsub(/\{.*\}/, "") -%></span></p>
    </div>

  </body>
</tt>