<h1>Fragen zur Recherche</h1>

<ul>
  <li>
    <a href="#recherchemoeglichkeiten">Welche Recherchemöglichkeiten gibt es?</a>
  </li>
  <li>
    <a href="#suche-allgemein">Wie kann ich die Volltextsuche nutzen?</a>
  </li>
  <li>
    <a href="#einschraenkung_ergebnisse">Lassen sich die Suchergebnisse eingrenzen?</a>
  </li>
  <li>
    <a href="#wenig_ergebnisse"></a>
  </li>
  <li>
    <a href="#grossklein">Muss bei der Suchfunktion Groß-und Kleinschreibung beachtet werden?</a>
  </li>
  <li>
    <a href="#suche-datum">Kann man nach einem Datum suchen?</a>
  </li>
  <li>
    <a href="#suche-pseudonym">Ist es möglich, nach einer Person zu suchen, die in der Forschungsliteratur unter einem Pseudonym zitiert wird?</a>
  </li>
  <li>
    <a href="#suche-wildcard">Kann ich Suchbegriffe abkürzen?</a>
  </li>
</ul>

<br/>
<hr/>
<h2>
  <a name="recherchemoeglichkeiten"></a>
  Welche Recherchemöglichkeiten gibt es?
</h2>
<p>Es gibt Kategorien, die einen strukturierten Zugriff auf die Interviews ermöglichen:</p>
<ul>
  <li>Name der/des Interviewten</li>
  <li>Pseudonym (unter dem die/der Interviewte in Veröffentlichungen zitiert wurde)</li>
  <li>Geschlecht</li>
  <li>Entstehungszeit (Jahr, in dem Interview geführt wurde)</li>
  <li>Jahrgang</li>
  <li>Geburtsort/Herkunft</li>
  <li>Wohnort (zum Zeitpunkt des Interviews)</li>
  <li>Beruf (sowohl erlernter als auch ausgeübter Beruf)</li>
  <li>Stellung im Beruf (Arbeiter, Angestellter, Beamter, Selbständiger)</li>
  <li>Wirtschaftsbereich (in Anlehnung an die gewerkschaftlichen Zuständigkeit)</li>
</ul>
<p>
  Innerhalb einer Kategorie ist durch Halten der Ctrl-Taste eine Mehrfachauswahl möglich. Alternativ bzw. ergänzend zur
  Kategoriensuche können Sie die Volltextsuche nutzen, um im Bestand der Interviews im Archiv zu suchen.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Zum Seitenanfang">
  <img src="<%= image_path 'sprungmarke.gif' %>" alt="Bild: Sprungmarke nach oben" border="0" title="Zum Seitenanfang"/>
</a>
<br/>
<hr/>
<h2>
  <a name="suche-allgemein"></a>
  Wie kann ich die Volltextsuche nutzen?
</h2>
<p>
  Das Archiv verfügt über eine Volltextsuche. Sie können einen oder mehrere Suchbegriffe eingeben.<br/>
  Mehrere Suchbegriffe werden mit UND verknüpft.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Zum Seitenanfang">
  <img src="<%= image_path 'sprungmarke.gif' %>" alt="Bild: Sprungmarke nach oben" border="0" title="Zum Seitenanfang"/>
</a>
<br/>
<hr/>
<h2>
  <a name="einschraenkung_ergebnisse"></a>
  Es gibt zu viele Suchergebnisse. Wie kann ich die Suche eingrenzen?
</h2>
<p>
  Geben Sie zusätzliche Suchbegriffe ein, um die Suche weiter einzugrenzen.
  Alternativ dazu können Sie auch die Kategorien auf der rechten Seite nutzen.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Zum Seitenanfang">
  <img src="<%= image_path 'sprungmarke.gif' %>" alt="Bild: Sprungmarke nach oben" border="0" title="Zum Seitenanfang"/>
</a>
<br/>
<hr/>
<h2>
  <a name="wenig_ergebnisse"></a>
  Es gibt zu wenig Suchergebnisse. Woran liegt das?
</h2>
<p>
  Angesichts der zurzeit noch geringen Zahl von online verfügbaren Interviews gibt es oft nur wenige Suchergebnisse.
  Nutzen Sie statt der Volltextsuche die Vorschläge in der Dropdown-Liste der Kategorien auf der rechten Seite. Gerne
  führen wir für Sie eine Recherche im Präsenzbestand des Archivs durch. Schreiben Sie uns eine E-Mail:
  <a href="mailto:deutsches-gedaechtnis@fernuni-hagen.de" target="_blank" title="Kontakt">deutsches-gedaechtnis@fernuni-hagen.de</a>
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Zum Seitenanfang">
    <img src="<%= image_path 'sprungmarke.gif' %>" alt="Bild: Sprungmarke nach oben" border="0" title="Zum Seitenanfang"/>
</a>
<br/>
<hr/>
<h2>
  <a name="grossklein"></a>
  Muss bei der Suchfunktion Groß-und Kleinschreibung beachtet werden?
</h2>
<p>Groß- und Kleinschreibung wird bei der Suche nicht unterschieden.</p>
<br class="clear"/>
<a href="#seitenanfang" title="Zum Seitenanfang">
  <img src="<%= image_path 'sprungmarke.gif' %>" alt="Bild: Sprungmarke nach oben" border="0" title="Zum Seitenanfang"/>
</a>
<br/>
<hr/>
<h2>
  <a name="suche-datum"></a>
  Kann man nach einem Datum suchen?
</h2>
<p>
  Sie können mit der Volltextsuche auch nach Datumswerten suchen. Geben Sie in das Suchfeld dazu Monat und Jahr in der
  Form MM/JJJJ ein, z.B. 01/1945. Sie können auch nur das Jahr eingeben.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Zum Seitenanfang">
  <img src="<%= image_path 'sprungmarke.gif' %>" alt="Bild: Sprungmarke nach oben" border="0" title="Zum Seitenanfang"/>
</a>
<br/>
<hr/>
<h2>
  <a name="suche-pseudonym"></a>
  Ist es möglich, nach einer Person zu suchen, die in der Forschungsliteratur unter einem Pseudonym zitiert wird?
</h2>
<p>
  So weit bekannt, wurden die Pseudonyme aufgenommen. Zum Teil wurden mehrerer Pseudonyme für eine Person verwendet.
  Sie können über die Kategoriensuche das Pseudonym finden oder über die Volltextsuche nach dem Pseudonym suchen.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Zum Seitenanfang">
  <img src="<%= image_path 'sprungmarke.gif' %>" alt="Bild: Sprungmarke nach oben" border="0" title="Zum Seitenanfang"/>
</a>
<br/>
<hr/>
<h2>
  <a name="suche-wildcard"></a>
  Kann ich Suchbegriffe abkürzen?
</h2>
<p>
  Die Suchfunktion ermöglicht auch die Suche nach Abkürzungen.<br/>
  Beispiel: Wenn Sie <em>Gewerk*</em> eingeben, erhalten Sie alle Ergebnisse zu "Gewerkschaft", "Gewerkschafter", "Gewerkschafterin" etc.
</p>
