<div class="baseListBox">
    <noscript><h4>Bitte aktivieren Sie JavaScript, um die navigatorischen Elemente auf der rechten Seite nutzen zu können.</h4></noscript>

  <% remote_form_for :search,
                     :url => searches_path,
                     :html => { :action => searches_path,
                                :name => "searchFacets",
                                :id => "search_facets" } do |f| %>

    <h2 class="baseListBoxTitle">Interviews geordnet nach:</h2>
    <div class="fragmentTitle" onclick="toggleCategory('person_name_query');">
      <h2>
        <img title="" src="/images/pfeil_rot_rechts.gif" id="person_name_query_closed" alt="Pfeil rechts" />
        <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="person_name_query_open" alt="Pfeil unten" />
        Namen der Interviewten
      </h2>
    </div>
    <div style="display:none" id="person_name_query">
      <%# Field for name query %>
    </div>

    <div class="fragmentTitle" onclick="toggleCategory('group_query');">
      <h2>
        <img title="" src="/images/pfeil_rot_rechts.gif" id="group_query_closed" alt="Pfeil rechts" />
        <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="group_query_open" alt="Pfeil unten" />
        Gruppe
      </h2>
    </div>
    <div style="display:none" id="group_query">
      <ul>
        <% Category::FORCED_LABOR_GROUPS.each do |category| %>
        <li><%= f.check_box 'forced_labor_groups[]', { :id => "group_#{category[:id]}" }, category[:id], nil %><%= category.name %></li>
        <% end %>
     </ul>
    </div>

    <div class="fragmentTitle" onclick="toggleCategory('field_query');">

        <h2>
            <img title="" src="/images/pfeil_rot_rechts.gif" id="field_query_closed" alt="Pfeil rechts" />
            <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="field_query_open" alt="Pfeil unten" />
            Einsatzbereich
        </h2>
    </div>
    <div style="display:none" id="field_query">
        <ul>
          <% Category::FORCED_LABOR_FIELDS.each do |category| %>
          <li><%= f.check_box 'forced_labor_fields[]', { :id => "field_#{category[:id]}" }, category[:id], nil %><%= category.name %></li>
          <% end %>
        </ul>
    </div>

    <div class="fragmentTitle" onclick="toggleCategory('habitation_query');">
        <h2>
            <img title="" src="/images/pfeil_rot_rechts.gif" id="habitation_query_closed" alt="Pfeil rechts" />
            <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="habitation_query_open" alt="Pfeil unten" />

            Unterbringung / Inhaftierung
        </h2>
    </div>

    <div style="display:none" id="habitation_query">
        <ul>
          <% Category::FORCED_LABOR_HABITATIONS.each do |category| %>
          <li><%= f.check_box 'forced_labor_habitations[]', { :id => "habitation_#{category[:id]}" }, category[:id], nil %><%= category.name %></li>
          <% end %>
        </ul>
    </div>

    <div class="fragmentTitle" onclick="toggleCategory('language_query');">

        <h2>
            <img title="" src="/images/pfeil_rot_rechts.gif" id="language_query_closed" alt="Pfeil rechts" />
            <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="language_query_open" alt="Pfeil unten" />
            Sprache
        </h2>
    </div>

    <div style="display:none" id="language_query">
        <ul>
          <% Language::CATEGORIES.each do |language| %>
          <li><%= f.check_box 'languages[]', { :id => "language_#{language[:id]}" }, language[:id], nil %><%= language.name %></li>
          <% end %>
        </ul>
    </div>


    <div class="fragmentTitle" onclick="toggleCategory('country_query');">

        <h2>
            <img title="" src="/images/pfeil_rot_rechts.gif" id="country_query_closed" alt="Pfeil rechts" />
            <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="country_query_open" alt="Pfeil unten" />
            Wohnort (Land)
        </h2>
    </div>
    <div style="display:none" id="country_query">
        <ul>
            <li>
                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/belarus.html">
                    Belarus
                </a>
            </li>
        </ul>
    </div>

  <% end %>

  <%# merge both search forms - search_input and search_facets %>
  <% javascript_tag do %>
      
    var blindStatus = [ 0,0,0,0,0,0 ];
    var catElems = $$('.fragmentTitle + div');
    function toggleCategory(id) {
      var cat_index;
      for(var i=0; i< catElems.length; i++) {
        if (id == catElems[i].id) {
            cat_index = i;
        }
      }
      if(cat_index) {
        if(blindStatus[cat_index] == 0) {
            Effect.BlindDown(id, { duration: 0.5 });
            blindStatus[cat_index] = 1;
        } else {
            Effect.BlindUp(id, { duration: 0.5 });
            blindStatus[cat_index] = 0;
        }
        Element.toggle(id + '_closed');
        Element.toggle(id + '_open');
      }
    };

  <% end %>

</div>