<div class="baseListBox">
    <noscript><h4>Bitte aktivieren Sie JavaScript, um die navigatorischen Elemente auf der rechten Seite nutzen zu können.</h4></noscript>

    <h2 class="baseListBoxTitle">Interviews geordnet nach:</h2>
    <div class="fragmentTitle" onclick="Element.toggle('person_name_query');Element.toggle('person_name_closed');Element.toggle(person_name_open);">
      <h2>
        <img title="" src="/images/pfeil_rot_rechts.gif" id="person_name_closed" alt="Pfeil rechts" />
        <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="person_name_open" alt="Pfeil unten" />
        Namen der Interviewten
      </h2>
    </div>
    <div style="display:none" id="person_name_query">
      <%# Field for name query %>
    </div>

    <div class="fragmentTitle" onclick="Element.toggle('group_query');Element.toggle('group_query_closed');Element.toggle('group_query_open')">
      <h2>
        <img title="" src="/images/pfeil_rot_rechts.gif" id="group_query_closed" alt="Pfeil rechts" />
        <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="group_query_open" alt="Pfeil unten" />
        Gruppe
      </h2>
    </div>
    <div style="display:none" id="group_query">
      <ul>
        <% Category::FORCED_LABOR_GROUPS.each do |category| %>
        <li><%= check_box_tag :forced_labor_groups %><%= category.name %></li>
        <% end %>
     </ul>
    </div>

    <div class="fragmentTitle" onclick="Element.toggle('field_query');Element.toggle('field_query_closed');Element.toggle('field_query_open')">

        <h2>
            <img title="" src="/images/pfeil_rot_rechts.gif" id="field_query_closed" alt="Pfeil rechts" />
            <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="field_query_open" alt="Pfeil unten" />
            Einsatzbereich
        </h2>
    </div>
    <div style="display:none" id="field_query">
        <ul>
          <% Category::FORCED_LABOR_FIELDS.each do |category| %>
          <li><%= check_box_tag :forced_labor_fields %><%= category.name %></li>
          <% end %>
        </ul>
    </div>

    <div class="fragmentTitle" onclick="Element.toggle('habitation_query');Element.toggle('habitation_query_closed');Element.toggle('habitation_query_open')">
        <h2>
            <img title="" src="/images/pfeil_rot_rechts.gif" id="habitation_query_closed" alt="Pfeil rechts" />
            <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="habitation_query_open" alt="Pfeil unten" />

            Unterbringung / Inhaftierung
        </h2>
    </div>

    <div style="display:none" id="habitation_query">
        <ul>
          <% Category::FORCED_LABOR_HABITATIONS.each do |category| %>
          <li><%= check_box_tag :forced_labor_habitations %><%= category.name %></li>
          <% end %>
        </ul>
    </div>

    <div class="fragmentTitle" onclick="Element.toggle('language_query');Element.toggle('language_query_closed');Element.toggle('language_query_open')">

        <h2>
            <img title="" src="/images/pfeil_rot_rechts.gif" id="language_query_closed" alt="Pfeil rechts" />
            <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="language_query_open" alt="Pfeil unten" />
            Sprache
        </h2>
    </div>

    <div style="display:none" id="language_query">
        <ul>
          <% Language::CATEGORIES.each do |language| %>
          <li><%= check_box_tag :languages %><%= language.name %></li>
          <% end %>
        </ul>
    </div>


    <div class="fragmentTitle" onclick="Element.toggle('container36527886');Element.toggle('pfeilRechts36527886');Element.toggle('pfeilUnten36527886')">

        <h2>
            <img title="" src="/images/pfeil_rot_rechts.gif" id="pfeilRechts36527886" alt="Pfeil rechts" />
            <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="pfeilUnten36527886" alt="Pfeil unten" />
            Wohnort (Land)
        </h2>
    </div>
    <div style="display:none" id="container36527886">
        <ul>
            <li>
                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/belarus.html">
                    Belarus
                </a>
            </li>
        </ul>
    </div>

  

</div>