<table class="archivTable1">
  <tr><th align="left" valign="top">Herkunft – weitere Angaben</th></tr>
  <tr><td align="left" valign="top"><%= @interview.country_of_origin || "&mdash;" %></td></tr>
  <tr><th align="left" valign="top">Datum der Deportation/Verhaftung</th></tr>
  <tr><td align="left" valign="top"><%= @interview.deportation_date || "&mdash;" %></td></tr>
  <tr><th align="left" valign="top">Ort der Deportation/Verhaftung</th></tr>
  <tr><td align="left" valign="top"><%= @interview.deportation_location || "&mdash;" %></td></tr>
  <tr><th align="left" valign="top">Einsatzbereich – weitere Angaben</th></tr>
  <tr><td align="left" valign="top"><%= @interview.forced_labor_details || "&mdash;" %></td></tr>
  <tr><th align="left" valign="top">Unterbringung / Inhaftierung</th></tr>
  <tr>
    <td align="left" valign="top">
      <ul>
        <% @interview.forced_labor_habitations.each do |forced_labor_habitation| %>
          <li><%= forced_labor_habitation.name %></li>
        <% end %>
      </ul>
    </td>
  </tr>
  <tr><th align="left" valign="top">Datum der Befreiung / Entlassung</th></tr>
  <tr><td align="left" valign="top"><%= @interview.liberation_date || "&mdash;" %></td></tr>
  <tr><th align="left" valign="top">Rückkehr nach Hause</th></tr>
  <tr><td align="left" valign="top"><%#= @interview.return_home || "&mdash;" %></td></tr>
  <tr><th align="left" valign="top">Sonstiger Rückkehrort</th></tr>
  <tr><td align="left" valign="top"><%#= @interview.return_location || "&mdash;" %></td></tr>
  <tr><th align="left" valign="top">Datum der Rückkehr</th></tr>
  <tr><td align="left" valign="top"><%#= @interview.return_date || "&mdash;" %></td></tr>
</table>