<% cache "annotations_#{@interview.archive_id}" do -%>
    <ul class="annotations-list">
        <% Annotation.for_interview(@interview).each do |annotation| -%>
            <% annotation_locale = display_locale(annotation) %>
            <% unless annotation.text(annotation_locale).blank? %>
                <li id="annotation_<%= annotation.id -%>" class="annotation <%= annotation.media_id -%>" style="display: none;">
                    <span class="author">
                        <%= t(:label, :scope => 'user_interface.annotations') -%>
                        (<%= annotation.author.sub(/(&mdash;|-)/, t(:editorial, :scope => 'user_interface.annotations')) -%>)
                        <% if annotation_locale != I18n.locale then %>
                            <a id="annotation_locale_help_text" class="tooltipButton">
                                <%= image_tag(image_path('icon_info_light.svg'), :onclick => 'var e = arguments[0] || window.event; e.stopPropagation(); return false;', :class => 'svg') %>
                                <div class="tooltip"><%= I18n.t('user_interface.messages.no_annotations_in_your_language') -%></div>
                            </a>
                        <% end %>
                    </span>
                    <%= annotation.text(annotation_locale) %>
                </li>
            <% end -%>
        <% end -%>
    </ul>
<% end -%>

<ul id="user_annotations_list" style="display: none !important;">
    <% UserAnnotation.for_interview(@interview).for_user(current_user).each do |user_annotation| -%>
        <li id="user_annotation_<%= user_annotation.media_id -%>">
            <%= user_annotation.id -%>
        </li>
    <% end -%>
</ul>

<% javascript_tag do %>
    var annotationsController = new AnnotationsDisplayController('annotations_overlay', 'interview-player', {});
<% end %>
