<div id="interviewContentNavigation" class="baseListBox">

    <% featured_content = if params[:registry_entry_id].blank?
                            if @search.matching_segments_for(@interview.archive_id).empty? && content.has_headings?
                              # table of contents displayed
                              :headings
                            else
                              # segment search
                              :search_results
                            end
                          elsif content.registry_references.empty?
                            :search_results
                          else
                            # segments indexed with a given registry entry
                            :registry_entry
                          end -%>

    <% show_segments = [:search_results, :registry_entry].include?(featured_content) -%>
    <% show_registry_entries = (featured_content == :registry_entry) && defined?(@registry_entry) && !@registry_entry.nil? -%>
    <% current_search_text = (show_registry_entries || @search.fulltext.blank?) ? t('search_term', :scope => 'user_interface.search') : @search.fulltext -%>

    <%# remote_form_for content,
                       :url => interview_searches_path,
                       :method => :get,
                       :update => 'search-results',
                       :before => "$('interview_search_overlay').show()",
                       :complete => "$$('#search-results-toggle .hits')
                                       .invoke('update', '(' + $$('.segment-list.active li').length + ')');
                                     $$('#language-switcher li.active').each(function(item) {
                                       switchSegmentLanguage(item);
                                     });
                                     $('interview_search_overlay').hide();
                                     $('search-results-toggle').show();
                                     openContainer('search-results-toggle',true);",
                       :html => {:action => '',
                                 :name => "search-in-interview",
                                 :id => "search_in_interview"} do |search| %>

        <div id="interviewSearch">
            <h2><label for="fulltext"><%= t('.search_in_interview', :content => content) %></label></h2>
            <%= text_field_tag 'fulltext', current_search_text, :id => "interview_fulltext", :onfocus => "clearFulltextField('interview_fulltext');" %>
            <%= hidden_field_tag 'id', @interview.archive_id %>
            <%= submit_tag 'suchen', :type => :image, :src => image_path('pfeil_rot_rechts_quad.gif'), :id => 'seach_in_interview_submit' %>
        </div>

    <%# end %>

    <%= javascript_tag do %>
        $('interview_fulltext').value = '<%= current_search_text %>';
    <% end %>

    <% headings_locale = display_locale(@interview.segments.with_heading.first) %>
    <% show_headings = (featured_content == :headings) %>
    <div id="headings-toggle" class="<%= show_headings ? 'open' : 'closed' %> container-toggle" onclick="toggleContainer('headings-toggle', true, true);">
        <h2>
            <%= t('headings', :scope => 'user_interface.labels') %>
            <% if headings_locale != I18n.locale and not @interview.segments.with_heading.first.blank? then %>
                <a id="heading_locale_help_text" class="tooltipButton">
                    <%= image_tag(image_path('icon_info.png'), :onclick => 'var e = arguments[0] || window.event; e.stopPropagation(); return false;') %>
                    <div class="tooltip"><%= I18n.t('user_interface.messages.no_headings_in_your_language', :languages => available_languages(@interview.segments.with_heading.first)) -%></div>
                </a>
            <% end %>
        </h2>
    </div>
    <div id="headings" class="accordion-container container" style="height: 377px; background: #f8f8f5;<%= show_headings ? '' : 'display: none;' -%>">
        <% if @interview.segments.with_heading.first.blank? %>
            <%= t '.work_in_progress' %>
        <% else %>
            <%= render :partial => 'headings', :object => content, :locals => {:player => @player, :headings_locale => headings_locale} %>
        <% end %>
    </div>

    <% if show_registry_entries -%>
        <% @segments = spaced_apart_segments(@registry_entry.registry_references.for_interview(@interview.id).map(&:ref_object)) -%>
        <% fulltext = @registry_entry.to_s(I18n.locale) -%>
    <% else -%>
        <% @segments = @search.matching_segments_for(@interview.archive_id) -%>
        <% fulltext = @search.fulltext -%>
    <% end -%>
    <div id="search-results-toggle" class="<%= show_segments ? 'open' : 'closed' %> container-toggle" style="<%= show_segments ? '' : 'display:none;' %>" onclick="toggleContainer('search-results-toggle', true, true);">
        <ul id="language-switcher"><!--
         --><li class="original<%= I18n.locale != :de ? ' active' : '' %>">
                <%= @interview.transcript_locales.join('/') %>
            </li><!--
            <% if @interview.translated?(I18n.locale) %>
             --><li class="translated<%= I18n.locale == :de ? ' active' : '' %>">
                    deu
                </li><!--
            <% end %>
     --></ul>
        <% if @interview.translated?(I18n.locale) %>
            <%= javascript_tag do %>
                $('language-switcher').on('click', 'li', function(event, clickedTab) {
                  switchSegmentLanguage(clickedTab);
                  event.stopPropagation();
                });

                function switchSegmentLanguage(clickedTab) {
                  // Inactivate the current tab and search result list.
                  $$('#language-switcher li.active, #search-results .segment-list.active')
                    .invoke('removeClassName', 'active');

                  // Activate the clicked tab and its corresponding search result list.
                  clickedTab.addClassName('active');
                  var resultsClass = 'translated';
                  if(clickedTab.hasClassName('original')) resultsClass = 'original'
                  $$('#search-results .segment-list.' + resultsClass)
                    .invoke('addClassName', 'active');
                }
            <% end %>
        <% end %>
        <h2>
            <%= t('user_interface.labels.search_results') %>
            <% if show_segments %>
                <span class="hits">(<%= @segments.size %>)</span>
            <% end %>
        </h2>
    </div>
    <div id="search-results" class="accordion-container container" style="<%= show_segments ? '' : 'display:none;' %>">
        <%= render :partial => 'segments', :object => @segments, :local => {:interview => @interview, :fulltext => fulltext} %>
    </div>

    <div id="interview_search_overlay" class="overlay" style="display:none;">
        <img class="spinner_search" src="<%= image_path 'spinner.gif' %>" title="" alt=""/>
    </div>

</div>
