<div id="interviewContentNavigation" class="baseListBox">

  <% remote_form_for content,
                     :url => interview_searches_path,
                     :update => 'search-results',
                     :before => "$('interview_search_overlay').show()",
                     :complete => "$('interview_search_overlay').hide();$('search-results-toggle').show();openContainer('search-results-toggle');",
                     :html => { :action => '',
                                :method => :get,
                                :name => "search-in-interview",
                                :id => "search_in_interview" } do |search| %>

    <div id="interviewSearch">
        <h2><label for="fulltext">Suche in &#145;<%= content %>&#146;</label></h2>
        <%= text_field_tag 'fulltext', @search.fulltext || t('search_term'), :id => "interview_fulltext" %>
        <%= hidden_field_tag 'id', @interview.archive_id %>
        <%= submit_tag 'suchen', :type => :image, :src => image_path('pfeil_rot_rechts_quad.gif'), :id => 'seach_in_interview_submit', :class => "baseInputSearch" %>
        <%#= search.text_field :fulltext, :size => 30, :id => 'searchInput', :class => 'baseInputSearch', :title => 'Suchbegriff bitte hier eingeben', :onFocus => "clearFulltextField('searchInput');" %>
    </div>

  <% end %>

  <% javascript_tag do %>
      $('interview_fulltext').value = '<%= @search.fulltext || t('search_term') %>';
  <% end %>

  <% show_segments = !@search.matching_segments_for(@interview.archive_id).empty? %>
  <div id="search-results-toggle" class="<%= show_segments ? 'open' : 'closed'%> container-toggle" style="<%= show_segments ? '' : 'display:none;' %>" onclick="toggleContainer('search-results-toggle', true);">
    <h2><%= t('search_results', :scope => 'user_interface.labels') %></h2>
    <% if show_segments %>
    <span class="hits">(<%= @search.matching_segments_for(@interview.archive_id).size %>)</span>
    <% end %>
  </div>
  <div id="search-results" class="container" style="<%= show_segments ? '' : 'display:none;'%>">
    <%= render :partial => 'segments', :object => @search.matching_segments_for(@interview.archive_id) %>
  </div>

  <% if content.has_headings? %>
  <div id="headings-toggle" class="open container-toggle" onclick="toggleContainer('headings-toggle', true);">
    <h2><%= t('headings', :scope => 'user_interface.labels') %></h2>
  </div>
  <div id="headings" class="container" style="">
    <%= render :partial => 'headings', :object => content %>
  </div>
  <% end %>

  <div id="my-results-toggle" class="closed container-toggle" onclick="toggleContainer('my-results-toggle');">
    <h2><%= t('my_search', :scope => 'user_interface.labels') %></h2>
  </div>
  <div id="my-results" class="container" style="display:none;">Noch keine Rechercheergebnisse gespeichert.</div>

  <div id="interview_search_overlay" class="overlay" style="display:none;"><img class="spinner_search" src="<%= image_path 'spinner.gif' %>" title="" alt="" /></div>

</div>