<div id="containerForcedLabor"  class="container">
    <ul class="data">
      <li>
        <span class="label"><%= Interview.human_attribute_name(:forced_labor_groups) %></span>
        <span class="value"><%= forced_labor.forced_labor_groups.map{|f| t(f, :scope => 'categories.forced_labor_groups')}.join(', ') %></span>
      </li>
      <li>
        <span class="label"><%= Interview.human_attribute_name(:deportation) %></span>
        <span class="value"><%= [ forced_labor.deportation_location, format_date(forced_labor.deportation_date) ].compact.join(',&nbsp;') %></span>
      </li>
      <li>
        <span class="label"><%= Interview.human_attribute_name(:forced_labor_fields) %></span>
        <span class="value"><%= forced_labor.forced_labor_fields.map{|f| t(f, :scope => 'categories.forced_labor_fields')}.join(', ') %></span>
      </li>
      <% unless forced_labor.forced_labor_details.blank? %>
      <li>
        <span class="label"><%= Interview.human_attribute_name(:forced_labor_details) %></span>
        <span class="value"><%= forced_labor.forced_labor_details %></span>
      </li>
      <% end %>
      <li>
        <span class="label"><%= Interview.human_attribute_name(:forced_labor_locations) %></span>
        <span class="value"><%= forced_labor.forced_labor_locations %></span>
      </li>
      <li>
        <span class="label"><%= Interview.human_attribute_name(:forced_labor_habitations) %></span>
        <span class="value"><%= forced_labor.forced_labor_habitations.map{|l| t(l, :scope => 'categories.forced_labor_habitations')}.join(', ') %></span>
      </li>
      <li>
        <span class="label"><%= Interview.human_attribute_name(:punishment) %></span>
        <span class="value"><%= forced_labor.punishment || t(:not_specified, :scope => 'status') %></span>
      </li>
      <li>
        <span class="label"><%= Interview.human_attribute_name(:liberation_date) %></span>
        <span class="value"><%= format_date forced_labor.liberation_date %></span>
      </li>
      <li>
        <span class="label"><%= Interview.human_attribute_name(:return_locations) %></span>
        <span class="value"><%= forced_labor.return_locations || t(:unknown, :scope => 'status') %></span>
      </li>
      <% unless forced_labor.return_date.blank? %>
      <li>
        <span class="label"><%= Interview.human_attribute_name(:return_date) %></span>
        <span class="value"><%= format_date forced_labor.return_date %></span>
      </li>
      <% end %>
    </ul>
</div>