<div id="image_carousel" class="contentGallery" style="opacity: 0.3;" onmouseover="fadeInGallery();">
    <a href="javascript:" class="carousel-control back" rel="prev"><%= t('back', :scope => 'user_interface.player') %></a>
    <div id="gallery_content">
        <ul id="image_row" style="width:<%= (@interview.photos.size * 117) %>px;">
        <% @interview.photos.each_with_index do |photo, index| %>
          <%
             photo_caption_locale = display_locale(photo)
             photo_caption = (photo.caption(photo_caption_locale).blank? ? '' : photo.caption(photo_caption_locale))
             if photo_caption_locale != I18n.locale then
               photo_caption += " (#{I18n.t('user_interface.messages.no_photo_captions_in_your_language')})"
             end
          %>
          <li class="slide">
            <%= link_to image_tag(photo.photo.url(:thumb)), image_path(photo.photo.url(:original)), :rel => "lightbox[#{@interview.archive_id}]", :title => photo_caption  %>
          </li>
        <% end %>
        </ul>
    </div>
    <a href="javascript:" class="carousel-control forward" rel="next"><%= t('forward', :scope => 'user_interface.player') %></a>
    <noscript>
        <span class="warning">
        JavaScript ist in Ihrem Browser deaktiviert. Bitte aktivieren Sie JavaScript.<br />
        Die Bildergalerie auf dieser Seite ist für die Darstellung mit JavaScript optimiert.
        </span>
    </noscript>
</div>

<% javascript_tag do %>
    galleryElem = $('image_carousel');
    new Carousel('gallery_content', $$('#image_row .slide'), $$('a.carousel-control'), { wheel: false, visibleSlides: <%= (@interview.photos.size < 5) ? @interview.photos.size : 5 %> } );
    var LightboxOptions = {
        fileLoadingImage:        '<%= ActionController::Base.relative_url_root %>/images/lightbox/loading.gif',
        fileBottomNavCloseImage: '<%= ActionController::Base.relative_url_root %>/images/lightbox/close.gif',

        overlayOpacity: 0.8,   // controls transparency of shadow overlay

        animate: true,         // toggles resizing animations
        resizeSpeed: 7,        // controls the speed of the image resizing animations (1=slowest and 10=fastest)

        borderSize: 10,         //if you adjust the padding in the CSS, you will need to update this variable

        // When grouping images this is used to write: Image # of #.
        // Change it for non-english localization
        labelImage: "<%= t(:image, :scope => 'photos') %>",
        labelOf: "<%= t(:of, :scope => 'photos') %>"
    }
    new Lightbox();
<% end %>
