<div id="image_carousel" class="contentGallery">
    <a href="javascript:" class="carousel-control back" rel="prev"><%= t('back', :scope => 'user_interface.player') %></a>
    <div id="gallery_content">
        <ul id="image_row" style="width:<%= (@interview.photos.size * 108) %>px;">
        <% @interview.photos.each do |photo| %>
          <li class="slide"><%= image_tag photo.photo.url(:thumb) %></li>
        <% end %>
        </ul>
    </div>
    <a href="javascript:" class="carousel-control forward" rel="next"><%= t('forward', :scope => 'user_interface.player') %></a>

    <noscript>
      <h4>
        JavaScript ist in Ihrem Browser deaktiviert. Bitte aktivieren Sie JavaScript.<br />
        Die Bildergalerie auf dieser Seite ist für die Darstellung mit JavaScript optimiert.
      </h4>
    </noscript>

    <% javascript_tag do %>
        new Carousel('gallery_content', $$('#image_row .slide'), $$('a.carousel-control'), { wheel: false, visibleSlides: <%= (@interview.photos.size < 6) ? @interview.photos.size : 6 %> } );
    <% end %>
</div>