<table id="interview_headings" class="mainheadings">
  <tbody>
    <% headings_hash = hashed_headings_from_array(@interview.headings) %>
    <% headings_hash.keys.sort.each do |section| %>
      <% mainheading = headings_hash[section] %>
      <tr id="<%= mainheading[:id] %>" class="mainheading">
        <td class="section"><%= section %>.</td>
        <td class="heading">
            <a href="javascript:current_player.seek(<%= mainheading[:item] + "," + mainheading[:pos]  %>);">
                <%= mainheading[:title] %>
                <span class="timecode"><%= mainheading[:timecode] %></span>
            </a>
            <ul id="subheadings_for_<%= section %>" class="subheadings">
              <% mainheading[:subheadings].each_with_index do |subheading, index| %>
                <li id="<%= subheading[:id] %>" class="subheading">
                    <a href="javascript:current_player.seek(<%= subheading[:item] + "," + subheading[:pos]  %>);" class="heading">
                        <%= "#{section}.#{index + 1}."  %>
                        <%= subheading[:title] %>
                    </a>
                    <span class="timecode"><%= subheading[:timecode] %></span>
                </li>
              <% end %>
            </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% javascript_tag do %>
    var currentSection = null;
    function switchToSection(num) {
        if(currentSection) {
            currentSection.removeClassName('current');
        }
        if(currentSection.id = num) {
            currentSection = null;
        } else {
            var new_section = $(num);
            if(new_section) {
                new_section.addClassName('current');
            }
            currentSection = new_section;
        }
    }
<% end %>