<div id="containerInterview" class="active container">

  <ul class="data">
    <li>
      <span class="label"><%= Interview.human_attribute_name('duration') %></span>
      <span class="value"><%= interview.video ? t(:video_interview, :scope => 'media') : t(:audio_interview, :scope => 'media') %>&nbsp;<%= interview.duration.minimal %></span>
    </li>
    <li>
      <span class="label"><%= Interview.human_attribute_name('interview_date') %></span>
      <span class="value"><%= (Time.now - 6.years).strftime('%d.%m.%Y') || t(:not_specified, :scope => 'status') %></span>
    </li>
    <li>
      <span class="label"><%= Interview.human_attribute_name('interviewers') %></span>
      <span class="value"><%= interview.interviewers || t(:not_specified, :scope => 'status') %></span>
    </li>
    <li>
      <span class="label"><%= Interview.human_attribute_name('transcriptors') %></span>
      <span class="value"><%= interview.transcriptors || t(:not_specified, :scope => 'status') %></span>
    </li>
    <li>
      <span class="label"><%= Interview.human_attribute_name('language') %></span>
      <span class="value"><%= interview.languages.map{|f| t(f, :scope => 'categories.languages')}.join(' / ') %>
        <% unless interview.language.downcase == "deutsch" %>
        ,&nbsp;<%= interview.translated ? t(:translated, :scope => 'status') : t(:not_translated, :scope => 'status') %>
        <% end %>
      </span>
    </li>
    <% %w( translators researchers proofreaders segmentators ).each do |attr| %>
      <% value = interview.send(attr) %>
      <% unless value.blank? %>
    <li>
      <span class="label"><%= Interview.human_attribute_name(attr) %></span>
      <span class="value"><%= value || t(:not_specified, :scope => 'status') %></span>
    </li>
      <% end %>
    <% end %>
    <li>
      <span class="label"><%= Interview.human_attribute_name('collection') %></span>
      <span class="value"><%= t(interview.collection, :scope => 'collections.name') %></span>
    </li>
    <li>
      <span class="label"><%= Interview.human_attribute_name(:archive_id) %></span>
      <span class="value"><%= interview.archive_id %></span>
    </li>
  </ul>

    <ul id="interviewDocuments">
      <li><a href="za004_bg.pdf" target="_blank"><%= t(:biography, :scope => 'user_interface.labels') %> <%= @interview.short_title %> (pdf)</a></li>
      <li><a href="za004_tr.pdf" target="_blank"><%= t(:transcript, :scope => 'user_interface.labels') %> (pdf)</a></li>
      <li><a href="za004_tr.pdf" target="_blank"><%= t(:translation, :scope => 'user_interface.labels') %> (pdf)</a></li>
    </ul>

</div>