<%= javascript_include_tag "jwplayer" %>
<!--<div id="leftColumn">-->

  <!--
  <div id="tabsVideo">
    <ul>
      <% if @interview.video == 'Video' %>
        <li id="tabHigh" class="active">
          <p onclick="currentPlayer = players['player_high']; Element.show('playerHigh'); Element.hide('playerLow'); Element.addClassName('tabHigh', 'active'); Element.removeClassName('tabLow', 'active');">Video (hohe Qualität)</p>
        </li>
        <li id="tabLow">
          <p onclick="currentPlayer = players['player_low'];Element.show('playerLow'); Element.addClassName('tabLow', 'active'); Element.hide('playerHigh'); Element.removeClassName('tabHigh', 'active');">Video (mittlere Qualität)</p>
        </li>
      <% else %>
        <li id="tabAudio" class="active"><p>Audio</p></li>
      <% end %>
    </ul>
  </div>

  <br class="clear" />
  //-->
  
  <div id="containerHigh" class="containerVideo">

    <% if @interview.video == 'Video' %>

    <div id="playerHigh" class="playerContainer">
      <div id="mediaspace_high" class="player">
        <h4>Der Medien-Player konnte nicht geladen werden!</h4>
        <noscript>
          <p>Für die korrekte Darstellung des Medien-Player muss JavaScript in Ihrem Browser aktiviert sein!</p>
        </noscript>
        <script type="text/javascript">
          document.writeln('Bitte &uuml;berpr&uuml;fen Sie, ob Sie eine aktuelle Version des Flash-Players installiert haben. Deaktivieren Sie gegebenenfalls für diese Seite Programme, die Webinhalte filtern, wie zum Beispiel Werbeblocker.');
        </script>
      </div>
    </div>

    <div id="playerLow" class="playerContainer" style="display: none;">
      <div id="mediaspace_low" class="player">
        <h4>Der Medien-Player konnte nicht geladen werden!</h4>
        <noscript>
          <p>Für die korrekte Darstellung des Medien-Player muss JavaScript in Ihrem Browser aktiviert sein!</p>
        </noscript>
        <script type="text/javascript">
          document.writeln('Bitte &uuml;berpr&uuml;fen Sie, ob Sie eine aktuelle Version des Flash-Players installiert haben. Deaktivieren Sie gegebenenfalls für diese Seite Programme, die Webinhalte filtern, wie zum Beispiel Werbeblocker.');
        </script>
      </div>
    </div>
    
    <% else %>

    <div id="playerAudio" class="playerContainer">
      <div id="mediaspace_audio" class="player">
        <h4>Der Medien-Player konnte nicht geladen werden!</h4>
        <noscript>
          <p>Für die korrekte Darstellung des Medien-Player muss JavaScript in Ihrem Browser aktiviert sein!</p>
        </noscript>
        <script type="text/javascript">
          document.writeln('Bitte &uuml;berpr&uuml;fen Sie, ob Sie eine aktuelle Version des Flash-Players installiert haben. Deaktivieren Sie gegebenenfalls für diese Seite Programme, die Webinhalte filtern, wie zum Beispiel Werbeblocker.');
        </script>
      </div>
    </div>

    <% end %>

    <div class="playerControl">
        <div id="language_select">
          <% if @interview.language.downcase == 'deutsch' %>
            <a id="original" class="captions_orig active" href="javascript:void(0);"><%= @interview.language.downcase %></a>
          <% else %>
            <%= link_to(@interview.language.downcase, 'javascript:currentPlayer.setCaptionsLanguage("original")', :id => "original", :class => "captions_orig active", :onClick => "$('original').addClassName('active');$('translated').removeClassName('active');") %>
            <% if @interview.translated? %>
              <%= link_to('deutsch', 'javascript:currentPlayer.setCaptionsLanguage("de")', :id => "translated", :class => "captions_trans", :onClick => "$('original').removeClassName('active');$('translated').addClassName('active');") %>
            <% else %>
              <a id="translated" class="captions_trans disabled" href="javascript:void(0);">deutsch</a>
            <% end %>
          <% end %>
        </div>
        <div id="volumeMuteButton" class="unmute" onClick="currentPlayer.toggleMute();"></div>
        <div id="volumeSelect">
          <div id="volumeOn"></div>
        </div>

        <div class="interviewinfo"><%= @interview.video ? 'Video' : 'Audio' %>: <%= "#{@interview.duration.minimal}" %></div>
        <div class="itemselection">
          Band:
          <select id="player_item" name="player_item" onChange="currentPlayer.changeItem(this.value);">
          <% @interview.tapes.count.times do |item| %>
            <option value="<%= item %>"><%= (item+1) %> von <%= @interview.tapes.count %></option>
          <% end %>
          </select>
        </div>
    </div>

    <div id="captions_wrapper">
        <div id="captions">
          <div id="captions-0" class="captions-slide"></div>
          <div id="captions-1" class="captions-slide"></div>
          <div id="captions-2" class="captions-slide"></div>
        </div>
        <div class="back">
            <%= link_to_function(t('back', :scope => 'user_interface.player'), 'void(0);') %>
        </div>
        <div class="forward">
            <%= link_to_function(t('forward', :scope => 'user_interface.player'), 'void(0);') %>
        </div>
    </div>

    <% javascript_tag do %>

      var playerSettings = {
        id                        : '',
        jwplayerSpace             : '',
        jwplayerFile              : '/swf/player.swf',
        captionsPluginFile        : '/swf/captions.swf',
        skin                      : '/swf/zwar.swf',
        height                    : '335',
        width                     : '400',
        backcolor                 : '990000',
        frontcolor                : '999999',
        lightcolor                : 'ffffff',
        captionsSpace             : 'captions',
        captionsLanguage          : 'original', // 'original', 'de'
        whilePlaying              : fadeOutGallery,
        onVolume                  : 'drawVolumeBar(this.volume)',
        onMute                    : 'drawMuteButton(this.mute)',
        slideClass                : 'captions-slide',
        call_item                 : 'if(currentPlayer==this){$("player_item").selectedIndex = this.item;};',
        call_position             : 'markHeading(currentPlayer.item, currentPlayer.position);',
        startItem                 : <%= params['item'] == nil ? "null" : (params['item'].to_i - 1) %>,
        startPosition             : <%= params['position'] == nil ? "null" : params['position'].to_i %>
      };

      <% if @interview.video == 'Video' %>

        // high quality video player
        playerSettings.id = 'player_high';
        playerSettings.jwplayerSpace = 'mediaspace_high';
        var player_high = new Player("<%= playlist_high_interview_tapes_path(@interview, :format => :xml) %>", playerSettings);

        // low quality video player
        playerSettings.id = 'player_low';
        playerSettings.jwplayerSpace = 'mediaspace_low';
        var player_low = new Player("<%= playlist_low_interview_tapes_path(@interview, :format => :xml) %>", playerSettings);

      <% else %>

        // audio player
        playerSettings.id = 'player_audio';
        playerSettings.jwplayerSpace = 'mediaspace_audio';
        var player_audio = new Player("<%= playlist_audio_interview_tapes_path(@interview, :format => :xml) %>", playerSettings);

      <% end %>

    <% end %>
	</div>

<% # TODO: styling and interaction with player %>
<% javascript_tag do %>
  Event.observe('volumeSelect', 'click', setVolume);
<% end %>