<%= javascript_include_tag "/jw_player/lib/jwplayer_access" %>
<!--<div id="leftColumn">-->

  <!--
  <div id="tabsVideo">
    <ul>
      <% if @interview.video == 'Video' %>
        <li id="tabHigh" class="active">
          <p onclick="current_player = players['player_high']; Element.show('playerHigh'); Element.hide('playerLow'); Element.addClassName('tabHigh', 'active'); Element.removeClassName('tabLow', 'active');">Video (hohe Qualität)</p>
        </li>
        <li id="tabLow">
          <p onclick="current_player = players['player_low'];Element.show('playerLow'); Element.addClassName('tabLow', 'active'); Element.hide('playerHigh'); Element.removeClassName('tabHigh', 'active');">Video (mittlere Qualität)</p>
        </li>
      <% else %>
        <li id="tabAudio" class="active"><p>Audio</p></li>
      <% end %>
    </ul>
  </div>

  <br class="clear" />
  //-->
  
  <div id="containerHigh" class="containerVideo">

    <% if @interview.video == 'Video' %>

    <div id="playerHigh" class="playerContainer">
      <div id="mediaspace_high" class="player">
        <h4>Der Medien-Player konnte nicht geladen werden!</h4>
        <noscript>
          <p>Für die korrekte Darstellung des Medien-Player muss JavaScript in Ihrem Browser aktiviert sein!</p>
        </noscript>
        <script type="text/javascript">
          document.writeln('Bitte &uuml;berpr&uuml;fen Sie, ob Sie eine aktuelle Version des Flash-Players installiert haben. Deaktivieren Sie gegebenenfalls für diese Seite Programme, die Webinhalte filtern, wie zum Beispiel Werbeblocker.');
        </script>
      </div>
    </div>

    <div id="playerLow" class="playerContainer" style="display: none;">
      <div id="mediaspace_low" class="player">
        <h4>Der Medien-Player konnte nicht geladen werden!</h4>
        <noscript>
          <p>Für die korrekte Darstellung des Medien-Player muss JavaScript in Ihrem Browser aktiviert sein!</p>
        </noscript>
        <script type="text/javascript">
          document.writeln('Bitte &uuml;berpr&uuml;fen Sie, ob Sie eine aktuelle Version des Flash-Players installiert haben. Deaktivieren Sie gegebenenfalls für diese Seite Programme, die Webinhalte filtern, wie zum Beispiel Werbeblocker.');
        </script>
      </div>
    </div>
    
    <% else %>

    <div id="playerAudio" class="playerContainer">
      <div id="mediaspace_audio" class="player">
        <h4>Der Medien-Player konnte nicht geladen werden!</h4>
        <noscript>
          <p>Für die korrekte Darstellung des Medien-Player muss JavaScript in Ihrem Browser aktiviert sein!</p>
        </noscript>
        <script type="text/javascript">
          document.writeln('Bitte &uuml;berpr&uuml;fen Sie, ob Sie eine aktuelle Version des Flash-Players installiert haben. Deaktivieren Sie gegebenenfalls für diese Seite Programme, die Webinhalte filtern, wie zum Beispiel Werbeblocker.');
        </script>
      </div>
    </div>

    <% end %>

    <div class="playerControl">
        <div id="language_select">
          <% if @interview.language.downcase == 'deutsch' %>
            <a id="original" class="captions_orig active" href="javascript:current_player.translateCaptions(false);"><%= @interview.language.downcase %></a>
          <% else %>
            <a id="original" class="captions_orig active" href="javascript:current_player.translateCaptions(false);" onclick="$('original').addClassName('active');$('translated').removeClassName('active');"><%= @interview.language.downcase %></a>
            <% if @interview.translated? %>
            <a id="translated" class="captions_trans" href="javascript:current_player.translateCaptions(true);" onclick="$('original').removeClassName('active');$('translated').addClassName('active');">deutsch</a>
            <% else %>
            <a id="translated" class="captions_trans disabled" href="javascript:void(0);">deutsch</a>
            <% end %>
          <% end %>
        </div>
        <div id="volumeMute" style="width: 15px; padding: 0; margin: 3px 0 0 0;"><%= link_to_function (image_tag "player_speaker_n.gif"), "" %></div>
        <div id="volumeSelect" style="width: 50px; height: 8px; margin: 5px 0 0 0; padding: 0;">
          <div id="volumeOn" style="background-color: #fff; width: 14px; height: 100%; padding: 0; margin: 0;"></div>
          <div id="volumeOff" style="background-color: #730f0f; width: 36px; height: 100%; padding: 0; margin: 0;"></div>
        </div>
        <% # TODO: styling and interaction with player %>
        <% javascript_tag do %>
          Event.observe('volumeSelect', 'click', function(event) {
            var width = $('volumeSelect').getWidth();
            var proportion = 100 / width;
            var on = ((Event.pointerX(event)) - ($('volumeSelect').cumulativeOffset().left));
            var off = (width - on);
            Element.setStyle('volumeOn', {
              width:on+'px'
            });
            Element.setStyle('volumeOff', {
              width:off+'px'
            });
        });
        <% end %>

        <div class="interviewinfo"><%= @interview.video ? 'Video' : 'Audio' %>: <%= "#{@interview.duration.minimal}" %></div>
        <div class="itemselection">
          Band:
          <select id="player_item" name="player_item" onChange="current_player.changeItem(this.value);">
          <% @interview.tapes.count.times do |item| %>
            <option value="<%= item %>"><%= (item+1) %> von <%= @interview.tapes.count %></option>
          <% end %>
          </select>
        </div>
    </div>

    <div id="captions_wrapper">
        <div id="captions" class="captions_original">
          <div id="captions-0" class="captions-slide"></div>
          <div id="captions-1" class="captions-slide"></div>
          <div id="captions-2" class="captions-slide"></div>
        </div>
        <div class="back">
            <%= link_to_function(t('back', :scope => 'user_interface.player'), 'void(0);') %>
        </div>
        <div class="forward">
            <%= link_to_function(t('forward', :scope => 'user_interface.player'), 'void(0);') %>
        </div>
    </div>

    <script type="text/javascript">

    <% if @interview.video == 'Video' %>

      var player_high = new Player("<%= playlist_high_interview_tapes_path(@interview, :format => :xml) %>", {
        jwplayer_file:            '/jw_player/lib/player.swf',
        captions_plugin_file:     '/jw_player/lib/captions.swf',
        skin:                     '/jw_player/skins/zwar.swf',
        height:                   '335',
        width:                    '400',
        backcolor:                '990000',
        frontcolor:               '999999',
        lightcolor:               'ffffff',
        player_id:                'player_high',
        content_id:               'mediaspace_high',
        whilePlaying:              fadeOutGallery,
        slide_class:              'captions-slide',
        call_item:                'if(current_player==this){$("player_item").selectedIndex = this.item;};',
        call_position:            'markHeading(current_player.item, current_player.position);',
        start_item:               <%= params['item'] == nil ? "null" : (params['item'].to_i - 1) %>,
        start_position:           <%= params['position'] == nil ? "null" : params['position'].to_i %>
      });

      var player_low = new Player("<%= playlist_low_interview_tapes_path(@interview, :format => :xml) %>", {
        jwplayer_file:            '/jw_player/lib/player-4.6.485.swf',
        captions_plugin_file:     '/jw_player/lib/captions-10',
        skin:                     '/jw_player/skins/zwar.swf',
        height:                   '335',
        width:                    '400',
        backcolor:                '990000',
        frontcolor:               '999999',
        lightcolor:               'ffffff',
        player_id:                'player_low',
        content_id:               'mediaspace_low',
        whilePlaying:              fadeOutGallery,
        slide_class:              'captions-slide',
        call_item:                'if(current_player==this){$("player_item").selectedIndex = this.item;}',
        call_position:            'markHeading(current_player.item, current_player.position);'
      });

    <% else %>

      var player_audio = new Player("<%= playlist_audio_interview_tapes_path(@interview, :format => :xml) %>", {
        jwplayer_file:            '/jw_player/lib/player-4.6.485.swf',
        captions_plugin_file:     '/jw_player/lib/captions-10',
        skin:                     '/jw_player/skins/zwar.swf',
        height:                   '335',
        width:                    '400',
        backcolor:                '990000',
        frontcolor:               '999999',
        lightcolor:               'ffffff',
        player_id:                'player_audio',
        content_id:               'mediaspace_audio',
        slide_class:              'captions-slide',
        call_item:                'if(current_player==this){$("player_item").selectedIndex = this.item;}',
        call_position:            'markHeading(current_player.item, current_player.position);'
      });

    <% end %>

    </script>
	</div>