<div id="mediaContainer" class="containerVideo<%= !@interview.segmented? ? ' no-transcript' : '' %>">

  <%= @player = interview_player(@interview) %>

  <div class="playerControl">

    <div id="language_select">
    <% if @interview.language == 'Deutsch' %>
      <a id="original" class="captions_orig active" href="javascript:void(0);"><%= @interview.language %></a>
    <% else %>
      <%= content_tag(:div,
                      formatted_language(@interview),
                      :id => "original",
                      :class => "captions_orig#{(!@interview.translated? || !@interview.segmented? || I18n.locale != :de) ? ' active' : ''}",
                      :onClick => "$('#{@player.segments_container_id_for 'transcript'}').show();$('#{@player.segments_container_id_for 'translation'}').hide();$('original').addClassName('active');$('translated').removeClassName('active');") %>
      <% if @interview.translated? && @interview.segmented? %>
        <%= content_tag(:div, t(:german),
                        :id => "translated",
                        :class => "captions_trans#{I18n.locale == :de ? ' active' : ''}",
                        :onClick => "$('#{@player.segments_container_id_for 'translation'}').show();$('#{@player.segments_container_id_for 'transcript'}').hide();$('original').removeClassName('active');$('translated').addClassName('active');") %>
      <% end %>
    <% end %>
    </div>

    <div id="volumeMuteButton"><%= @player.mute_control %></div>
    <div id="volumeSelect"><%= @player.volume_control %></div>
    <div class="interviewinfo"><%= "#{@interview.duration.minimal}" %></div>
    <div class="itemselection">
      <%= t(:tape, :scope => 'media') %>:
      <%= @player.items_selector(@interview.tapes.size) %>
    </div>
  </div>

  <div id="captions_wrapper">
    <div id="captions">
    <% if !@interview.segmented? %>
      <span class="notice"><%= t(:no_transcript, :scope => 'user_interface.player' ) %></span>
    <% else %>
      <%= @player.segments_container_for 'transcript', :span, { :style => (@interview.translated? ? "display: none;" : ''), :slides => true, :dir => interview_direction(@interview) }, citation_for(@interview.citation_hash, false) %>
      <%= @player.segments_container_for 'translation', :span, { :style => (@interview.translated? ? '' : "display: none;"), :slides => true }, citation_for(@interview.citation_hash, true) %>
    <% end %>
    </div>
    <div id="annotate_segment">
      <span id="annotate_new_segment" class="new" style="display: none;">
        <%= link_to t('user_interface.actions.annotate_segment'), '#',
                    url: segment_annotation_user_contents_path,
                    class: 'annotate-action open_modal' -%>
                             <%#{:parameters => {'type' => 'UserAnnotation'},%>
                             <%#:dynamic_parameters => {:media_id => 'archiveplayer(\'interview-player\').segmentMediaID'},%>
                             <%#:on_create => "pauseOnAnnotation()"%>
                             <%#}),%>
      </span>
      <span id="annotate_existing_segment" class="existing" style="display: none;">
        <%= link_to t('user_interface.actions.show_existing_annotation'),
                    url: segment_annotation_user_contents_path,
                    class: 'annotate-action'-%>
                             <%#{:parameters => {:type => 'UserAnnotation'},%>
                             <%#:dynamic_parameters => {:media_id => 'archiveplayer(\'interview-player\').segmentMediaID'},%>
                             <%#:on_create => "pauseOnAnnotation()"%>
                             <%#}),%>
      </span>
    </div>
  </div>

  <%= javascript_tag do %>
    var headings = null;

    <%# Fallback rules. %>
    <% if @interview.translated? && @interview.segmented? && I18n.locale == :de %>
      $('<%= @player.segments_container_id_for 'transcript' %>').hide();
      $('<%= @player.segments_container_id_for 'translation' %>').show();
    <% else %>
      $('<%= @player.segments_container_id_for 'transcript' %>').show();
      $('<%= @player.segments_container_id_for 'translation' %>').hide();
    <% end %>

    function pauseOnAnnotation() {
      var playerWrapper = archiveplayer('interview-player');
      if(playerWrapper.getState() == 'PLAYING') {
        playerWrapper.pause();
      }
    }
    function resumeAfterAnnotation() {
      var playerWrapper = archiveplayer('interview-player');
      if(playerWrapper.getState() == 'IDLE') {
        playerWrapper.play();
      }
    }
  <% end %>
</div>
