<div id="mediaContainer" class="containerVideo<%= !@interview.segmented? ? ' no-transcript' : '' %>">

  <%= @player = interview_player(@interview) %>

  <div class="playerControl">

    <div id="language_select">
    <% if @interview.language.downcase == 'deutsch' %>
      <a id="original" class="captions_orig active" href="javascript:void(0);"><%= @interview.languages.map{|f| t(f, :scope => 'mediaplayer.languages')}.join(' / ') %></a>
    <% else %>
      <%= content_tag(:div,
                      formatted_languages(@interview),
                      :id => "original",
                      :class => "captions_orig#{(!@interview.translated? || !@interview.segmented?) ? ' active' : ''}",
                      :onClick => "$('#{@player.segments_container_id_for 'transcript'}').show();$('#{@player.segments_container_id_for 'translation'}').hide();$('original').addClassName('active');$('translated').removeClassName('active');") %>
      <% if @interview.translated? && @interview.segmented? %>
        <%= content_tag(:div,
                        t('Deutsch', :scope => 'mediaplayer.languages'),
                        :id => "translated",
                        :class => "captions_trans active",
                        :onClick => "$('#{@player.segments_container_id_for 'translation'}').show();$('#{@player.segments_container_id_for 'transcript'}').hide();$('original').removeClassName('active');$('translated').addClassName('active');") %>
      <% else %>
        <a id="translated" class="captions_trans disabled" href="javascript:void(0);"><%= t('Deutsch', :scope => 'mediaplayer.languages') %></a>
      <% end %>
    <% end %>
    </div>

    <div id="volumeMuteButton"><%= @player.mute_control %></div>
    <div id="volumeSelect"><%= @player.volume_control %></div>
    <div class="interviewinfo"><%= "#{@interview.duration.minimal}" %></div>
    <div class="itemselection">
      <%= t(:tape, :scope => 'media') %>:
      <%= @player.items_selector(@interview.tapes.size) %>
    </div>
  </div>

  <div id="captions_wrapper">
    <div id="captions">
    <% if !@interview.segmented? %>
      <span class="notice"><%= t(:no_transcript, :scope => 'user_interface.player' ) %></span>
    <% else %>
      <%= @player.segments_container_for 'transcript', :span, { :style => (@interview.translated? ? "display: none;" : ''), :slides => true, :dir => interview_direction(@interview) }, citation_for(@interview.citation_hash, false) %>
      <%= @player.segments_container_for 'translation', :span, { :style => (@interview.translated? ? '' : "display: none;"), :slides => true }, citation_for(@interview.citation_hash, true) %>
    <% end %>
    </div>
    <%#TODO: back and forward buttons %>
    <!--
    <div class="back">
        <%= link_to_function(t('back', :scope => 'user_interface.player'), 'void(0);') %>
    </div>
    <div class="forward">
        <%= link_to_function(t('forward', :scope => 'user_interface.player'), 'void(0);') %>
    </div>
    //-->
    <div id="annotate_segment">
      <span id="annotate_new_segment" class="new" style="display: none;">
        <%= link_to_function t(:annotate_segment, :scope => 'user_interface.actions'),
                             javascript_open_modal_window(segment_annotation_user_contents_path,
                             {:parameters => {'type' => 'UserAnnotation'},
                             :dynamic_parameters => {:media_id => 'archiveplayer(\'interview-player\').segmentMediaID'},
                             :on_create => "pauseOnAnnotation()"
                             }),
                             :class => 'annotate-action' -%>
      </span>
      <span id="annotate_existing_segment" class="existing" style="display: none;">
        <%= link_to_function t(:show_existing_annotation, :scope => 'user_interface.actions'),
                             javascript_open_modal_window(segment_annotation_user_contents_path,
                             {:parameters => {:type => 'UserAnnotation'},
                             :dynamic_parameters => {:media_id => 'archiveplayer(\'interview-player\').segmentMediaID'},
                             :on_create => "pauseOnAnnotation()"
                             }),
                             :class => 'annotate-action'-%>
      </span>
    </div>
  </div>

  <% javascript_tag do %>
    var headings = null;

    function pauseOnAnnotation() {
      var playerWrapper = archiveplayer('interview-player');
      if(playerWrapper.getState() == 'PLAYING') {
        playerWrapper.pause();
      }
    }
    function resumeAfterAnnotation() {
      var playerWrapper = archiveplayer('interview-player');
      if(playerWrapper.getState() == 'IDLE') {
        playerWrapper.play();
      }
    }
  <% end %>
</div>