<%= javascript_include_tag "/jw_player/lib/jwplayer_access" %>
<!--<div id="leftColumn">-->

<div style="float: left;">

<div id="tabsVideo">
	<ul>
    <% if @interview.video %>
      <li id="tabHigh" class="active">
        <p onclick="Element.show('containerHigh'); Element.hide('containerLow'); Element.addClassName('tabHigh', 'active'); Element.removeClassName('tabLow', 'active');">Video (hohe Qualität)</p>
			</li>
      <!--
			<li id="tabLow">
        <p onclick="Element.show('containerLow'); Element.addClassName('tabLow', 'active'); Element.hide('containerHigh'); Element.removeClassName('tabHigh', 'active');">Video (mittlere Qualität)</p>
			</li>
      -->
    <% else %>
      <li id="tabAudio" class="active"><p>Audio</p></li>
    <% end %>
	</ul>
</div>

<br class="clear" />

<% if @interview.video %>
  
  <div id="containerHigh" class="containerVideo">
    <div class="playerContainer">
      <div id="mediaspace_high" class="player">
        <h4>Der Medien-Player konnte nicht geladen werden!</h4>
        <noscript>
          <p>Für die korrekte Darstellung des Medien-Player muss JavaScript in Ihrem Browser aktiviert sein!</p>
        </noscript>
        <script type="text/javascript">
          document.writeln('Bitte &uuml;berpr&uuml;fen Sie, ob Sie eine aktuelle Version des Flash-Players installiert haben. Deaktivieren Sie gegebenenfalls für diese Seite Programme, die Webinhalte filtern, wie zum Beispiel Werbeblocker.');
        </script>
      </div>
    </div>

    <div id="captions" class="captions_original" style="height: 100px;"></div>
    
    <table style="width: 401px; height: 28px; margin-top: 0; margin-left: 1px;" cellpadding="0" cellspacing="0">
      <tr>
        <td style="font-size: 8pt; padding: 2px;"><b><%= @interview.video ? 'Videointerview' : 'Audiointerview' %></b>, <%= @interview.language %>, <%= "#{@interview.duration.minimal}" %></td>
        <td style="text-align: right; padding: 2px;">
                Band: <select id="player_high_item" name="player_high_item" style="font-size: 8pt;" onChange="current_player.changeItem(this.value);">
            <% @interview.tapes.count.times do |item| %>
              <option value="<%= item %>"><%= (item+1) %> von <%= @interview.tapes.count %></option>
            <% end %>
                </select>
        </td>
      </tr>
    </table>

    <div id="language_select" style="padding: 2px; height: 20px; font-size: 8pt;">
      <div style="float: left;"><strong>Transkript:</strong> <input name="langauge" value="original" type="radio" checked onClick="current_player.translateCaptions(false)" /> <%= @interview.language %></div>
      <div><input name="langauge" value="translation" type="radio" onClick="current_player.translateCaptions(true)" /> Deutsche Übersetzung</div>
    </div>

    <script type="text/javascript">

      new Player("<%= playlist_high_interview_tapes_path(@interview, :format => :xml) %>", {
        jwplayer_file:            '/jw_player/lib/player-4.6.485.swf',
        captions_plugin_file:     '/jw_player/lib/captions-10',
        skin:                     '/jw_player/skins/zwar.swf',
        backcolor:                '990000',
        frontcolor:               '999999',
        lightcolor:               'ffffff',
        player_id:                'player_high',
        content_id:               'mediaspace_high',
        call_position:            'markHeading(current_player.item, current_player.position);',
      });
      
    </script>
	</div>

  <!--

  <div id="containerLow" class="containerVideo" style="display:none">
    <div class="playerContainer">
      <div id="mediaspace_low" class="player">
        <h4>Der Medien-Player konnte nicht geladen werden!</h4>
        <noscript>
          <p>Für die korrekte Darstellung des Medien-Player muss JavaScript in Ihrem Browser aktiviert sein!</p>
        </noscript>
        <script type="text/javascript">
          document.writeln('Bitte &uuml;berpr&uuml;fen Sie, ob Sie eine aktuelle Version des Flash-Players installiert haben. Deaktivieren Sie gegebenenfalls für diese Seite Programme, die Webinhalte filtern, wie zum Beispiel Werbeblocker.');
        </script>
      </div>
    </div>

    <script type="text/javascript">
      /* <![CDATA[ */
        var s1 = new SWFObject('http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/player/player.swf','player_low','400','414','9');
        s1.addParam('allowfullscreen','true');
        s1.addParam('allowscriptaccess','always');
        s1.addParam('wmode','opaque');
        s1.addParam('flashvars','file=http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/archiv/bosnien/za046/low/index.xml&streamer=rtmp://stream03.cedis.fu-berlin.de/zwangsarbeit-archiv&link=http://www.zwangsarbeit-archiv.de&skin=http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/player/stylish.swf&backcolor=990000&frontcolor=999999&lightcolor=ffffff&playlist=bottom&stretching=none&repeat=list&playlistsize=80');
        s1.write('mediaspace_low');
      /* ]]> */
    </script>
	</div>

  -->

<% else %>

  <div id="containerAudio" class="containerVideo">
    <div class="playerContainer">
      <div id="mediaspace_audio" class="player">
        <h4>Der Medien-Player konnte nicht geladen werden!</h4><noscript><p>Für die korrekte Darstellung des Medien-Player muss JavaScript in Ihrem Browser aktiviert sein!</p></noscript><script type="text/javascript">document.writeln('Bitte &uuml;berpr&uuml;fen Sie, ob Sie eine aktuelle Version des Flash-Players installiert haben. Deaktivieren Sie gegebenenfalls für diese Seite Programme, die Webinhalte filtern, wie zum Beispiel Werbeblocker.');</script>
      </div>
    </div>

    <script type="text/javascript">
      /* <![CDATA[ */
        var s1 = new SWFObject('http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/player/player.swf','player_audio','400','414','9');
        s1.addParam('allowfullscreen','true');
        s1.addParam('allowscriptaccess','always');
        s1.addParam('wmode','opaque');
        s1.addParam('flashvars','file=http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/archiv/belarus_aachen/za004/audio/index.xml&streamer=rtmp://stream03.cedis.fu-berlin.de/zwangsarbeit-archiv&link=http://www.zwangsarbeit-archiv.de&skin=http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/player/stylish.swf&backcolor=990000&frontcolor=999999&lightcolor=ffffff&playlist=bottom&stretching=none&repeat=list&playlistsize=80');
        s1.write('mediaspace_audio');
      /* ]]> */
    </script>
  </div>

<% end %>
<!-- </div> -->
<!-- /noindex -->

</div>