<%= javascript_include_tag "/jw_player/lib/jwplayer_access" %>
<!--<div id="leftColumn">-->

  <!--
  <div id="tabsVideo">
    <ul>
      <% if @interview.video == 'Video' %>
        <li id="tabHigh" class="active">
          <p onclick="current_player = players['player_high']; Element.show('playerHigh'); Element.hide('playerLow'); Element.addClassName('tabHigh', 'active'); Element.removeClassName('tabLow', 'active');">Video (hohe Qualität)</p>
        </li>
        <li id="tabLow">
          <p onclick="current_player = players['player_low'];Element.show('playerLow'); Element.addClassName('tabLow', 'active'); Element.hide('playerHigh'); Element.removeClassName('tabHigh', 'active');">Video (mittlere Qualität)</p>
        </li>
      <% else %>
        <li id="tabAudio" class="active"><p>Audio</p></li>
      <% end %>
    </ul>
  </div>

  <br class="clear" />
  //-->
  
  <div id="containerHigh" class="containerVideo">

    <% if @interview.video == 'Video' %>

    <div id="playerHigh" class="playerContainer">
      <div id="mediaspace_high" class="player">
        <h4>Der Medien-Player konnte nicht geladen werden!</h4>
        <noscript>
          <p>Für die korrekte Darstellung des Medien-Player muss JavaScript in Ihrem Browser aktiviert sein!</p>
        </noscript>
        <script type="text/javascript">
          document.writeln('Bitte &uuml;berpr&uuml;fen Sie, ob Sie eine aktuelle Version des Flash-Players installiert haben. Deaktivieren Sie gegebenenfalls für diese Seite Programme, die Webinhalte filtern, wie zum Beispiel Werbeblocker.');
        </script>
      </div>
    </div>

    <div id="playerLow" class="playerContainer" style="display: none;">
      <div id="mediaspace_low" class="player">
        <h4>Der Medien-Player konnte nicht geladen werden!</h4>
        <noscript>
          <p>Für die korrekte Darstellung des Medien-Player muss JavaScript in Ihrem Browser aktiviert sein!</p>
        </noscript>
        <script type="text/javascript">
          document.writeln('Bitte &uuml;berpr&uuml;fen Sie, ob Sie eine aktuelle Version des Flash-Players installiert haben. Deaktivieren Sie gegebenenfalls für diese Seite Programme, die Webinhalte filtern, wie zum Beispiel Werbeblocker.');
        </script>
      </div>
    </div>
    
    <% else %>

    <div id="playerAudio" class="playerContainer">
      <div id="mediaspace_audio" class="player">
        <h4>Der Medien-Player konnte nicht geladen werden!</h4>
        <noscript>
          <p>Für die korrekte Darstellung des Medien-Player muss JavaScript in Ihrem Browser aktiviert sein!</p>
        </noscript>
        <script type="text/javascript">
          document.writeln('Bitte &uuml;berpr&uuml;fen Sie, ob Sie eine aktuelle Version des Flash-Players installiert haben. Deaktivieren Sie gegebenenfalls für diese Seite Programme, die Webinhalte filtern, wie zum Beispiel Werbeblocker.');
        </script>
      </div>
    </div>

    <% end %>

    <div class="playerControl">
        <div id="language_select">
            <a class="captions_orig" href="javascript:current_player.translateCaptions(false);"><%= @interview.language.downcase %></a>
            <a class="captions_trans" href="javascript:current_player.translateCaptions(true);">deutsch</a>
        </div>
        <div class="volume">:<| # # # # # #</div>

        <div class="interviewinfo"><%= @interview.video ? 'Video' : 'Audio' %>: <%= "#{@interview.duration.minimal}" %></div>
        <div class="itemselection">
          Band:
          <select id="player_item" name="player_item" onChange="current_player.changeItem(this.value);">
          <% @interview.tapes.count.times do |item| %>
            <option value="<%= item %>"><%= (item+1) %> von <%= @interview.tapes.count %></option>
          <% end %>
          </select>
        </div>
    </div>

    <div id="captions" class="captions_original"></div>

    <script type="text/javascript">

    <% if @interview.video == 'Video' %>

      var player_high = new Player("<%= playlist_high_interview_tapes_path(@interview, :format => :xml) %>", {
        jwplayer_file:            '/jw_player/lib/player-4.6.485.swf',
        captions_plugin_file:     '/jw_player/lib/captions-10',
        skin:                     '/jw_player/skins/zwar.swf',
        backcolor:                '990000',
        frontcolor:               '999999',
        lightcolor:               'ffffff',
        player_id:                'player_high',
        content_id:               'mediaspace_high',
        call_item:                'if(current_player==this){$("player_item").selectedIndex = this.item;};',
        call_position:            'markHeading(current_player.item, current_player.position);',
        start_item:               <%= params['item'] == nil ? "null" : (params['item'].to_i - 1) %>,
        start_position:           <%= params['position'] == nil ? "null" : params['position'].to_i %>
      });

      var player_low = new Player("<%= playlist_low_interview_tapes_path(@interview, :format => :xml) %>", {
        jwplayer_file:            '/jw_player/lib/player-4.6.485.swf',
        captions_plugin_file:     '/jw_player/lib/captions-10',
        skin:                     '/jw_player/skins/zwar.swf',
        backcolor:                '990000',
        frontcolor:               '999999',
        lightcolor:               'ffffff',
        player_id:                'player_low',
        content_id:               'mediaspace_low',
        call_item:                'if(current_player==this){$("player_item").selectedIndex = this.item;}',
        call_position:            'markHeading(current_player.item, current_player.position);'
      });

    <% else %>

      var player_audio = new Player("<%= playlist_audio_interview_tapes_path(@interview, :format => :xml) %>", {
        jwplayer_file:            '/jw_player/lib/player-4.6.485.swf',
        captions_plugin_file:     '/jw_player/lib/captions-10',
        skin:                     '/jw_player/skins/zwar.swf',
        backcolor:                '990000',
        frontcolor:               '999999',
        lightcolor:               'ffffff',
        player_id:                'player_audio',
        content_id:               'mediaspace_audio',
        call_item:                'if(current_player==this){$("player_item").selectedIndex = this.item;}',
        call_position:            'markHeading(current_player.item, current_player.position);'
      });

    <% end %>

    </script>
	</div>