<%= javascript_include_tag "jwplayer" %>
<%= javascript_tag "var headings = null;" %>


  <div id="mediaContainer" class="containerVideo">

    <% if @interview.video == 'Video' %>

    <div id="playerHigh" class="playerContainer">
      <div id="mediaspace_high" class="player">
        <h4><%= t(:player_not_loaded, :scope => 'user_interface.messages') %></h4>
        <noscript>
          <p><%= t(:no_javascript, :scope => 'user_interface.messages') %></p>
        </noscript>
        <script type="text/javascript">
          document.writeln('<%= t(:check_flash_version, :scope => 'user_interface.messages') %>');
        </script>
      </div>
    </div>

    <div id="playerLow" class="playerContainer" style="display: none;">
      <div id="mediaspace_low" class="player">
        <h4><%= t(:player_not_loaded, :scope => 'user_interface.messages') %></h4>
        <noscript>
          <p><%= t(:no_javascript, :scope => 'user_interface.messages') %></p>
        </noscript>
        <script type="text/javascript">
          document.writeln('<%= t(:check_flash_version, :scope => 'user_interface.messages') %>');
        </script>
      </div>
    </div>

    <div id="qualityToggler" style="display: none;"></div>

    <% else %>

    <div id="playerAudio" class="playerContainer">
      <div id="mediaspace_audio" class="player">
        <h4><%= t(:player_not_loaded, :scope => 'user_interface.messages') %></h4>
        <noscript>
          <p><%= t(:player_no_javascript, :scope => 'user_interface.messages') %></p>
        </noscript>
        <script type="text/javascript">
          document.writeln(<%= t(:check_flash_version, :scope => 'user_interface.messages') %>);
        </script>
      </div>
    </div>

    <% end %>



    <div class="playerControl">
        <div id="language_select">
          <% if @interview.language.downcase == 'deutsch' %>
            <a id="original" class="captions_orig active" href="javascript:void(0);"><%= @interview.languages.map{|f| (t(f, :scope => 'categories.languages').downcase)}.join(' / ') %></a>
          <% else %>
            <%= link_to(formatted_languages(@interview), 'javascript:currentPlayer.setCaptionsLanguage("original")', :id => "original", :class => "captions_orig#{(!@interview.translated? || !@interview.segmented?) ? ' active' : ''}", :onClick => "$('original').addClassName('active');$('translated').removeClassName('active');") %>
            <% if @interview.translated? and @interview.segmented? %>
              <%= link_to(t('Deutsch', :scope => 'categories.languages').downcase, 'javascript:currentPlayer.setCaptionsLanguage("de")', :id => "translated", :class => "captions_trans active", :onClick => "$('original').removeClassName('active');$('translated').addClassName('active');") %>
            <% else %>
              <a id="translated" class="captions_trans disabled" href="javascript:void(0);"><%= t('Deutsch', :scope => 'categories.languages').downcase %></a>
            <% end %>
          <% end %>
        </div>
        <div id="volumeMuteButton" class="unmute" onClick="currentPlayer.toggleMute();"></div>
        <div id="volumeSelect">
          <div id="volumeOn"></div>
        </div>

        <div class="interviewinfo"><%= @interview.video == 1 ? t(:video, :scope => 'media') : t(:audio, :scope => 'media') %>: <%= "#{@interview.duration.minimal}" %></div>
        <div class="itemselection">
          <%= t(:tape, :scope => 'media') %>:
          <select id="player_item" name="player_item" onChange="currentPlayer.changeItem(this.value);">
          <% @interview.tapes.count.times do |item| %>
            <option value="<%= item %>"><%= (item+1) %> <%= t(:of_tapes, :scope => 'media') %> <%= @interview.tapes.count %></option>
          <% end %>
          </select>
        </div>
    </div>

    <div id="captions_wrapper">
        <div id="captions">
          <div id="captions-0" class="captions-slide"></div>
          <div id="captions-1" class="captions-slide"></div>
          <div id="captions-2" class="captions-slide"></div>
        </div>
        <!--
        <div class="back">
            <%= link_to_function(t('back', :scope => 'user_interface.player'), 'void(0);') %>
        </div>
        <div class="forward">
            <%= link_to_function(t('forward', :scope => 'user_interface.player'), 'void(0);') %>
        </div>
        //-->
    </div>

    <% javascript_tag do %>

      var headings = null;

      <% if @interview.language == "Deutsch" or !@interview.translated %>
        <% captions_language = "original" %>
      <% else %>
        <% captions_language = "de" %>
      <% end %>

      var playerSettings = {
        jwplayerFile              : '<%= ActionController::Base.relative_url_root %>/swf/player.swf',
        captionsPluginFile        : '<%= ActionController::Base.relative_url_root %>/swf/captions.swf',
        skin                      : '<%= ActionController::Base.relative_url_root %>/swf/zwar.swf',
        height                    : '335',
        width                     : '400',
        backcolor                 : '990000',
        frontcolor                : '999999',
        lightcolor                : 'ffffff',
        headingsTable             : 'headings',
        captionsSpace             : 'captions',
        captionsLanguage          : '<%= captions_language %>', // 'original', 'de'
        whilePlaying              : fadeOutGallery,
        onVolume                  : 'drawVolumeBar(this.volume)',
        onMute                    : 'drawMuteButton(this.mute)',
        slideClass                : 'captions-slide',
        call_item                 : 'if(currentPlayer==this){$("player_item").selectedIndex = this.item;};',
        startItem                 : <%= params['item'] == nil ? "null" : (params['item'].to_i - 1) %>,
        startPosition             : <%= params['position'] == nil ? "null" : params['position'].to_i %>,
        quality_text_high         : '<%= t(:high_quality, :scope => "media") %>',
        quality_text_low          : '<%= t(:low_quality, :scope => "media") %>'
      };

      <% if @interview.video == 'Video' %>

        // low quality video player
        playerSettings.id = 'player_low';
        playerSettings.jwplayerSpace = 'mediaspace_low';
        playerSettings.qualityToggler = true;
        var player_low = new Player("<%= playlist_low_interview_tapes_path(@interview, :format => :xml) %>", playerSettings);

        // high quality video player
        playerSettings.id = 'player_high';
        playerSettings.jwplayerSpace = 'mediaspace_high';
        playerSettings.qualityToggler = true;
        var player_high = new Player("<%= playlist_high_interview_tapes_path(@interview, :format => :xml) %>", playerSettings);

      <% else %>

        // audio player
        playerSettings.id = 'player_audio';
        playerSettings.jwplayerSpace = 'mediaspace_audio';
        var player_audio = new Player("<%= playlist_audio_interview_tapes_path(@interview, :format => :xml) %>", playerSettings);

      <% end %>

    <% end %>
	</div>

<% javascript_tag do %>

  function showQualityToggler(event) {
    player_id = currentPlayer.player.id;
    //alert(currentPlayer.player.id);
    currentPlayer.showQualityToggler();
  }

  function toggleMedia() {
    $('playerHigh').toggle();
    $('playerLow').toggle();  
  }


  document.observe('dom:loaded', function() {
    $('mediaspace_high').observe('mouseenter', function() {
        showQualityToggler();
    }),
    $('mediaspace_low').observe('mouseenter', function() {
        showQualityToggler();
    }),
    $('qualityToggler').observe('click', function(){
      toggleMedia();
    });
  })

  /*
  $('mediaspace_high').observe('mouseover', showQualityToggler);
  $('mediaspace_high').observe('mouseout', hideQualityToggler);
  $('mediaspace_low').observe('mouseover', showQualityToggler);
  $('mediaspace_low').observe('mouseout', hideQualityToggler);
  */
  Event.observe('volumeSelect', 'click', setVolume);
<% end %>