<h2 class="info">Service-Funktionen</h2>
<p><%= t(:search_the_archive, :scope => 'user_interface.labels') %></p>
<div id="baseHeaderSearch">

  <span class="hits">
    <% if search.hits == Interview.count %>
      <%= link_to t('.all_interviews').html_safe, current_search_path %>
    <% elsif search.hits > 1 %>
      <%= link_to t('.many_selected', :search_hits => search.hits).html_safe, current_search_path %>
    <% elsif search.hits == 1 %>
      <%= link_to t('.one_selected').html_safe, current_search_path %>
    <% else %>
      <%= t('.no_interviews_found').html_safe %>
    <% end %>
  </span>
</div>

<div id="back_to_search" class="action">
  <%= link_to image_tag(image_path("#{Project.name}/suchpfeil_zurueck.gif"), :title => t(:back_to_search, :scope => 'user_interface.labels')), current_search_path %>
</div>

<div id="search_header_overlay" class="overlay" style="display: none;"></div>
