<% if @segments.empty? %>
    <%= t(:no_segments_result, :scope => 'user_interface.messages') %>
<% else %>
<% fulltext ||= (defined?(@location) && !@location.blank?) ? ([ @location.location_name ] +  (@location.alias_location_names || '').split(/;\s*/)).join('|') : nil -%>
<% fulltext ||= @search.fulltext -%>
<ul class='segment-list'>
  <% section = nil -%>
  <% @segments.each_with_index do |segment,index| -%>
    <% if segment.section && segment.section != section -%>
        <% current_section_segment = segment.section_lead_segment -%>
        <% section = segment.section -%>
        <% if current_section_segment -%>
    <li id="segments_section-<%= section -%>" class="section-heading">
      <% heading = current_section_segment.subheading(I18n.locale).blank? ? current_section_segment.mainheading(I18n.locale) : current_section_segment.subheading(I18n.locale) -%>
      In&nbsp;<span class="heading">&#147;<%= heading -%>&#148;</span>:
    </li>
        <% end -%>
    <% end -%>
    <!-- <span class="index"><%= index + 1-%>.</span> //-->
    <li id="segment_<%= segment.media_id %>" class="segment">
        <%= link_to_segment segment, fulltext || '$$$', true, true %>
    </li>
  <% end -%>
</ul>
<% end -%>
