<% if @segments.empty? %>
    <%= t(:no_segments_result, :scope => 'user_interface.messages') %>
<% else %>
    <% fulltext ||= (defined?(@location) && !@location.blank?) ? ([@location.location_name] + (@location.alias_location_names || '').split(/;\s*/)).join('|') : nil -%>
    <% fulltext ||= @search.fulltext -%>
    <% available_transcript_languages = [:original] %>
    <% available_transcript_languages << :translated if @interview.translated? %>
    <% available_transcript_languages.each do |transcript_language| %>
        <%
           # Implement the language fallback rule for headings:
           # - Only show headings if they are available in the current UI language or in the transcript language.
           # - If both languages are available then prefer the UI language over the transcript language.
           # (see https://docs.google.com/document/d/1pTk4EQHVjbNjYdLXTEhV340wGt4DcHUY7PZYW6gxyGg/edit#heading=h.gtrastts25e5)
           first_segment_with_heading = @interview.segments.detect(&:has_heading?)
           available_heading_locales = if first_segment_with_heading.nil?
                                         []
                                       else
                                         first_segment_with_heading.translations.map { |t| I18n.three_letter_locale(t.locale) }
                                       end
           heading_locale = if available_heading_locales.include?(I18n.three_letter_locale) then
                              I18n.locale
                            elsif transcript_language == :translated and available_heading_locales.include? 'deu'
                              :de
                            elsif not (available_heading_locales & @interview.transcript_locales).empty?
                              I18n.locale((available_heading_locales & @interview.transcript_locales).first)
                            else
                              nil
                            end
        %>
        <ul class='segment-list <%= transcript_language.to_s %><%=
            if (transcript_language == :translated and I18n.locale == :de) or
                (transcript_language == :original and I18n.locale != :de)
              ' active'
            else
              ''
            end
        %>'>
            <% section = nil -%>
            <% @segments.each_with_index do |segment, index| -%>
                <% if segment.section && segment.section != section -%>
                    <% section = segment.section -%>
                    <% current_section_segment = segment.section_lead_segment -%>
                    <% if current_section_segment and not heading_locale.blank? -%>
                        <li id="segments_section-<%= section -%>" class="section-heading">
                            <% heading = current_section_segment.subheading(heading_locale).blank? ? current_section_segment.mainheading(heading_locale) : current_section_segment.subheading(heading_locale) -%>
                            <%= t('.in') %>&nbsp;<span class="heading">&#147;<%= heading -%>&#148;</span>:
                        </li>
                    <% end -%>
                <% end -%>
                <!-- <span class="index"><%= index + 1 -%>.</span> //-->
                <li id="segment_<%= segment.media_id %>" class="segment">
                    <%= link_to_segment segment, fulltext || '$$$', true, true, :transcript_language => transcript_language %>
                </li>
            <% end -%>
        </ul>
    <% end %>
<% end -%>
