<div class='teaserList'>

  <% if defined?(@search) && !@search.hits.blank? %>
  <h2><%= pluralize(@search.hits, Interview.human_name) %></h2>
  <%= will_paginate @interviews %>
  <% end %>

  <% (@interviews || []).each do |interview| %>

    <div class="baseContainerTeaser">
        <div class="baseContainerTeaserImage">
            <%#= link_to image_tag(interview.image_url) %>
        </div>
        <div class="baseContainerTeaserText">
            <h3><%= link_to interview.short_title, interview_path(interview), :title => interview.short_title %></h3>
            <ul>
              <li class="languages"><%= interview.language %><%= interview.translated ? ' ' + content_tag(:span, '(' + t(:translated) + ')', :class => 'translated') : '' %></li>
              <li class="media_type"><%= interview.video %> <span class="duration"><%= format_value interview.duration %></span></li>
              <% (@search.query_params.keys - [ 'languages', 'person_name', 'fulltext', 'page' ]).each do |attribute| %>
              <li class="<%= attribute %>">
                <span class='label'><%= Interview.human_attribute_name(attribute) %></span>
                <%= format_value interview.send(attribute) %>
              </li>
              <% end %>
            </ul>
        </div>
      <% if @search.query_params.keys.include?('fulltext') %>
      <% matching_segments = @search.matching_segments_for(interview.archive_id) %>
      <div id="interview_<%= interview.archive_id.upcase %>_segments" class="baseContainerTeaserExcerpts" style="clear: left;">
        
        <h5><%= matching_segments.size == 0 ? 'keine Ausschnitte' : pluralize(matching_segments.size, 'Ausschnitt', 'Ausschnitte') %>
          <ul class="segment_pagination">
            <% matching_segments[0..8].each_with_index do |segment, index| %>
              <li id="<%= segment.media_id %>_link" <%= index == 0 ? " class='current'" : '' %>>
                <%= link_to_function (index+1).to_s, "showSegment('#{interview.archive_id.upcase}','#{segment.media_id}')" %>
              </li>
            <% end %>
            <% if matching_segments.size > 9 %>
              <li>
                <%= link_to t(:more), interview_path(interview) %>
              </li>
            <% end %>
          </ul>
        </h5>

        <% matching_segments[0..9].each_with_index do |segment, index| %>
        <div id="<%= segment.media_id %>" class="segment <%= index == 0 ? " visible" : '' %>">
          <span class="timecode"><%= segment.timecode %></span>
          <span class="tape"> <%= Tape.human_name + ' ' + segment.tape.number.to_s %></span>
          <p class="transcript">&ldquo;<%= truncate(segment.translation || segment.transcript || 'keine Transkription vorhanden.', :length => 300)  %>&rdquo;</p>
          <%= link_to 'zum Interview-Ausschnitt', interview_path(interview), :params => { :item => segment.tape.number, :position => Timecode.new(segment.timecode).time.to_i} %>
        </div>
        <% end %>

      </div>
    <% end %>
    </div>

  <% end %>

  <% if defined?(@search) && !@search.hits.blank? %>
  <%= will_paginate @interviews %>
  <% end %>

  <% javascript_tag do %>
    function showSegment(archiveID, mediaID) {
      $$('#interview_' + archiveID + '_segments .segment').each(function(el){
        el.removeClassName('visible');
      });
      $$('#interview_' + archiveID + '_segments .segment_pagination li').each(function(el) {
        el.removeClassName('current');
      });
      $(mediaID).addClassName('visible');
      $(mediaID + '_link').addClassName('current');
    };
  <% end %>

</div>