<div class='teaserList'>

  <% if defined?(@search) && !@search.hits.blank? %>
  <h2>
    <%= pluralize(@search.hits, Interview.human_name) %>
    <%= zwar_paginate @interviews, { :suche => @search.query_hash } %>
  </h2>
    <% if defined?(@search) && (@search.query_params.keys.size > 1) && (@search.hits > 0) -%>
    <%= render :partial => "user_contents/save", :object => @search %>
    <% end -%>
  <% end %>

  <%= render :partial => '/interviews/result', :collection => @interviews || [], :locals => { :search => @search } %>

  <% if defined?(@search) && !@search.hits.blank? %>
  <%= zwar_paginate @interviews, { :suche => @search.query_hash } %>
  <% end %>

</div>