<div class='teaserList'>

  <% if defined?(@search) && !@search.hits.blank? %>
  <h2><%= @search.hits %> Einträge</h2>
  <%= will_paginate @interviews %>
  <% end %>

  <% (@interviews || []).each do |interview| %>

    <div class="baseContainerTeaser">
        <div class="baseContainerTeaserImage">
            <%#= link_to image_tag(interview.image_url) %>
        </div>
        <div class="baseContainerTeaserText">
            <h3><%= link_to interview.short_title, interview_path(interview), :title => interview.short_title %></h3>
            <ul>
              <li class="languages"><%= interview.language %></li>
              <li class="media_type"><%= interview.video %></li>
              <li class="translated"><%= interview.translated %></li>
            </ul>
        </div>
    </div>

  <% end %>

  <% if defined?(@search) && !@search.hits.blank? %>
  <%= will_paginate @interviews %>
  <% end %>

</div>