<div class="intervieweeTitle">
  <h1><%= @interview.full_title %></h1>
  <p><%= @interview.gender ? 'männlich' : 'weiblich' %>, geb. <%= @interview.date_of_birth %> in <%= @interview.country_of_origin %></p>
</div>

<div id="fragmentOverview">
  <div id="tabsOverview">

    <ul>
      <li id="tabInterview" class="active">
        <p onclick="showInterviewTab('tabInterview');">Interview</p>
      </li>
      <li id="tabForcedLabor">
        <p onclick="showInterviewTab('tabForcedLabor');">Daten zur Zwangsarbeit</p>
      </li>
      <!--
      <% if !@search.matching_segments_for(@interview.archive_id).empty? %>
      <li id="tabSegments"<%= !@search.matching_segments_for(@interview.archive_id).empty? ? "" : " style=\"display: none;\"" %>>
        <p onclick="showInterviewTab('tabSegments');">Ausschnitte</p>
      </li>
      <% end %>
      //-->
      <% javascript_tag do %>

        var interviewTabs = $$('#tabsOverview ul li');

        function showInterviewTab(id) {
          interviewTabs.each(function(tab) {
            var container = $(tab.id.sub('tab','container'));
            if(tab.id == id) {
              tab.addClassName('active');
              container.addClassName('active');
            } else {
              tab.removeClassName('active');
              container.removeClassName('active');
            }
          });
        };

      <% end %>
    </ul>

  </div>

  <br class="clear" />

  <%= render :partial => "interview", :object => @interview %>

  <%= render :partial => "forced_labor", :object => @interview %>

  <% if !@search.matching_segments_for(@interview.archive_id).empty? %>
  <%= render :partial => "segments" %>
  <% end %>

</div>

<%= render :partial => "mediaplayer" %>

<div class="compact clear">&nbsp;</div>

<div class="contentGallery">

    <%= render :partial => "gallery" %>

</div>