<%# cache [ I18n.locale.to_s, @interview.to_param, 'show'].join('/') do -%>
<div class="intervieweeTitle">
  <h1><%= @interview.full_title(I18n.locale) %></h1>
  <p>
    <%= t(@interview.interviewees.first.gender) %>,
    <%= t(:born, :scope => 'personal_data') %>
    <%= @interview.interviewees.first.year_of_birth %>
  </p>
  <%= render :partial => 'user_contents/save', :object => InterviewReference.for_interview(@interview) %>
</div>

<% if false %>
<div id="fragmentOverview">
  <div id="tabsOverview">

    <ul>
      <li id="tabInterview" class="active">
        <p onclick="showInterviewTab('tabInterview');"><%= t(:interview, :scope => 'user_interface.labels') %></p>
      </li>
      <li id="tabHistoricalContext">
        <p onclick="showInterviewTab('tabHistoricalContext');">
            <%= t((@interview.respond_to?(:forced_labor_groups) ? :forced_labor_data : :interview_data), :scope => 'user_interface.labels') %>
        </p>
      </li>

      <%= javascript_tag do %>

        var interviewTabs = $$('#tabsOverview ul li');

        function showInterviewTab(id) {
          interviewTabs.each(function(tab) {
            var container = $(tab.id.sub('tab','container'));
            if(tab.id == id) {
              tab.addClassName('active');
              container.addClassName('active');
            } else {
              tab.removeClassName('active');
              container.removeClassName('active');
            }
          });
        };

      <% end %>
    </ul>

  </div>

  <br class="clear" />

  <%= render :partial => "interview", :object => @interview %>

  <%= render :partial => "historical_context", :object => @interview %>

</div>

<%= render :partial => "mediaplayer" %>

<div class="compact clear">&nbsp;</div>

<%= render :partial => "gallery" %>
<%# end %><%# cache %>
<% else %>
 <%= react_component('Interview', {src: "http://medien.cedis.fu-berlin.de/eog/dedalo_media/av/720/rsc35_rsc167_162.mp4", interview_id: @interview.id, duration: @interview.duration.time}) %>
 <%#= react_component('Interview', {src: "https://media.w3.org/2010/05/sintel/trailer_hd.mp4", interview_id: @interview.id, duration: @interview.duration.time}) %>
<% end %>
