<%= render :partial => "mediaplayer" %>

<div id="fragmentOverview">
  <h1><%= @interview.full_title %></h1>
  <table class="archivTableBiography">
    <tr>
      <td align="left" valign="top">
        <%= @interview.gender ? 'männlich' : 'weiblich' %>, geb. <%= @interview.date_of_birth %> in <%= @interview.country_of_origin %>
      </td>
    </tr>
  </table>

  <div id="tabsOverview">

    <ul>
      <li id="tabBiography" class="active">
        <p onclick="Element.show('containerBiography'); Element.hide('containerHeadings'); Element.addClassName('tabBiography', 'active'); Element.removeClassName('tabHeadings', 'active');">Biografie</p>
      </li>
      <li id="tabHeadings">
        <p onclick="Element.show('containerHeadings'); Element.addClassName('tabHeadings', 'active'); Element.hide('containerBiography'); Element.removeClassName('tabBiography', 'active');">Überschriften</p>
      </li>
    </ul>

  </div>

  <br class="clear" />

  <%= render :partial => "biography" %>

  <%= render :partial => "headings" %>

</div>

<div class="clear">&nbsp;</div>

<!--

<div style="float: left; width:400px; height: 100px;">

  <div id="captions" class="captions_original" style="height: 100px;">

    <%= render :partial => "transcript" %>

  </div>

</div>

-->

<div class="contentGallery" style="clear: none; width: 260px; height: 99px; margin: 0 0 0 25px;">

  <%= render :partial => "gallery" %>

</div>

<div class="clear">&nbsp;</div>

<div class="fragmentTitle" onclick="Element.toggle('fragment1');Element.toggle('pfeilUnten1');Element.toggle('pfeilRechts1')">
  <h2><%= image_tag("pfeil_rot_rechts.gif", :id => "pfeilRechts1", :title => "", :alt => "Pfeil rechts") %><%= image_tag("pfeil_rot_unten.gif", :id => "pfeilUnten1", :title => "", :alt => "Pfeil unten", :style => "display: none;") %>weitere Informationen zum Interview</h2>
</div>

<div id="fragment1" style="display:none">
  <%= render :partial => "additional_metadata" %>
</div>
<noscript>
  <%= render :partial => "additional_metadata" %>
</noscript>

<div class="clear">&nbsp;</div>