<div class="intervieweeTitle">
  <h1><%= @interview.full_title %></h1>
  <p><%= @interview.gender ? 'männlich' : 'weiblich' %>, geb. <%= @interview.date_of_birth %> in <%= @interview.country_of_origin %></p>
</div>

<div id="fragmentOverview">
  <div id="tabsOverview">

    <ul>
      <li id="tabInterview" class="<%= @interview.has_headings ? '' : 'active' %>">
        <p onclick="showInterviewTab('tabInterview');">Interview</p>
      </li>
      <li id="tabForcedLabor"<%= @interview.has_headings ? " class='active'" : " style=\"display: none;\"" %>>
        <p onclick="showInterviewTab('tabForcedLabor');">Daten zur Zwangsarbeit</p>
      </li>
      <!--
      <% if !@search.matching_segments_for(@interview.archive_id).empty? %>
      <li id="tabSegments"<%= !@search.matching_segments_for(@interview.archive_id).empty? ? "" : " style=\"display: none;\"" %>>
        <p onclick="showInterviewTab('tabSegments');">Ausschnitte</p>
      </li>
      <% end %>
      //-->
      <% javascript_tag do %>

        var interviewTabs = $$('#tabsOverview ul li');

        function showInterviewTab(id) {
          interviewTabs.each(function(tab) {
            var container = $(tab.id.sub('tab','container'));
            if(tab.id == id) {
              tab.addClassName('active');
              container.addClassName('active');
            } else {
              tab.removeClassName('active');
              container.removeClassName('active');
            }
          });
        };

      <% end %>
    </ul>

  </div>

  <br class="clear" />

  <%= render :partial => "interview" %>

  <%= render :partial => "forced_labor" %>

  <% if !@search.matching_segments_for(@interview.archive_id).empty? %>
  <%= render :partial => "segments" %>
  <% end %>

</div>

<%= render :partial => "mediaplayer" %>

<div class="clear">&nbsp;</div>

<div class="contentGallery">

    <%= render :partial => "gallery" %>

</div>

<!--
<div class="fragmentTitle" onclick="Element.toggle('fragment1');Element.toggle('pfeilUnten1');Element.toggle('pfeilRechts1')">
  <h2><%= image_tag("pfeil_rot_rechts.gif", :id => "pfeilRechts1", :title => "", :alt => "Pfeil rechts") %><%= image_tag("pfeil_rot_unten.gif", :id => "pfeilUnten1", :title => "", :alt => "Pfeil unten", :style => "display: none;") %>weitere Informationen zum Interview</h2>
</div>

<div id="fragment1" style="display:none">
  <%= render :partial => "additional_metadata" %>
</div>
<noscript>
  <%= render :partial => "additional_metadata" %>
</noscript>
//-->

<div class="clear">&nbsp;</div>