<%= render :partial => "mediaplayer" %>

<div id="fragmentOverview">
  <h1><%= @interview.full_title %></h1>
  <table class="archivTableBiography">
    <tr>
      <td align="left" valign="top">
        <%= @interview.gender ? 'männlich' : 'weiblich' %>
        <br />
        geboren <%= @interview.date_of_birth %> in <%= @interview.country_of_origin %>
      </td>
    </tr>
  </table>

  <div id="tabsOverview">

    <ul>
      <li id="tabBiography" class="active">
        <p onclick="Element.show('containerBiography'); Element.hide('containerHeadings'); Element.addClassName('tabBiography', 'active'); Element.removeClassName('tabHeadings', 'active');">Biografie</p>
      </li>
      <li id="tabHeadings">
        <p onclick="Element.show('containerHeadings'); Element.addClassName('tabHeadings', 'active'); Element.hide('containerBiography'); Element.removeClassName('tabBiography', 'active');">Überschriften</p>
      </li>
    </ul>

  </div>

  <br class="clear" />

  <%= render :partial => "biography" %>

  <%= render :partial => "headings" %>

</div>

<div class="clear">&nbsp;</div>

<div style="float: left; width:400px; height: 125px;">

  <div id="captions" class="captions_original" style="height: 100px;">

    <%= render :partial => "transcript" %>

  </div>

  <div id="language_select" style="padding-top: 5px; height: 20px;">
    <div style="float: left;"><input name="langauge" value="original" type="radio" checked onClick="current_player.translateCaptions(false)" /> <%= @interview.language.name %></div>
    <div><input name="langauge" value="translation" type="radio" onClick="current_player.translateCaptions(true)" /> Deutsche Übersetzung</div>
  </div>

</div>

<div class="contentGallery" style="clear: none; float: left; width: 260px; height: 125px; margin: 0 25px 0 0;">

  <%= render :partial => "gallery" %>

</div>

<div class="clear">&nbsp;</div>

<%= render :partial => "additional_metadata" %>