<h1>Вопросы по поиску</h1>

<ul>


    <li>
        <a href="#recherchemoeglichkeiten">Какие существуют возможности поиска информации?</a>
    </li>


    <li>

        <a href="#suche-allgemein">Как можно использовать полнотекстовый поиск?</a>
    </li>


    <li>

        <a href="#einschraenkung_ergebnisse">Возможно ли ограничение результатов поиска?</a>
    </li>


    <li>

        <a href="#grossklein">Нужно ли при использовании функции поиска учитывать написание с маленькой и большой буквы?</a>
    </li>


    <li>


        <a href="#suche-datum">Возможен ли поиск по календарным датам?</a>
    </li>


    <li>

        <a href="#suche-ortsnamen">Можно ли ограничить поиск на лагеря и места работ?</a>
    </li>


    <li>


        <a href="#suche-schreibweisen">Возможен ли поиск персон, если написание имени или фамилии неизвестно?</a>
    </li>


    <li>

        <a href="#suche-wildcard">Можно ли сокращать ключевые понятия?</a>
    </li>


</ul>





<br/>
<hr/>
<h2>

    <a name="recherchemoeglichkeiten"></a>


    Какие существуют возможности поиска информации?

</h2>




<p>Существует шесть категорий, позволяющих структурированный подход к поиску информации, содержащейся в разных интервью:</p>
<ul>
    <li>
        Имена: Имена/фамилии интервьюируемых
    </li>
    <li>
        Группа: Группа преследуемых, к которой принадлежит интервьюируемый/ая
    </li>

    <li>
        Сфера деятельности: Сферы деятельности, в которых интервьюируемый/ая был/а задействован/а на принудительных работах
    </li>
    <li>
        Язык: Язык интервьью
    </li>
    <li>
        Размещение / Заключение: Вид размещения интервьюируемого/ой
    </li>
    <li>
        Место жительства (страна): Настоящее место жительства интервьюируемого/ой
    </li>
</ul>
<p>Альтернативно или дополнительно к сказанному выше для поиска информации в архивном собрании интервью Вы можете использовать и полнотекстовый поиск или начать поиск с раздела<%= link_to (t :collections_map), interview_collections_url, :title => "Географическое распределение частичных собраний" %>, в котором отображено географическое распределение частичных собраний.</p>







<br class="clear"/>

<a href="#seitenanfang" title="В начало страницы">

    <img src="<%= image_path 'sprungmarke.gif' %>" alt="Значок 'вверх'" border="0" title=""/>

</a>



<br/>
<hr/>
<h2>

    <a name="suche-allgemein"></a>


    Как можно использовать полнотекстовый поиск?

</h2>



<p>Архив располагает полнотекстовым поиском. Вы можете задать одно или несколько ключевых понятий.<br/>Несколько ключевых понятий соединяются с помощью союза и.</p>
<p>Пример:<br/>При вводе <em>Аушвиц Маутхазен</em> будут найдены все интервью, в которых встречаются оба понятия. <br/>Ввод в строку поиска только одного из понятий даст намного больше результатов поиска.</p>







<br class="clear"/>

<a href="#seitenanfang" title="В начало страницы">

    <img src="<%= image_path 'sprungmarke.gif' %>" alt="Значок 'вверх'" border="0" title=""/>

</a>



<br/>
<hr/>
<h2>

    <a name="einschraenkung_ergebnisse"></a>


    Поиск выдал слишком много результатов. Возможно ли ограничение результатов поиска?


</h2>



<p>Введите дополнительные ключевые понятия для дальнейшего ограничения поиска. <br/>Альтернативно можно использовать категории в правой стороне сайта.</p>







<br class="clear"/>

<a href="#seitenanfang" title="В начало страницы">

    <img src="<%= image_path 'sprungmarke.gif' %>" alt="Значок 'вверх'" border="0" title=""/>


</a>



<br/>
<hr/>
<h2>

    <a name="grossklein"></a>


    Нужно ли при использовании функции поиска учитывать написание с маленькой и большой буквы?

</h2>



<p>Написание с большой и маленькой буквы при поиске не учитывается.</p>







<br class="clear"/>

<a href="#seitenanfang" title="В начало страницы">

    <img src="<%= image_path 'sprungmarke.gif' %>" alt="Значок 'вверх'" border="0" title=""/>

</a>



<br/>
<hr/>
<h2>

    <a name="suche-datum"></a>


    Возможен ли поиск по календарным датам?

</h2>



<p>С помощью полнотекстового поиска можно искать информацию по календарным датам. Для этого введите в поисковую строку месяц и год следующим образом MM/ГГГГ, например, 01/1945. Вы можете ввести и только год.</p>







<br class="clear"/>

<a href="#seitenanfang" title="В начало страницы">

    <img src="<%= image_path 'sprungmarke.gif' %>" alt="Значок 'вверх'" border="0" title=""/>

</a>




<br/>
<hr/>
<h2>

    <a name="suche-ortsnamen"></a>


    Можно ли ограничить поиск на лагеря и места работ?

</h2>



<p>С помощью полнотекстового поиска Вы можете искать информацию и по названиям населённых пунктов. Введите название населённого пункта в поисковую строку.</p>







<br class="clear"/>

<a href="#seitenanfang" title="В начало страницы">

    <img src="<%= image_path 'sprungmarke.gif' %>" alt="Значок 'вверх'" border="0" title=""/>

</a>



<br/>
<hr/>
<h2>

    <a name="suche-schreibweisen"></a>


    Возможен ли поиск персон, если написание имени или фамилии неизвестно?

</h2>



<p>В поиске Вы можете использовать различные варианты написания и различные шрифты (например, кириллицу).</p>







<br class="clear"/>

<a href="#seitenanfang" title="В начало страницы">

    <img src="<%= image_path 'sprungmarke.gif' %>" alt="Значок 'вверх'" border="0" title=""/>

</a>




<br/>
<hr/>
<h2>

    <a name="suche-wildcard"></a>


    Можно ли сокращать ключевые понятия?

</h2>



<p>Функция поиска позволяет и поиск сокращений.<br/>Пример: Если Вы введёте <em>Флоссенб</em>,
    в результате поиска Вы получите всю информацию по Флоссенбюргу.</p>


