<ul style="float: right;">
    <!-- Slide 1 //-->
    <li class="hint slide-1"><h3 style="margin: 0;">Introduction to maps: Part 1 - Filters<a href="#" onclick="new Effect.Fade('initial_map_tutorial');" class="window-close"><%= t(:close) -%></a></h3></li>
    <li class="hint slide-1">
      <p>The interactive map includes a variety of locations with biographic relevance. Filters may be used to determine which data should be shown.</p>
    </li>
    <li class="hint slide-1"><p>Please select the kind of data you are interested in and watch how the map changes:</p></li>
    <li class="map_filter_off forced_labor_location slide-1"><span><%= t(:forced_labor_locations, :scope => 'map.labels') -%></span></li>
    <li class="map_filter_off forced_labor_camp slide-1"><span><%= t(:camps, :scope => 'map.labels') -%></span>
    <li class="map_filter_off forced_labor_company slide-1"><span><%= t(:companies, :scope => 'map.labels') -%></span></li>
    <li class="map_filter_off deportation_location slide-1"><span><%= t(:deportations, :scope => 'map.labels') -%></span></li>
    <li class="map_filter_off place_of_birth slide-1"><span><%= t(:places_of_birth, :scope => 'map.labels') -%></span></li>
    <li class="map_filter_off return_location slide-1"><span><%= t(:postwar_residences, :scope => 'map.labels') -%></span></li>
    <li class="map_filter_off postwar_camp slide-1"><span><%= t(:postwar_camps, :scope => 'map.labels') -%></span></li>
    <li class="map_filter_off home_location slide-1"><span><%= t(:home_locations, :scope => 'map.labels') -%></span></li>
    <li class="map_filter_off interview slide-1"><span><%= t(:mentions, :scope => 'map.labels') -%></span></li>
    <li class="hint slide-1">
      <p>Your selection will be saved in your browser and will be used automatically the next time you use the map.</p>
    </li>

    <!-- Slide 2 //-->
    <li class="hint slide-2"><h3 style="margin: 0;">Introduction to maps: Part 2 - Clustering<a href="#" onclick="new Effect.Fade('initial_map_tutorial');" class="window-close"><%= t(:close) -%></a></h3></li>
    <li class="hint slide-2">
      <p>For more clarity in low zoom, locations may be bundled by country and region. This function may be deactivated by unchecking “Clustering“ below the filters.</p>
    </li>
    <li class="cluster_toggle clusters-off slide-2" onclick="toggleClusters();"><span><%= t(:grouping_label, :scope => 'map.legend') -%></span></li>
    <li class="hint slide-2">
      <p>The number of locations is indicated by size of the circle and the number. Clicking on the center of a circle opens the next level of details.</p>
    </li>
    <li class="hint slide-2">
      <p>The Filters and Clustering options are always available.<img class="imageRight" src="<%= image_path('map/tut_legend_en.png') -%>"/> Just choose the "Legend / Filters" button on the top right to see available filters. Clicking on the X on the top right closes this option again.</p>
    </li>

    <!-- Slide 3 //-->
    <li class="hint slide-3"><h3 style="margin: 0;">Introduction to maps: Part 3 - Interviews<a href="#" onclick="new Effect.Fade('initial_map_tutorial');" class="window-close"><%= t(:close) -%></a></h3></li>
    <li class="hint slide-3">
      <p>By choosing a location on the map you will receive further information about the location and the relevant interviews.</p>
    </li>
    <li class="hint slide-3">
      <img src="<%= image_path('map/tut_interview_en.png') -%>" alt="interview information"/>
    </li>
    <li class="hint slide-3">The link to the interview leads straight to the respective parts of the interview, provided you are a registered user of the archive.</li>
    <li class="hint slide-3">If you are not a registered user yet, you may register online by filling out this <%= link_to 'form', en_register_path, :target => '_blank' -%>.</li>

    <!-- Slide Actions //-->
    <li class="hint links">
      <p><a class="back not-slide-1" href="#" onclick="adjustSlideNum(-1);">&laquo;&nbsp;back</a><span class="not-slide-1">&nbsp;or&nbsp;</span><a class="forward not-slide-3" href="#" onclick="adjustSlideNum(1);">more&nbsp;&raquo;</a><a class="finish slide-3" href="#" onclick="endTutorial();">&raquo;&nbsp;finish introduction</a></p>
    </li>
</ul>
