<h1>Benutzerstatistik</h1>

<h2>Länderherkunft, Beruf und Rechercheanliegen</h2>

<p>Die aktuelle Benutzerstatistik kann als CSV-Datei heruntergeladen werden:</p>

<p><%= link_to 'Aktuelle Benutzerstatistik', admin_user_statistics_url(:format => :csv) %></p>
<br/>

<h1>Nutzungsstatistiken</h1>
<p class="hint">
  <span><b>Nutzer</b> bezeichnen unterscheidbare, individuelle Nutzer, die im betreffenden Monat den Vorgang ein- oder mehrmals vorgenommen haben.</span>
  <span>Alle anderen Spalten betreffen <b>Aufrufe</b>, die jeden erfassbaren Vorgang beeinhalten.</span>
</p>
<% @tiered_reports.keys.sort.reverse.each_with_index do |year, index| %>
<p class="usage_reports"><h4 id="toggle_<%= year %>" class="<%= index != 0 ? 'closed' : ''%>"><%= link_to_function year, "$('reports_#{year}').toggle(); $('toggle_#{year}').toggleClassName('closed');", :class => 'more', :style => "color: #000; font-weight: bold;" %></h4>
   <ul id="reports_<%= year %>" style="<%= index != 0 ? 'display: none;' : '' %>">
     <% @tiered_reports[year].sort{|a,b| a[/\d+\./].concat(a[/^\w/]) <=> b[/\d+\./].concat(b[/^\w/])}.each do |file| %>
     <li style="font-size: 0.85em; background-position: 0 5px; width: 22%; display: inline-block;"><%= link_to file, usage_report_admin_user_statistics_url(:filename => file) %></li>
     <% end %>
   </ul>
</p>
<% end %>

<% unless request.xhr? -%>
    <% content_for :title do -%>
        Statistik
    <% end -%>
    <% content_for :sidebar do -%>
        <%# Nothing to display? %>
    <% end -%>
<% end -%>