<div id="containerHistoricalContext"  class="container">
    <ul class="data">
      <% if historical_context.birth_locations.empty? -%>
          <li>
            <span class="label"><%= Interview.human_attribute_name(:birth_date) %></span>
            <span class="value"><%= format_date historical_context.date_of_birth %></span>
          </li>
      <% else -%>
          <li>
            <span class="label"><%= CeDiS.category_name(:birth_locations, I18n.locale) %></span>
            <span class="value"><%= historical_context.birth_location_names(I18n.locale) %>,&nbsp;<%= format_date historical_context.date_of_birth%></span>
          </li>
      <% end -%>
      <li>
        <span class="label"><%= CeDiS.category_name(:forced_labor_groups, I18n.locale) %></span>
        <span class="value"><%= historical_context.forced_labor_group_names(I18n.locale) %></span>
      </li>
      <li>
        <span class="label"><%= CeDiS.category_name(:deportation_locations, I18n.locale) %></span>
        <span class="value"><%= deportation_for(historical_context, I18n.locale) %></span>
      </li>
      <li>
        <span class="label"><%= CeDiS.category_name(:forced_labor_fields, I18n.locale) %></span>
        <span class="value"><%= expand historical_context.forced_labor_field_names(I18n.locale) %></span>
      </li>
      <% unless historical_context.forced_labor_details(I18n.locale).blank? %>
          <li>
            <span class="label"><%= Interview.human_attribute_name(:forced_labor_details) %></span>
            <span class="value"><%= expand historical_context.forced_labor_details(I18n.locale) %></span>
          </li>
      <% end %>
      <li>
        <span class="label"><%= CeDiS.category_name(:forced_labor_locations, I18n.locale) %></span>
        <span class="value"><%= expand historical_context.forced_labor_location_names %></span>
      </li>
      <li>
        <span class="label"><%= CeDiS.category_name(:forced_labor_habitations, I18n.locale) %></span>
        <span class="value"><%= expand historical_context.forced_labor_habitation_names %></span>
      </li>
      <li>
        <span class="label"><%= Interview.human_attribute_name(:liberation_date) %></span>
        <span class="value"><%= format_date historical_context.liberation_date %></span>
      </li>
      <li>
        <span class="label"><%= CeDiS.category_name(:return_locations, I18n.locale) %></span>
        <span class="value"><%= expand historical_context.return_location_names(I18n.locale) || t(:unknown, :scope => 'status') %></span>
      </li>
      <% unless historical_context.return_date(I18n.locale).blank? %>
          <li>
            <span class="label"><%= Interview.human_attribute_name(:return_date) %></span>
            <span class="value"><%= format_date historical_context.return_date(I18n.locale) %></span>
          </li>
      <% end %>
    </ul>
</div>
