<li id="user_annotation_<%= user_annotation.id -%>" class="user_annotation<%= (defined?(container_open) && container_open) ? '' : ' closed' -%>">
        <span class="data author" style="font-size: 90%; position: relative;">
          <%# contents are in reverse display order to enable sorting by name %>
          <span style="padding-left: 18px; margin-top: 1.8em;">
            <%= link_to "&raquo;&nbsp;#{user_annotation.author}", edit_admin_user_registration_path(user_annotation.user.user_registration), :style => "color: #990000;", :target => '_blank' %>
          </span>
          <span style="position: absolute; top: 0; left: 0;">
            <%= link_to_function "Anmerkung vom #{formatted_time(user_annotation.created_at).sub(/\s+\d+:\d+\s+Uhr/,'')}", "$('user_annotation_#{user_annotation.id}').toggleClassName('closed');", :class => 'more', :title => "Details" %>
          </span>
        </span>
        <span class="segment">
          <%= link_to_segment user_annotation.reference, '', false, false, content_tag(:span, "<span style='font-weight: bold; width: 100%;'>#{user_annotation.reference.interview.archive_id}</span>#{user_annotation.reference.interview.short_title}<br/>#{user_annotation.timecode_string}" ), {:target => '_blank'} %>
        </span>
        <span class="data status">
          <%= t(user_annotation.workflow_state, :scope => 'user_annotations.workflow_states') -%>
        </span>
        <span class="data submission_date">
          <span style="display: none;">
            <%= user_annotation.submitted_at -%>
          </span>
          <%= formatted_time user_annotation.submitted_at, '<span style="font-weight: normal !important; width: 132px;">? (Feb 2013 o. früher)</span>' -%>
        </span>

  <div id="annotation_info_<%= user_annotation.id -%>" class="details">
    <%= annotation_inline_edit_for(user_annotation, :width => '220px;', :class => 'textbox') -%>
    <div class="actions">
      <% if %(proposed postponed).include?(user_annotation.workflow_state) -%>
          <%= workflow_action_for(:user_annotations, :accept, user_annotation, false) %>
      <% end -%>
      <% if user_annotation.proposed? -%>
          <%= workflow_action_for(:user_annotations, :postpone, user_annotation, true) %>
      <% end -%>
      <% if user_annotation.rejected? -%>
          <%= workflow_action_for(:user_annotations, :review, user_annotation, false) %>
      <% end -%>
      <% if user_annotation.shared? -%>
          <%= workflow_action_for(:user_annotations, :withdraw, user_annotation, true) %>
          <%= workflow_action_for(:user_annotations, :remove, user_annotation, true) %>
      <% end -%>
      <% if %(proposed postponed).include?(user_annotation.workflow_state) -%>
          <%= workflow_action_for(:user_annotations, :reject, user_annotation, true) %>
      <% end -%>
    </div>
  </div>

</li>