<table class="imports_for_interview">
  <% imports = @interview.imports.clone.reverse -%>
  <% import = imports.shift -%>
  <tr class="detailed">
    <td>
      <span class="date">
        Import vom <%= formatted_time import.created_at, '? (Feb 2013 o. früher)' -%>
      </span>
      Stand vom <%= formatted_date import.time -%>
    </td>
    <td>
      <%= render :partial => 'import', :object => import %>
    </td>
  </tr>
  <% first = true %>
  <% imports.each do |import| -%>
    <% unless first -%>
  <tr class="link">
    <td>
      <span class="date">
        Import vom <%= formatted_time import.created_at, '? (Feb 2013 o. früher)' -%>
      </span>
      Stand vom <%= formatted_date import.time -%>
    </td>
    <td id="import_<%= import.id -%>">
      <%= link_to_remote "&raquo;&nbsp;Details anzeigen",
                       :update => "import_#{import.id}",
                       :url => admin_import_path(import),
                       :method => :get,
                       :html => {
                               :onclick => "$('import_#{import.id}_spinner').show();"
                       }
    -%>
      <%= image_tag '/images/spinner.gif',
                    :id => "import_#{import.id}_spinner",
                    :style => "display: none;",
                    :width => 12,
                    :height => 12 -%>
    </td>
  </tr>
    <% end -%>
    <% first = false -%>
  <% end -%>
</table>