<h1>Importvorgänge</h1>

<div id="interview_imports">
  <div id="sorting_controls">
    <span id="id_sort" class="sort" data-sort="archive_id">sortieren nach Archiv ID</span>
    <span id="date_sort" class="sort" data-sort="last_import">sortieren nach Datum</span>
    <span id="time_sort" class="sort" data-sort="time" style="float: right;">sortieren nach Stand</span>
    <div class="labels">
        <span class="archive_id">
           Archiv-ID
        </span>
        <span class="interview">
          Zeitzeuge
        </span>
        <span class="last_import">
          Datum letzter Import
        </span>
        <span class="time">
          Stand der Daten
        </span>
    </div>
  </div>
    <ul class="list">
      <% @interviews.each do |interview| -%>
      <li id="<%= interview['archive_id'] -%>" class="import closed">
        <span class="archive_id">
          <%= image_tag "#{Project.name}/spinner.gif", id: "#{interview['archive_id']}_spinner", class: "spinner", style: "display: none;" -%>
          <%= link_to interview['archive_id'], '#', 
                      class: 'remote get more', 
                      url: for_interview_admin_imports_path(archive_id: interview['archive_id']),
                      spinner: "##{interview['archive_id']}_spinner",
                      close: "##{interview['archive_id']}"
          %>
        </span>
        <span class="interview">
          <a name="imports_for_<%= interview['archive_id'] -%>"><%= interview['short_title'] -%></a>
          <%= link_to '&raquo;'.html_safe, interview_path(:id => interview['archive_id']), :target => '_blank', :alt => "zum Interview im Archiv" -%>
        </span>
        <span class="data last_import">
          <span style="display: none;">
            <%= interview['created_at'] -%>
          </span>
          <%= formatted_time interview['created_at'], '<span style="font-weight: normal !important; width: 132px;">? (Feb 2013 o. früher)</span>' -%>
        </span>
        <span class="data time">
          <span style="display: none;">
            <%= interview['time'] -%>
          </span>
          <%= formatted_date interview['time'] -%>
        </span>
        <div id="interview_<%= interview['archive_id'] -%>" class="details"></div>
      </li>
      <% end -%>
    </ul>
</div>

<% javascript_tag do -%>
    var importList = new List('interview_imports', { valueNames: ['archive_id', 'time', 'last_import'], page: 600 });
<% end -%>

<% unless request.xhr? -%>
    <% content_for :title do -%>
        Importvorgänge
    <% end -%>
    <% content_for :sidebar do -%>
        <%= render :partial => 'admin_imports_sidebar' -%>
    <% end -%>
<% end -%>
