<tr xmlns="http://www.w3.org/1999/html">
  <td>
    <strong><%= "#{t(:name, :scope => "devise.registration_fields")}" %></strong>
    <b><%= "#{application_info.appellation}" %>
    <%= application_info.first_name %>
    <%= application_info.last_name  %></b>
  </td>
  <td rowspan="2" style="width:66%;max-width:200px;">
    <strong><%= "#{t(:adress, :scope => "devise.registration_fields")}" %></strong>
    <%= form_edit_field_for application_info, :street %>
    <%= form_edit_field_for application_info, :zipcity %>
    <%= form_edit_field_for application_info, :country, :select => localized_country_select(:country, [:de, :at, :ch, :pl, :ru, :cz, :us, :gb, :fr, :nl, :il, :ua, :by]) %>
    <br/><br/>
    <strong><%= t(:email, :scope => 'devise.registration_fields') %></strong>
    <%= form_edit_field_for application_info, :email %>
  </td>
</tr>
<tr>
  <td>
    <strong><%= "#{t(:job_description, :scope => "devise.registration_fields")}" %></strong>
    <% field_def = User.registration_fields[:job_description] -%>
    <% values = field_def[:translate] ? field_def[:values].map{|v| t(v, :scope => "devise.registration_values.job_description")}.uniq : field_def[:values] -%>
    <%= form_edit_field_for application_info, :job_description, :select => select(:user_registration,
                                                                                  :job_description,
                                                                                  options_for_select([[t(:select, :scope => 'devise.registration_fields'), nil]] + values.sort,
                                                                                                     params['user_registration'].blank? ? nil : params['user_registration']['job_description']),
                                                                                                     :include_blank => false ) %>
  </td>
</tr>
<tr>
  <td colspan="2" style="max-width: 360px;">
    <strong><%= "#{t(:organization, :scope => "devise.registration_fields")}" %></strong>
    <% if application_info.homepage.blank? || application_info.homepage.eql?('/') %>
        <%= application_info.organization %>
    <% else %>
        <%= link_to "#{application_info.organization}",
                "http://#{application_info.homepage}",
                :target => '_blank' %>
    <% end %>
  </td>
</tr>
<tr>
  <td>
    <strong><%= "#{t(:research_intentions, :scope => "devise.registration_fields")}" %></strong>
    <%= "#{application_info.research_intentions}" %>
  </td>
  <td rowspan="2" style="max-width:200px;">
    <strong><%= "#{t(:comments, :scope => "devise.registration_fields")}" %></strong>
    <%= "#{application_info.comments}" %>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
</tr>