<% user_record = application_info.user.nil? ? application_info : User.find_by_user_registration_id(application_info.id) -%>
<% info = YAML.load(user_record.application_info) %>
<tr>
  <td>
    <strong><%= "#{t(:name, :scope => "devise.registration_fields")}" %></strong>
    <b><%= "#{info[:appellation]}" %>
    <%= "#{user_record.first_name}" %>
    <%= "#{user_record.last_name}" %></b>
  </td>
  <td rowspan="2" style="width:66%;max-width:200px;">
    <strong><%= "#{t(:adress, :scope => "devise.registration_fields")}" %></strong>
    <%= [info[:street],
         "#{info[:zipcode] || ''} #{info[:city] || ''}",
         info[:country]].delete_if{|p| p.blank?}.join(',<br/>').html_safe %>
  </td>
</tr>
<tr>
  <td>
    <strong><%= "#{t(:job_description, :scope => "devise.registration_fields")}" %></strong>
    <%= "#{info[:job_description]}" %>
  </td>
</tr>
<tr>
  <td colspan="2" style="max-width: 360px;">
    <strong><%= "#{t(:organization, :scope => "devise.registration_fields")}" %></strong>
    <% if info[:homepage].blank? || info[:homepage].eql?('/') %>
        <%= info[:organization] %>
    <% else %>
        <%= link_to "#{info[:organization]}",
                "http://#{info[:homepage]}",
                :target => '_blank' %>
    <% end %>
  </td>
</tr>
<tr>
  <td>
    <strong><%= "#{t(:research_intentions, :scope => "devise.registration_fields")}" %></strong>
    <%= "#{info[:research_intentions]}" %>
  </td>
  <td rowspan="2" style="max-width:200px;">
    <strong><%= "#{t(:comments, :scope => "devise.registration_fields")}" %></strong>
    <%= "#{info[:comments]}" %>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
</tr>
