<table cellspacing='0' cellpadding='0' border='0'>
  <tbody>
    <tr>
      <td class="userTableLabel"><%= "#{t(:name, :scope => "devise.registration_fields")}" %>:</td>
      <td colspan="3" class="userTable">
        <%= "#{object.appellation}" %>
        <%= "#{object.first_name}" %>
        <%= "#{object.last_name}" %>
      </td>
    </tr>
    <tr>
      <td class="userTableLabel"><%= "#{t(:adress, :scope => "devise.registration_fields")}" %>:</td>
      <td colspan="3" class="userTable">
        <%= "#{object.street}" %>,
        <%= "#{object.zipcode}" %>
        <%= "#{object.city}" %>,
        <%= "#{object.country}" %>
      </td>
    </tr>
    <tr>
      <td class="userTableLabel"><%= "#{t(:job_description, :scope => "devise.registration_fields")}" %>:</td>
      <td class="userTable">
        <%= "#{object.job_description}" %>
      </td>
      <td class="userTableLabel"><%= "#{t(:organization, :scope => "devise.registration_fields")}" %>:</td>
      <td class="userTable">
        <%= link_to "#{object.organization}",
                    "#{object.homepage}",
                    :target => '_blank' %>
      </td>
    </tr>
    <tr>
      <td class="userTableLabel"><%= "#{t(:research_intentions, :scope => "devise.registration_fields")}" %>:</td>
      <td class="userTable"><%= "#{object.research_intentions}" %></td>
      <td class="userTableLabel"><%= "#{t(:comments, :scope => "devise.registration_fields")}" %>:</td>
      <td class="userTable"><%= "#{object.comments}" %></td>
    </tr>
  </tbody>
</table>