<% case I18n.locale
     when :en -%>
  <p>Hello <%= @resource.email %>!</p>

  <p>Your account has been locked due to an excessive amount of unsuccessful sign in attempts.</p>

  <p>Click the link below to unlock your account:</p>

  <p><%= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
<% when :ru -%>
  <p>Здравствуйте <%= @resource.email %>!</p>

  <p>Ваш доступ был заблокирован ввиду многочисленных безуспешных попыток входа в систему.</p>

  <p>Пожалуйста, перейдите по указанной ссылке, чтобы разблокировать Ваш доступ:</p>

  <p><%= link_to 'Разблокировать доступ', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
<% else -%>
  <p>Hallo <%= @resource.email %>!</p>

  <p>Ihr Zugang wurde aufgrund von zu vielen erfolglosen Login-Versuchen gesperrt.</p>

  <p>Bitte folgen Sie diesem Link, um Ihren Zugang wieder zu aktivieren:</p>

  <p><%= link_to 'Zugang wieder aktivieren', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
<% end -%>
