<div class="contentImagesLeft">
<% if current_user_account.nil? -%>
<% @interview = Interview.find_by_archive_id('za465')#, :include => [:translations, {:language => :translations}]) -%>
  <div class="contentImage200">
    <a href="<%= interview_path(:id => @interview.archive_id) -%>">
        <img src="<%= image_path "#{Rails.configuration.x.project}/teaser/Baschlai.jpg" %>" alt="<%= @interview.short_title(I18n.locale) -%>" title="" width="200" height="150" />
        <h6><%#= @interview.short_title(I18n.locale) -%>
          <br/>
          <%#= t(@interview.video? ? 'media.video_interview' : 'media.audio_interview') %>,&nbsp;<%#= @interview.language.to_s %><%#= @interview.translated?(I18n.locale) ? '<br/>' + content_tag(:span, '(' + t(:translated, :scope => 'status') + ')', :class => 'translated') : '' %>
        </h6>
    </a>
  </div>
<% else -%>
<% @interview = Interview.random_featured -%>
  <div class="contentImage200">
    <a href="<%= interview_path(:id => @interview.archive_id) -%>">
        <img src="<%= image_path @interview.still_image.url(:original) %>" alt="<%= @interview.short_title(I18n.locale) -%>" title="" width="200" height="150" />
        <h6><%= @interview.short_title(I18n.locale) -%>
          <br/>
          <%= t(@interview.video? ? 'media.video_interview' : 'media.audio_interview') %>,&nbsp;<%= @interview.language.to_s %><%= @interview.translated?(I18n.locale) ? '<br/>' + content_tag(:span, '(' + t(:translated, :scope => 'status') + ')', :class => 'translated') : '' %>
        </h6>
    </a>
  </div>
<% end -%>
</div>

