<h1>The Online Archive “Forced Labor 1939-1945” </h1>

<div class="contentImagesLeft">
<% if current_user_account.nil? -%>
<% @interview = Interview.find_by_archive_id 'za465' -%>
  <div class="contentImage200">
    <a href="<%= interview_path(@interview) -%>">
        <img src="<%= image_path 'Baschlai.jpg' %>" alt="<%= @interview.short_title -%>" title="" width="200" height="150" />
        <h6><%= @interview.short_title -%>,<br/><%= format_value [ @interview.send(:forced_labor_groups) ].flatten.map{|a| t(a.to_s, :scope => "categories.forced_labor_groups")}.first %></h6>
        <!-- <span class="meta"><%= @interview.video %> Interview (<%= format_value @interview.duration %>) in <%= @interview.language.split('/').map{|l| t(l.to_s, :scope => 'categories.languages')}.join(" / ") %><%= @interview.translated ? ' ' + content_tag(:span, '(' + t(:translated, :scope => 'status') + ')', :class => 'translated') : '' %></span> //-->
    </a>
  </div>
<% else -%>
<% @interview = random_featured_interview -%>
  <div class="contentImage200">
    <a href="<%= interview_path(@interview) -%>">
        <img src="<%= image_path @interview.still_image.url(:original) %>" alt="<%= @interview.short_title -%>" title="" width="200" height="150" />
        <h6><%= @interview.short_title -%>,<br/><%= format_value [ @interview.send(:forced_labor_groups) ].flatten.map{|a| t(a.to_s, :scope => "categories.forced_labor_groups")}.first %></h6>
        <!-- <span class="meta"><%= @interview.video %> Interview (<%= format_value @interview.duration %>) in <%= @interview.language.split('/').map{|l| t(l.to_s, :scope => 'categories.languages')}.join(" / ") %><%= @interview.translated ? ' ' + content_tag(:span, '(' + t(:translated, :scope => 'status') + ')', :class => 'translated') : '' %></span> //-->
    </a>
  </div>
<% end -%>
</div>

<p> </p>

<p>The online archive “Forced Labor 1939-1945” contains interviews with nearly 600 former
  forced laborers from 26 countries who had to perform forced labor during the period of
  National Socialism. The archive collection is made up of various subsets, which were
  compiled worldwide between the years 2005 and 2006 and financed by the Foundation
  “Remembrance, Responsibility and Future”. The digital archive preserves these testimonies
  for the future and makes them available for educational and research purposes.</p>

<% if current_user_account.nil? %>
<p style="font-weight: bold; margin-top: 0.33em;">
 In order to protect the privacy rights of the interviewees you must be
  <%= link_to 'registered', en_register_path %> and agree to the <%= external_link(:terms_of_use, :nutzungsbedingungen) %>
  before being granted access to the archive.
</p>
<% else %>
<br/>
<p>As a registered user you are given access to all interviews in full length that we have been given permission to publicize on the web under our <%= external_link(:terms_of_use, :nutzungsbedingungen) -%>.</p>
<% end %>

<br style="clear: both;"/>

<div class="contentImagesLeft">
  <div class="contentImage100">
    <a href="#">
      <img src="<%= image_path('teaser/kategorien.png') -%>" alt="Kategorien"/>
    </a>
  </div>
</div>
<h3 style="margin-top: 8px;">Category Search</h3>
<p>
  Content Categories in the search menu bar on the right give an overview of the classification system of the archive and provide thematically structured access.
  <br/>
    <%= link_to 'description of categories »',
                localized_home_path(:page_id=> t("faq_searching", :scope => 'page_urls'), :locale => 'en', :anchor => "recherchemoeglichkeiten") %>
    <br/>
</p>
<br style="clear: both;"/>

<div class="contentImagesLeft">
  <div class="contentImage100">
    <a href="#">
      <img src="<%= image_path('teaser/volltext.png') -%>" alt="Fulltext Search"/>
    </a>
  </div>
</div>
<h3 style="margin-top: 8px;">Fulltext Search</h3>
<p>
  Fulltext search via the search field on the right enables an intuitive access via search terms which specifically suit your research motivation.
  <br/>
    <%= link_to 'explanation of fulltext search »',
                localized_home_path(:page_id=> t("faq_searching", :scope => 'page_urls'), :locale => 'en', :anchor => "suche-allgemein") %>
    <br/>
</p>
<br style="clear: both;"/>

<div class="contentImagesLeft">
  <div class="contentImage100">
    <a href="<%= localized_public_map_url(:locale => 'en') -%>">
      <img src="<%= image_path('teaser/karte.png') -%>" alt="Map"/>
    </a>
  </div>
</div>
<h3 style="margin-top: 8px;">Map</h3>
<p>
  An interactive map shows sites of biographical relevance to the interviewees: place of birth, deportation, camps, companies and prisons, places of residence after 1945.
  <br/>
    <%= link_to 'interactive map »',
                localized_public_map_url(:locale => 'en') %>
    <br/>
</p>
<br style="clear: both;"/>

<div class="contentImagesLeft">
  <div class="contentImage100">
    <a href="<%= localized_interview_collections_url(:locale => 'en') -%>">
      <img src="<%= image_path('teaser/collections.png') -%>" alt="Collections"/>
    </a>
  </div>
</div>
<h3 style="margin-top: 8px;">Overview of Collections</h3>
<p>
  The overview map of the project's collections illustrate the provenance of the archive and provide a regional access.
  <br/>
    <%= link_to "overview map of collections »", localized_interview_collections_url(:locale => 'en') %>
    <br/>
</p>

<hr style="clear: both;"/>
<h2 class="clear">FAQs</h2>
<p>Please see the <%= link_to 'Help Page', home_path(:page_id=> t("faq_index", :scope => 'page_urls')) %> for technical advice or if you have any questions about the archive contents or using the archive. If your questions cannot be answered here, please  contact: <a href="mailto:mail@zwangsarbeit-archiv.de" target="_blank" title="Contact Email">mail@zwangsarbeit-archiv.de</a></p>