<h1>Das Online-Archiv "Zwangsarbeit 1939-1945"</h1>

<div class="contentImagesLeft">
<% if current_user_account.nil? -%>
<% @interview = Interview.find_by_archive_id('za465', :include => :translations) -%>
  <div class="contentImage200">
    <a href="<%= interview_path(:id => @interview.archive_id) -%>">
        <img src="<%= image_path 'Baschlai.jpg' %>" alt="<%= @interview.short_title -%>" title="" width="200" height="150" />
        <h6><%= @interview.short_title -%>
          <br/>
          <%= @interview.video %>-Interview,&nbsp;<%= @interview.language.split('/').map{|l| t(l.to_s, :scope => 'categories.languages').downcase}.join(' / ') %><%= @interview.translated ? ' ' + content_tag(:span, '(' + t(:translated, :scope => 'status') + ')', :class => 'translated') : '' %>
        </h6>
    </a>
  </div>
<% else -%>
<% @interview = random_featured_interview -%>
  <div class="contentImage200">
    <a href="<%= interview_path(:id => @interview.archive_id) -%>">
        <img src="<%= image_path @interview.still_image.url(:original) %>" alt="<%= @interview.short_title -%>" title="" width="200" height="150" />
        <h6><%= @interview.short_title -%>
          <br/>
          <%= @interview.video %>-Interview,&nbsp;<%= @interview.language.split('/').map{|l| t(l.to_s, :scope => 'categories.languages').downcase}.join(' / ') %><%= @interview.translated ? ' ' + content_tag(:span, '(' + t(:translated, :scope => 'status') + ')', :class => 'translated') : '' %>
        </h6>
    </a>
  </div>
<% end -%>
</div>

<p></p>

<p>
  Das Online-Archiv &quot;Zwangsarbeit 1939-1945&quot; beinhaltet Zeitzeugen-Interviews
  von knapp 600 ehemaligen Zwangsarbeiterinnen und Zwangsarbeitern aus 26 Ländern.
  Es setzt sich aus unterschiedlichen Teilsammlungen zusammen. Diese wurden,
  finanziert durch die Stiftung &quot;Erinnerung, Verantwortung und Zukunft&quot;,
  in den Jahren 2005-2006 von verschiedenen Institutionen weltweit erstellt.
  Das digitale Archiv bewahrt diese Zeitzeugnisse für die Zukunft und stellt sie
  für Bildung und Wissenschaft zur Verfügung.
</p>

<% if current_user_account.nil? %>
  <p style="font-weight: bold;">
    Aus Gr&uuml;nden des Pers&ouml;nlichkeitsschutzes m&uuml;ssen
    Sie zur Benutzung des Archivs "Zwangsarbeit 1939-1945" <%= link_to 'angemeldet', anmelden_path %> sein und
    die <%= external_link('devise.registration_fields.tos_agreement', :nutzungsbedingungen) %> sowie die
    <%= external_link('devise.registration_fields.priv_agreement', :datenschutzbestimmungen) %> anerkennen.
  </p>
<% else %>
  <br/>
  <p>
    Als angemeldeter Nutzer haben Sie Zugriff auf alle Interviews in voller L&auml;nge, die
    wir unter unseren <%= external_link('devise.registration_fields.tos_agreement', :nutzungsbedingungen) %> und
    <%= external_link('devise.registration_fields.priv_agreement', :datenschutzbestimmungen) %> im Web bereitstellen
    k&ouml;nnen.
  </p>
<% end %>

<br style="clear: both;"/>

<div class="contentImagesLeft">
  <div class="contentImage100">
    <a href="#">
      <img src="<%= image_path('teaser/kategorien.png') -%>" alt="Kategorien"/>
    </a>
  </div>
</div>
<h3 style="margin-top: 8px;">Kategorien-Suche</h3>
<p>
  Inhaltliche Kategorien in der Suchleiste am rechten Bildschirmrand geben einen Einblick in die Systematik des Archivs und dienen dem thematisch strukturierten Zugang.
  <br/>
    <%= link_to 'Beschreibung der Kategorien »',
                localized_home_path(:page_id=> t('page_urls.faq_searching'), :locale => :de, :anchor => 'recherchemoeglichkeiten'),
                :title => 'Welche Recherchemöglichkeiten gibt es?' %>
    <br/>
</p>
<br style="clear: both;"/>

<div class="contentImagesLeft">
  <div class="contentImage100">
    <a href="#">
      <img src="<%= image_path('teaser/volltext.png') -%>" alt="Volltextsuche"/>
    </a>
  </div>
</div>
<h3 style="margin-top: 8px;">Volltextsuche</h3>
<p>
  Die Volltextsuche über das Suchfeld rechts ermöglicht einen intuitiven Zugang über Suchbegriffe, die genau Ihrem Rechercheinteresse entsprechen.
  <br/>
    <%= link_to 'Beschreibung der Volltextsuche »',
                localized_home_path(:page_id=> t('page_urls.faq_searching'), :locale => :de, :anchor => 'suche-allgemein'),
                :title => 'Wie kann ich die Volltextsuche nutzen?' %>
    <br/>
</p>
<br style="clear: both;"/>

<div class="contentImagesLeft">
  <div class="contentImage100">
    <a href="<%= localized_public_map_url(:locale => :de) -%>">
      <img src="<%= image_path('teaser/karte.png') -%>" alt="Karte"/>
    </a>
  </div>
</div>
<h3 style="margin-top: 8px;">Kartenrecherche</h3>
<p>
  Über die interaktive Karte lassen sich biografische Stationen der Interviewten recherchieren: Geburtsort, Ort der Deportation, Lager, Firmen und Haftorte, Wohnorte ab 1945.
  <br/>
    <%= link_to 'zur Kartenrecherche »',
                localized_public_map_url(:locale => :de),
                :title => 'Kartenrecherche' %>
    <br/>
</p>
<br style="clear: both;"/>

<div class="contentImagesLeft">
  <div class="contentImage100">
    <a href="<%= localized_interview_collections_url(:locale => :de) -%>">
      <img src="<%= image_path('teaser/collections.png') -%>" alt="Teilsammlungen"/>
    </a>
  </div>
</div>
<h3 style="margin-top: 8px;">Übersicht der Teilsammlungen</h3>
<p>
  Die Übersicht über die geographische Verteilung der Teilsammlungen gibt Ihnen einen Einblick in die Entstehung des Archivs und einen regionalen Zugang.
  <br/>
    <%= link_to 'zur Karte der Teilsammlungen »', localized_interview_collections_url(:locale => :de), :title => 'Geografische Verteilung der Teilsammlungen' %>
    <br/>
</p>

<hr style="clear: both;"/>
<h2 class="clear">Fragen und Antworten</h2>
<p>
  Über die
  <%= link_to (t :faq),
              localized_home_path(:page_id=> t('page_urls.faq_index'), :locale => :de),
              :title => 'Fragen und Antworten zur Nutzung des Archivs' %>
  auf dieser Seite finden Sie inhaltliche oder technische Hinweise zur Nutzung des Archivs.
  Sollten Ihre Fragen dort nicht beantwortet werden, schreiben Sie uns bitte eine E-Mail an:
  <a href="mailto:mail@zwangsarbeit-archiv.de" target="_blank" title="Kontakt">
    mail@zwangsarbeit-archiv.de
  </a>
</p>
