<h1>Questions About Searching</h1>

<ul>


  <li>

      <a href="#recherchemoeglichkeiten">Which search options are available?</a>
  </li>


  <li>

      <a href="#suche-allgemein">How can I use the full text search option?</a>
  </li>


  <li>

      <a href="#einschraenkung_ergebnisse">There are too many search results. How can I narrow my search?</a>
  </li>


  <li>

      <a href="#grossklein">Are the search functions case sensitive?</a>
  </li>


  <li>


      <a href="#suche-datum">Is it possible to search for a specific date?</a>
  </li>


  <li>

      <a href="#suche-ortsnamen">Can the search be limited to camps and areas of deployment?</a>
  </li>


  <li>


      <a href="#suche-schreibweisen">Is it possible to search for an individual even if the spelling of the name is
        unknown?</a>
  </li>


  <li>

      <a href="#suche-wildcard">Can I abbreviate search terms?</a>
  </li>


</ul>





<br/>
<hr/>
<h2>

  <a name="recherchemoeglichkeiten"></a>



    Which search options are available?

  </h2>




<p>There are six categories providing structured access to the interviews:</p>
<p>· Name: Name of the Interviewee</p>
<p>· Group: Persecuted Group the Interviewee Belongs to</p>
<p>· Deployment Area: Deployment Areas in which the
    Interviewees Had to Perform Forced Labor</p>
<p>· Language: Interview Language</p>
<p>·
  Internment Conditions: Internment
    Conditions of the Interviewees</p>

<p>·
  Place of Residence (Country): Interviewees’ Current
    Country of Residence</p>
<p>Alternatively, you can use the Full Text Search
  option to search the interview holdings of the archive or get started by using the
  <%= link_to (t :collections_map), interview_collections_url, :title => "Collections" %> showing the geographical distribution of the subsets of the
  collection.</p>







<br class="clear"/>

<a href="#seitenanfang" title="Top of the Page">

  <img src="<%= image_path 'sprungmarke.gif' %>" alt="Bild Sprungmarke nach oben" border="0" title="" />


</a>



<br/>
<hr/>
<h2>

  <a name="suche-allgemein"></a>



    How can I use the full text search option?

  </h2>



<p>The archive has a full text search in which you can enter one or more search terms. </p>

<p>Several search terms are linked with AND.</p>
<p>Example:</p>
<p>On a search with the entry Auschwitz Mauthausen, all interviews in which both terms occur will be found. If you only
  enter one of the two terms, you will obtain more results.</p>
<p></p>







<br class="clear"/>

<a href="#seitenanfang" title="Top of the Page">

  <img src="<%= image_path 'sprungmarke.gif' %>" alt="Bild Sprungmarke nach oben" border="0" title="" />

</a>




<br/>
<hr/>
<h2>

  <a name="einschraenkung_ergebnisse"></a>


    There are too many search results. How can I narrow my search?


  </h2>



<p>Enter additional search terms to narrow down your search results. You can also use the categories at the right of the
  page.</p>







<br class="clear"/>

<a href="#seitenanfang" title="Top of the Page">

  <img src="<%= image_path 'sprungmarke.gif' %>" alt="Bild Sprungmarke nach oben" border="0" title="" />

</a>



<br/>
<hr/>
<h2>

  <a name="grossklein"></a>




    Are the search functions case sensitive?

  </h2>



<p>Searches are not case sensitive.</p>







<br class="clear"/>

<a href="#seitenanfang" title="Top of the Page">

  <img src="<%= image_path 'sprungmarke.gif' %>" alt="Bild Sprungmarke nach oben" border="0" title="" />

</a>




<br/>
<hr/>
<h2>

  <a name="suche-datum"></a>



    Is it possible to search for a specific date?

  </h2>



<p>You can use the full text search for specific dates. Enter the month and year as MM/YYYY, e.g. 01/1945. You can also
  enter the year only.</p>







<br class="clear"/>

<a href="#seitenanfang" title="Top of the Page">

  <img src="<%= image_path 'sprungmarke.gif' %>" alt="Bild Sprungmarke nach oben" border="0" title="" />

</a>



<br/>
<hr/>
<h2>

  <a name="suche-ortsnamen"></a>




    Can the search be limited to camps and areas of deployment?

  </h2>



<p>You can also search by names of places using the full text search option. Just enter the name of the place in the
  search box.</p>







<br class="clear"/>

<a href="#seitenanfang" title="Top of the Page">

  <img src="<%= image_path 'sprungmarke.gif' %>" alt="Bild Sprungmarke nach oben" border="0" title="" />

</a>




<br/>
<hr/>
<h2>

  <a name="suche-schreibweisen"></a>



    Is it possible to search for an individual even if the spelling of the name is unknown?

  </h2>



<p>You can also enter different scripts and alphabets into the search function (e.g. Cyrillic).</p>







<br class="clear"/>

<a href="#seitenanfang" title="Top of the Page">

  <img src="<%= image_path 'sprungmarke.gif' %>" alt="Bild Sprungmarke nach oben" border="0" title="" />

</a>



<br/>
<hr/>
<h2>

  <a name="suche-wildcard"></a>




    Can I abbreviate search terms?

  </h2>



<p>The search function also allows for a search by abbreviations. </p>
<p>Example: If you enter Flossenb, you will obtain all results with Flossenbürg.</p>
<p></p>

		






