<h1>Технические вопросы</h1>

<ul>


    <li>

        <a href="#systemvoraussetzungen">Требования к системе</a>
    </li>


    <li>

        <a href="#uebertragung">Какая скорость передачи данных мне необходима для просмотра или прослушивания интервью?</a>
    </li>


    <li>

        <a href="#video">Почему не воспроизводится видео?</a>
    </li>


    <li>

        <a href="#wechsel-qualitaeten">Почему в некоторых браузерах показ видеоинтервью продолжается во время переключения уровня качества?</a>
    </li>


    <li>


        <a href="#bildershow">Как просматривать фотографии в галерее?</a>
    </li>


    <li>

        <a href="#support_kontakt">Я по-прежнему испытываю трудности. Что делать?</a>
    </li>


</ul>





<br/>
<hr/>
<h2>

    <a name="Требования к системе"></a>


    Какие требования к системе должен выполнять мой компьютер для отображения интервью в архиве?


</h2>




<ul>
    <li>Архив оптимизирован для браузеров Firefox 3 и Internet Explorer 7 и операционной системы Windows (Windows
        XP и Vista).
    </li>
    <li>Для воспроизведения аудио- и видеофайлов должна быть установлена актуальная версия проигрывателя Adobe Flash-Player</a>, а также
        активирован Java-скрипт в Вашем браузере.
    </li>
    <li>Для просматривания документов в формате PDF рекомендуется использование программы Adobe Acrobat Reader</a>.</li>

    <li>Для воспроизведения видео высокого качества мы рекомендуем эффективный компьютер и широкополосный или высокоскоростной доступ в интернет (например, 2000 кбит/с, так называемый доступ в интернет &quot;DSL 2000&quot;).
    </li>
</ul>







<br class="clear"/>

<a href="#seitenanfang" title="В начало страницы">

    <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>

</a>



<br/>

<hr/>
<h2>

    <a name="uebertragung"></a>


    Какая скорость передачи данных мне необходима для просмотра или прослушивания интервью?

</h2>



<p>Для воспроизведения видео в высоком качестве мы рекомендуем широкополосный или высокоскоростной доступ в интернет (2000 кбит/с, так называемый доступ в интернет &quot;DSL 2000&quot;). При более низкой пропускной способности сети скорость передачи данных может быть недостаточной для показа видео без помех.</p>







<br class="clear"/>

<a href="#seitenanfang" title="В начало страницы">

    <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>

</a>



<br/>
<hr/>
<h2>

    <a name="video"></a>


    Почему не воспроизводится видео?

</h2>



<ul>
    <li>Проверьте, установлена ли в Вашем браузере актуальная версия проигрывателя Adobe Flash-Player</a>.
    </li>
    <li>Также проверьте, активирован ли в Вашем браузере Java-скрипт.</li>

    <li>Если Вы используете расширения браузера (так называемые plug-in (плагин) или add-on (дополнение)) или дополнительные панели меню, фильтрующие динамический контент, деактивируйте их при необходимости для работы с данным сайтом (например, блокировщики рекламы).
    </li>
</ul>







<br class="clear"/>

<a href="#seitenanfang" title="В начало страницы">

    <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>

</a>



<br/>
<hr/>

<h2>

    <a name="wechsel-qualitaeten"></a>


    Почему в некоторых браузерах показ видеоинтервью продолжается во время переключения уровня качества?


</h2>



<p>При переключении уровня качества видео воспроизведение в Internet Explorer 7 не прекращается автоматически. Вам необходимо остановить видео перед изменением уровня качества.</p>
<p>В других браузерах воспроизведение прекращается автоматически, если Вы меняете уровень качества видео (например, в Firefox).</p>







<br class="clear"/>


<a href="#seitenanfang" title="В начало страницы">

    <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>

</a>



<br/>
<hr/>
<h2>

    <a name="bildershow"></a>


    Как просматривать фотографии в галерее?

</h2>



<p>Навигировать по фотогалерее Вы можете с помощью двух кнопок, которые отображаются в левой и правой стороне окна фотографии (символы <strong>&lt;</strong> и <strong>&gt;</strong>), если провести по ним мышкой. </p>
<p>С помощью значка <strong>X</strong> внизу справа Вы можете закрыть фотогалерею.</p>







<br class="clear"/>

<a href="#seitenanfang" title="В начало страницы">


    <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>

</a>



<br/>
<hr/>
<h2>

    <a name="support_kontakt"></a>


    Я по-прежнему испытываю трудности. Что делать?

</h2>




<p>Отправьте, пожалуйста, письмо на следующий электронный адрес
    <a href="mailto:mail@zwangsarbeit-archiv.de" target="_blank" title="Contact Email">mail@zwangsarbeit-archiv.de</a>.
    Мы охотно поможем Вам в разрешении Ваших вопросов.</p>





