<h1>Fragen zur Recherche</h1>

<ul>


  <li>
    <a href="#recherchemoeglichkeiten">Welche Recherchemöglichkeiten gibt es?</a>
  </li>


  <li>

    <a href="#suche-allgemein">Wie kann ich die Volltextsuche nutzen?</a>
  </li>


  <li>

    <a href="#einschraenkung_ergebnisse">Lassen sich die Suchergebnisse eingrenzen?</a>
  </li>


  <li>

    <a href="#grossklein">Muss bei der Suchfunktion Groß-und Kleinschreibung beachtet werden?</a>
  </li>


  <li>


    <a href="#suche-datum">Kann man nach einem Datum suchen?</a>
  </li>


  <li>

    <a href="#suche-ortsnamen">Kann die Suche auf die Lager und Einsatzorte beschränkt werden?</a>
  </li>


  <li>


    <a href="#suche-schreibweisen">Ist es möglich, nach einer Person zu suchen, wenn die Schreibweise des Namens nicht
      bekannt ist?</a>
  </li>


  <li>

    <a href="#suche-wildcard">Kann ich Suchbegriffe abkürzen?</a>
  </li>


</ul>





<br/>
<hr/>
<h2>

  <a name="recherchemoeglichkeiten"></a>


  Welche Recherchemöglichkeiten gibt es?

</h2>




<p>Es gibt sechs Kategorien, die einen strukturierten Zugriff auf die Interviews ermöglichen:</p>
<ul>
  <li>
    Namen: Namen der/des Interviewten
  </li>
  <li>
    Gruppe: Verfolgtengruppe zu der die/der Interviewte gehört
  </li>

  <li>
    Einsatzbereich: Einsatzbereiche, in denen die/der Interviewte Zwangsarbeit leisten musste
  </li>
  <li>
    Sprache: Sprache des Interviews
  </li>
  <li>
    Unterbringung / Inhaftierung: Art der Unterbringung der/des Interviewten
  </li>
  <li>
    Wohnort (Land): heutiger Wohnort der/des Interviewten
  </li>
</ul>
<p>Alternativ bzw. ergänzend dazu können Sie die Volltextsuche nutzen, um im Bestand der Interviews im Archiv zu suchen
  oder über die <%= link_to (t :map), collections_url, :title => "Geografische Verteilung der Teilsammlungen" %>, die
  die geographische Verteilung der Teilsammlungen zeigt, einsteigen.</p>







<br class="clear"/>

<a href="#seitenanfang" title="Zum Seitenanfang">

  <img src="<%= image_path 'sprungmarke.gif' %>" alt="Bild Sprungmarke nach oben" border="0" title=""/>

</a>



<br/>
<hr/>
<h2>

  <a name="suche-allgemein"></a>


  Wie kann ich die Volltextsuche nutzen?

</h2>



<p>Das Archiv verfügt über eine Volltextsuche. Sie können einen oder mehrere Suchbegriffe eingeben.<br/>Mehrere
  Suchbegriffe werden mit UND verknüpft.</p>
<p>Beispiel:<br/>Bei der Eingabe <em>Auschwitz Mauthausen</em> werden alle Interviews gefunden, in denen beide Begriffe
  vorkommen. <br/>Wenn Sie bei der Suchanfrage nur einen der beiden Begriffe eingeben, erhalten Sie deutlich mehr
  Ergebnisse.</p>







<br class="clear"/>

<a href="#seitenanfang" title="Zum Seitenanfang">

  <img src="<%= image_path 'sprungmarke.gif' %>" alt="Bild Sprungmarke nach oben" border="0" title=""/>

</a>



<br/>
<hr/>
<h2>

  <a name="einschraenkung_ergebnisse"></a>


  Es gibt zu viele Suchergebnisse. Wie kann ich die Suche eingrenzen?


</h2>



<p>Geben Sie zusätzliche Suchbegriffe ein, um die Suche weiter einzugrenzen. <br/>Alternativ dazu können Sie auch die
  Kategorien auf der rechten Seite nutzen.</p>







<br class="clear"/>

<a href="#seitenanfang" title="Zum Seitenanfang">

  <img src="<%= image_path 'sprungmarke.gif' %>" alt="Bild Sprungmarke nach oben" border="0" title=""/>


</a>



<br/>
<hr/>
<h2>

  <a name="grossklein"></a>


  Muss bei der Suchfunktion Groß-und Kleinschreibung beachtet werden?

</h2>



<p>Groß-und Kleinschreibung wird bei der Suche nicht unterschieden.</p>







<br class="clear"/>

<a href="#seitenanfang" title="Zum Seitenanfang">

  <img src="<%= image_path 'sprungmarke.gif' %>" alt="Bild Sprungmarke nach oben" border="0" title=""/>

</a>



<br/>
<hr/>
<h2>

  <a name="suche-datum"></a>


  Kann man nach einem Datum suchen?

</h2>



<p>Sie können mit der Volltextsuche auch nach Datumswerten suchen. Geben Sie in das Suchfeld dazu Monat und Jahr in der
  Form MM/JJJJ ein, z.B. 01/1945. Sie können auch nur das Jahr eingeben.</p>







<br class="clear"/>

<a href="#seitenanfang" title="Zum Seitenanfang">

  <img src="<%= image_path 'sprungmarke.gif' %>" alt="Bild Sprungmarke nach oben" border="0" title=""/>

</a>




<br/>
<hr/>
<h2>

  <a name="suche-ortsnamen"></a>


  Kann die Suche auf die Lager und Einsatzorte beschränkt werden?

</h2>



<p>Mit der Volltextsuche können Sie auch nach Ortsnamen suchen. Geben sie dazu den Ortsnamen in das Suchfeld ein.</p>







<br class="clear"/>

<a href="#seitenanfang" title="Zum Seitenanfang">

  <img src="<%= image_path 'sprungmarke.gif' %>" alt="Bild Sprungmarke nach oben" border="0" title=""/>

</a>



<br/>
<hr/>
<h2>

  <a name="suche-schreibweisen"></a>


  Ist es möglich, nach einer Person zu suchen, wenn die Schreibweise des Namens nicht bekannt ist?

</h2>



<p>Sie können in der Suchfunktion auch unterschiedliche Schreibweisen und Schriften eingeben (z.B. kyrillisch).</p>







<br class="clear"/>

<a href="#seitenanfang" title="Zum Seitenanfang">

  <img src="<%= image_path 'sprungmarke.gif' %>" alt="Bild Sprungmarke nach oben" border="0" title=""/>

</a>




<br/>
<hr/>
<h2>

  <a name="suche-wildcard"></a>


  Kann ich Suchbegriffe abkürzen?

</h2>



<p>Die Suchfunktion ermöglicht auch die Suche nach Abkürzungen.<br/>Beispiel: Wenn Sie <em>Flossenb</em> eingeben,
  erhalten Sie alle Ergebnisse zu Flossenbürg.</p>



