<h1>Questions About the Archive Contents</h1>
<ul>
  <li>
    <a href="#bg">What are accompanying materials?</a>
  </li>
  <li>
    <a href="#kurzbiographien">How did the short biographies come about?</a>
  </li>
  <li>
    <a href="#alle_bg">Are short biographies, transcripts and translations
      available for all interviews?</a>
  </li>
  <li>
    <a href="#bg-ua">What do the brackets [...] in the transcripts and
      translations mean?</a>
  </li>
  <li>
    <a href="#kurzprotokolle">Are any other additional accompanying materials
      available for the interviews?</a>
  </li>
  <li>
    <a href="#trans_ueber">Why are the names in the accompanying materials
      different from those in the archive?</a>
  </li>
  <li>
    <a href="#einsatzbereich">Which information will I find under the category
      of “Deployment Area”?</a>
  </li>
  <li>
    <a href="#gruppe">Which groups of individuals will I find in the interview
      collection?</a>
  </li>
  <li>
    <a href="#otrezw">Is there a list available of all the sites where the
      interviewees had to perform forced labor?</a>
  </li>
  <li>
    <a href="#unterbringung">What does “Internment Conditions” mean?</a>
  </li>
  <li>
    <a href="#datum">What is the method behind the notation of dates?</a>
  </li>
  <li>
    <a href="#weitere_angaben">Why does the information for “Deployment Area”
      sometimes differ from the information for
      “Deployment Area – Additional Information”?</a>
  </li>
  <li>
    <a href="#vorhanden">Why aren’t all of the interviews available?</a>
  </li>
  <li>
    <a href="#fotos">Is there a photo gallery for every interview?</a>
  </li>
  <li>
    <a href="#sprachen">Why do I see different languages at the same time?</a>
  </li>
  <li>
    <a href="#fortsetzung">Is the work on the archive “Forced Labor 1939-1945”
      complete at this stage?</a>
  </li>
  <li>
    <a href="#surschik">What is Surzhyk?</a>
  </li>
  <li>
    <a href="#zitation">How do I cite the interviews of the archive “Forced
      Labor 1939-1945” in my work?</a>
  </li>
  <li>
    <a href="#nutzung">Is it possible to use excerpts from the interviews for
      exhibitions, presentations, apps etc.?</a>
  </li>
  <li>
    <a href="#weiterverwertung">Is it possible to use excerpts from the
      interviews for my own presentations?</a>
  </li>
  <li>
    <a href="#tranueb">Is it permitted to use excerpts from the accompanying
      materials in publications?</a>
  </li>
  <li>
    <a href="#support_inhalt">I still have additional questions. What should I
      do?</a>
  </li>
</ul>

<br/>
<hr/>
<h2>
  <a name="bg"></a>
  What are accompanying materials?
</h2>
<p>
  <span lang="EN-US">The accompanying materials for the interviews include short biographies, transcripts, translations and photos.</span>
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Back to top">
  <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />
</a>

<br/>
<hr/>
<h2>
  <a name="kurzbiographien"></a>
  How did the short biographies come about?
</h2>
<p>
  <span lang="EN-US">The short biographies had already been compiled within the scope of the interview project “Documentation of Life Story Interviews with Former Slave and Forced Laborers” coordinated by the Institute for History and Biography at the FernUniversität Hagen under the leadership of Alexander von Plato. Most of the short biographies are in German; some interviews are currently only available in English.</span>
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Back to top">
  <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />
</a>

<br/>
<hr/>
<h2>
  <a name="alle_bg"></a>
  Are short biographies, transcripts and translations available for all
  interviews?
</h2>
<p>
  <span lang="EN-US">At this time, accompanying materials are not available for all of the interviews. In the course of the further development of the archive, all of the interviews will be transcribed and translated. Until then, users are free to create their own transcripts and translations.</span>
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Back to top">
  <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />
</a>

<br/>
<hr/>
<h2>
  <a name="bg-ua"></a>
  What do the brackets [...] in the transcripts and translations mean?
</h2>
<p>
  <span lang="EN-US">For reasons of privacy, the contact information of the interviewees has been deleted from the accompanying materials and replaced by the placeholder [...].</span>
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Back to top">
  <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />
</a>

<br/>
<hr/>
<h2>
  <a name="kurzprotokolle"></a>
  Are any other additional accompanying materials available for the interviews?
</h2>
<p>
  <span lang="EN-US">Yes, in addition to the short biographies, transcripts and translations, interview logs and
    datasheets have also been created. For reasons of privacy, these have not been publicized in the archive.
    Should you need access to these materials for research purposes, please contact:
    <a href="mailto:mail@zwangsarbeit-archiv.de" target="_blank" title="Contact Email">mail@zwangsarbeit-archiv.de</a>.</span>
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Back to top">
  <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />
</a>

<br/>
<hr/>
<h2>
  <a name="trans_ueber"></a>
  Why are the names in the accompanying materials different from those in the
  archive?
</h2>
<p>
  <span lang="EN-US">The accompanying materials were compiled within the scope of the interview project “Documentation of Life Story Interviews with Former Slave and Forced Laborers”. The variations in spelling of the names have been standardized for the archive interface. The original spelling has been maintained for the short biographies, transcripts and translations.</span>
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Back to top">
  <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />
</a>

<br/>
<hr/>
<h2>
  <a name="einsatzbereich"></a>
  Which information will I find under the category of “Deployment Area”?
</h2>
<p>
  <span lang="EN-US">The different areas in which the interviewees had to perform forced labor have been categorized into branches and economic sectors according to the criteria used in economic statistics.</span>
</p>
<p>
  <span lang="EN-US">The primary sector includes agriculture, agribusiness and forestry. The secondary sector encompasses mining and industry, crafts and trade, as well as construction, stonework and earthwork (including building construction and civil engineering as well as ore and stone extraction).<br/>The tertiary sector includes business/trade, healthcare, and transportation. Services in private households as well as for public employers (public sector) or in unspecified administration are also included here.</span>
</p>
<p>
  <span lang="EN-US">A separate group constitutes deployment by the Wehrmacht or Organisation Todt, in ports and shipyards and in camps (forced labor in concentration camps and death camps are listed separately).</span>
</p>
<p>
  <span lang="EN-US">The categories have been created according to the data available and have only been reviewed in individual cases. Places of deployment that could not be categorized come under the category “Miscellaneous”. In some cases, details are “Not Specified”.</span>
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Back to top">
  <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />
</a>

<br/>
<hr/>
<h2>
  <a name="gruppe"></a>
  Which groups of individuals will I find in the interview collection?
</h2>
<p>
  <span lang="EN-US">The archive “Forced Labor 1939-1945” contains interviews with individuals who were victims of National Socialism in different ways during the Second World War. German victims after the war (e.g. German prisoners of war in the Soviet Union, German forced laborers in Poland or Czechoslovakia) are not represented in the archive. Those interviewed were predominantly individuals who were compelled to perform forced labor in one form or another. In order to ensure precise research, the individual groups of forced laborers have been categorized as precisely as possible: OST-Arbeiter (Eastern workers) or Service du Travail obligatoire; in other cases (particularly, in the case of the Polish forced laborers and individuals who had to perform forced labor in their home countries) the category “Forced Laborers” is used. Along with the specific designation “Italian Military Internee” (IMI), the more general term “Prisoner of War” is also found.</span>
</p>
<p>
  <span lang="EN-US">Victims of racist persecution (Jews as well as Sinti and Roma) and those who were persecuted for political and religious reasons (<span>Jehovah's Witnesses or Orthodox Serbs in Croatia) are each represented as a separate group. Not all of them were interned in concentration camps. For this reason, there is also a separate category for concentration camp prisoners, especially because this group of people defines itself less in terms of the forced labor they performed, but rather through their persecution and internment as those who are “different”.</span><br/>Most people went through various stages of persecution: from captivity to civilian forced labor or from forced labor to political persecution and concentration camp internment. Germanized children represent a special case. The category “Miscellaneous” includes those who cannot be clearly assigned to a category based on the information available.</span>
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Back to top">
  <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />
</a>

<br/>
<hr/>
<h2>
  <a name="otrezw"></a>
  Is there a list available of all the sites where the interviewees had to
  perform forced labor?
</h2>
<p>
  <span lang="EN-US">The sites where the interviewees had to perform forced labor can be found by using the search function.</span>
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Back to top">
  <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />
</a>

<br/>
<hr/>
<h2>
  <a name="unterbringung"></a>
  What does “Internment Conditions” mean?
</h2>
<p>
  <span lang="EN-US">Along with the areas of deployment and working conditions, the site and conditions of internment determined the forced laborers’ living conditions and chances of survival. The category “Internment Conditions” enables a quick search of the witnesses interviewed according to the various conditions:</span>
</p>
<p>
  <span lang="EN-US">Camps (including prisoner of war camps) are distinguished from concentration camps as well as Arbeitserziehungslager (work education camps), which were a specific form of punitive treatment against civilian foreign workers. People were also interned in prisons. For so-called private accommodation, the following are distinguished from each other: internment conditions “At the Labor Site” (in some cases this also includes non-private accommodation when this designation applies) and “At Home” (for laborers who were not deported) as well as “Private Accommodation” (for insofar privileged foreign laborers for whom collective accommodation was not assigned). The establishment of ghettos for Jews represents a special case and for this reason the category “Ghettos” has also been incorporated. The category “Miscellaneous” encompasses those conditions of internment that cannot be clearly assigned to a category. In some cases the corresponding information is not available.</span>
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Back to top">
  <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />
</a>

<br/>
<hr/>
<h2>
  <a name="datum"></a>
  What is the method behind the notation of dates?
</h2>
<p>
  <span lang="EN-US">Dates each consist of month and year. When no month is specified, 01 is listed by default. Example: Liberation Date: 01/1945 means that the interviewee was liberated in 1945.</span>
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Back to top">
  <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />
</a>

<br/>
<hr/>
<h2>
  <a name="weitere_angaben"></a>
  Why does the information for “Deployment Area” sometimes differ from the
  information for “Deployment Area – Additional Information”?
</h2>
<p>
  <span lang="EN-US">The information in the categories “Deployment Area” and “Internment Conditions” has been revised in the course of the archive development. Under “Deployment Area – Additional Information”, you will find the information from the data collected by the interviewers.</span>
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Back to top">
  <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />
</a>

<br/>
<hr/>
<h2>
  <a name="vorhanden"></a>
  Why aren’t all of the interviews available?
</h2>
<p>
  <span lang="EN-US">The interviews are continually being processed and will be successively made available in the archive. For some interviews, there are still not enough declarations of consent available at this time to publish these interviews in the archives.</span>
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Back to top">
  <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />
</a>

<br/>
<hr/>
<h2>
  <a name="fotos"></a>
  Is there a photo gallery for every interview?
</h2>
<p>
  No, at this time there is not a photo gallery for every interview. Currently,
  only photos that have been collected in
  the respective subsets of the collection have been made available.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Back to top">
  <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />
</a>

<br/>
<hr/>
<h2>
    <a name="sprachen"></a>
    Why do I see different languages at the same time?
</h2>
<p>
    The archive has been created primarily in German and will be gradually configured to be multilingual.<br/>
    On some archive pages, the contents are not uniformly represented in one language. This is due to the
    fact that all the information for the interviews (conducted in 25 languages) is only available in its
    entirety in German. The user interface, as well as the data about the people and interviews, can be
    electively displayed in German, Russian or English.<br/>
    The table of contents, captions, short biographies, editorial comments and the transcript are also shown
    in Russian for the Russian-speaking interviews and in English for the interviews in English.<br/>
    For interviews in other languages, the table of contents, captions, short biography and editorial notes
    are only available in German, even if you have selected the Russian or English archive version. The
    transcript is also available only in the original language version and in German translation.<br/>
    A further expansion of the archive with other language versions is planned.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Back to top">
    <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />
</a>

<br/>
<hr/>
<h2>
  <a name="fortsetzung"></a>
  Is the work on the archive “Forced Labor 1939-1945” complete at this stage?
</h2>
<p>
  <span lang="EN-US">The interview phase for the archive “Forced Labor 1939-1945” is complete at this time. The archive holdings will be continually updated and revised. New options will be developed and existing ones modified.</span>
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Back to top">
  <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />
</a>

<br/>
<hr/>
<h2>
  <a name="surschik"></a>
  What is Surzhyk?
</h2>
<p>
  The language situation in Ukraine was characterized for centuries by a “side
  by side” coexistence of Ukrainian and
  Russian. Since 1991, Ukrainian has become the official language of Ukraine.
  Through a history of long and intensive
  contact with the Russian language and as a result of gradual Russification
  during the Soviet Era, a language variety
  emerged among the people: Surzhyk (from the Ukrainian, суржик = “low-quality
  flour made from mixed grains”). The term
  is a colloquial collective label for a mixed dialect arising from Ukrainian
  and Russian. In their
  efforts to speak Russian, the frequently inadequately educated rural
  population produced a language variety adapted
  from the Ukrainian but whose vocabulary consisted essentially of Russian
  words. Hence, Russian emerges predominantly
  in the lexicon and Ukrainian in the grammar. This Ukrainian-Russian mix of
  languages is spoken in many parts of
  Ukraine and in some western regions of Russia. According to statistics
  published by the Kiev International Sociology
  Institute in 2003, surzhyk is spoken by around one fifth of the population,
  e.g. 21.7%, east of
  Central Ukraine. Central Ukraine follows with 14.6%, followed by the South
  with 12.4%, the East with 9.6% and the West
  with 2.5%, where the Ukrainian language has traditionally been very strong. A
  similar language phenomenon can be
  observed in Belarus: Trasianka or <strong>trasyanka</strong> (Belarusian:
  трасянка) is a widely spread mix of
  languages in Belarus consisting of Belarusian and Russian.
  <strong>Surzhyk</strong> and <strong>trasianka</strong>
  have been investigated very little in descriptive linguistics until now.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Back to top">
  <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />
</a>

<br/>
<hr/>
<h2>
  <a name="zitation"></a>
  How do I cite the interviews of the archive “Forced Labor 1939-1945” in my
  work?
</h2>
<p>
  <span lang="EN-US">It is permitted to cite the interviews. Citations in research texts should ensure first and foremost that the interview cited can be found again. Therefore, the following details should be included:</span>
</p>
<ul>
  <li><span lang="EN-US">First letter of the last name of the interviewee, first name of the interviewee</span></li>
  <li><span lang="EN-US">“Interview from the archive ‘Forced Labor 1939-1945’ ”</span></li>
  <li><span lang="EN-US">Archive ID of the interview</span></li>
  <li><span lang="EN-US">Type of media (video interview, audio interview, short biography, transcript, translation, photo)</span></li>
</ul>
<p><span lang="EN-US">The following information is optional:</span></p>
<ul>
  <li><span lang="EN-US">Name of the subset of the collection</span></li>
</ul>
<br class="clear"/>
<a href="#seitenanfang" title="Back to top">
  <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />
</a>

<br/>
<hr/>
<h2>
  <a name="nutzung"></a>
  Is it possible to use excerpts from the interviews for exhibitions, presentations, apps etc.?
</h2>
<p>
  <span lang="EN-US">You are not allowed to download and edit interviews from the online archive.
    But you can request disclosure of archive material. You can find more information in our
    <%= external_link('privacy.terms', :nutzungsantrag) %>.</span>
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Back to top">
  <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />
</a>

<br/>
<hr/>
<h2>
  <a name="weiterverwertung"></a>
  Is it possible to use excerpts from the interviews for my own presentations?
</h2>
<p>
  <span lang="EN-US">At this time, the archive is only intended for research purposes. For additional purposes, such as using excerpts from the interviews in research presentations, please contact <a href="mailto:mail@zwangsarbeit-archiv.de" target="_blank" title="Contact Email">mail@zwangsarbeit-archiv.de</a>.</span>
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Back to top">
  <img src="<%= image_path "#{Rails.configuration.x.project}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />
</a>

<br/>
<hr/>
<h2>
  <a name="support_inhalt"></a>
  I still have additional questions. What should I do?
</h2>
<p>
  If you have additional questions, please contact
  <a href="mailto:mail@zwangsarbeit-archiv.de" target="_blank" title="Contact Email">mail@zwangsarbeit-archiv.de</a>
  and we will be happy to assist you
  further.
</p>
