<h1>Inhaltliche Fragen</h1>

<ul>
  <li>
    <a href="#bg">Was sind Begleitmaterialien?</a>
  </li>
  <li>
    <a href="#kurzbiographien">Wie sind die Kurzbiographien entstanden?</a>
  </li>
  <li>
    <a href="#bg-ua">Was bedeuten die eckigen Klammern [...] in den Transkripten und Übersetzungen?</a>
  </li>
  <li>
    <a href="#kurzprotokolle">Gibt es zu den Interviews noch weitere Begleitmaterialien?</a>
  </li>
  <li>
    <a href="#gruppe">Welche Personengruppen finde ich in der Interview-Sammlung?</a>
  </li>
  <li>
    <a href="#literatur">Gibt es Literatur zum Forschungsprojekt "Lebensgeschichte und Sozialkultur im Ruhrgebiet 1930-1960"?</a>
  </li>
  <li>
    <a href="#keinevideos">Warum gibt es keine Video-Aufzeichnungen?</a>
  </li>
  <li>
    <a href="#vorhanden">Warum sind nicht alle Interviews des Archivs "Deutsches Gedächtnis" verfügbar?</a>
  </li>
  <li>
    <a href="#fortsetzung">Werden weitere Interviews online gestellt?</a>
  </li>
  <li>
    <a href="#offlinezugaenglich">Sind die nicht online gestellten Interviews zugänglich?</a>
  </li>
  <li>
    <a href="#zitation">Wie zitiere ich die Interviews des Online-Archivs "Deutsches Gedächtnis" in meiner Arbeit?</a>
  </li>
  <li>
    <a href="#nutzung">Ist es möglich, Interviewausschnitte für eigene Ausstellungen oder Präsentationen zu verwenden?</a>
  </li>
  <li>
    <a href="#tranueb">Ist die Verwendung von Auszügen der Begleitmaterialien in Publikationen gestattet?</a>
  </li>
  <li>
    <a href="#support_inhalt">Ich habe noch weitere Fragen. Was kann ich tun?</a>
  </li>
</ul>


<br/>
<hr/>
<h2>
  <a name="bg"></a>
  Was sind Begleitmaterialien?
</h2>
<p>
  Die Begleitmaterialien zu den Interviews umfassen die Transkripte und je nach Verfügbarkeit Kurzbiographien und
  Fotos. Außerdem finden Sie unter dem Link "Literatur" Veröffentlichungen, die sich auf das Interview beziehen.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Zum Seitenanfang">
 <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Bild: Sprungmarke nach oben" border="0" title="Zum Seitenanfang"/>
</a>

<br/>
<hr/>
<h2>
  <a name="kurzbiographien"></a>
  Wie sind die Kurzbiographien entstanden?
</h2>
<p>
  Die Kurzbiographien wurden zum Teil vom Interviewer, zum Teil erst im Rahmen der Transkription erstellt. So weit
  möglich, ist die Herkunft durch Nennung der Autorin oder des Autors nachgewiesen.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Zum Seitenanfang">
  <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Bild: Sprungmarke nach oben" border="0" title="Zum Seitenanfang"/>
</a>

<br/>
<hr/>
<h2>
  <a name="bg-ua"></a>
  Was bedeuten die eckigen Klammern [...] in den Transkripten und Übersetzungen?
</h2>
<p>
  Aus Gründen des Persönlichkeitsschutzes wurden die Kontaktdaten der Interviewten aus den Begleitmaterialien gelöscht
  und durch den Platzhalter [...] ersetzt.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Zum Seitenanfang">
  <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Bild: Sprungmarke nach oben" border="0" title="Zum Seitenanfang"/>
</a>

<br/>
<hr/>
<h2>
  <a name="kurzprotokolle"></a>
  Gibt es zu den Interviews noch weitere Begleitmaterialien?
</h2>
<p>
  Ja, neben den Kurzbiografien und den Transkripten wurden teilweise auch Interviewprotokolle und Datenbögen erstellt.
  Diese sind aus persönlichkeitsrechtlichen Gründen nicht im Archiv publiziert. Falls Sie für Forschungszwecke Zugang
  zu diesen Materialien benötigen, wenden Sie sich bitte an:
  <a href="mailto:deutsches-gedaechtnis@fernuni-hagen.de" target="_blank" title="Kontakt">deutsches-gedaechtnis@fernuni-hagen.de</a>.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Zum Seitenanfang">
  <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Bild: Sprungmarke nach oben" border="0" title="Zum Seitenanfang"/>
</a>

<br/>
<hr/>
<h2>
  <a name="gruppe"></a>
  Welche Personengruppen finde ich in der Interview-Sammlung?
</h2>
<p>
  Die Sammlung "Lebensgeschichte und Sozialkultur im Ruhrgebiet 1930-1960" beinhaltet die im Rahmen des gleichnamigen
  Projektes durchgeführten Interviews. Das Projekt war das erste und dabei wohl immer noch umfangreichste
  Oral-History-Projekt in der Bundesrepublik Deutschland und wurde zu Beginn der 1980er Jahre unter Leitung von Lutz
  Niethammer durchgeführt. Neben einer Fülle von Einzelaspekten ging es um Faschismuserfahrungen sowie um deren
  Verarbeitung und Bedeutung als Vorgeschichte der Nachkriegszeit ging. Einschließlich des Nachfolgeprojektes
  "Einsetzung und Einpassung neuer Eliten in NRW nach 1945" wurden vierhundert lebensgeschichtliche Interviews mit
  Personen aus der Wirtschaft, dem Mittelstand und der Arbeiterschaft des Ruhrgebietes geführt, darunter eine große
  Zahl von Betriebsräten und Flüchtlingen.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Zum Seitenanfang">
  <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Bild: Sprungmarke nach oben" border="0" title="Zum Seitenanfang"/>
</a>

<br/>
<hr/>
<h2>
  <a name="literatur"></a>
  Gibt es Literatur zum Forschungsprojekt "Lebensgeschichte und Sozialkultur im Ruhrgebiet 1930-1960"?
</h2>
<p>
  In folgenden Publikationen wurden die Forschungsergebnisse des Projektes veröffentlicht:
</p>
<ul>
  <li>
    Lutz Niethammer (Hg.): "Die Jahre weiß man nicht, wo man die heute hinsetzen soll." Faschismuserfahrungen im Ruhrgebiet, Berlin/Bonn 1983
  </li>
  <li>
    Lutz Niethammer (Hg.): "Hinterher merkt man, daß es richtig war, daß es schiefgegangen ist." Nachkriegserfahrungen im Ruhrgebiet, Berlin/Bonn 1983
  </li>
  <li>
    Lutz Niethammer und Alexander von Plato (Hg.): "Wir kriegen jetzt andere Zeiten." Auf der Suche nach der Erfahrung des Volkes in nachfaschistischen Ländern, Berlin/Bonn 1985
  </li>
  <li>
    Alexander von Plato, "Der Verlierer geht nicht leer aus." Betriebsräte geben zu Protokoll, Berlin/Bonn 1984
  </li>
</ul>
<br class="clear"/>
<a href="#seitenanfang" title="Zum Seitenanfang">
  <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Bild: Sprungmarke nach oben" border="0" title="Zum Seitenanfang"/>
</a>

<br/>
<hr/>
<h2>
  <a name="keinevideos"></a>
  Warum gibt es keine Video-Aufzeichnungen?
</h2>
<p>
  Die Interviews im Online-Archiv stammen aus den 1980er Jahren, als die Videotechnik noch sehr aufwändig war. Deshalb
  wurden nur Tonaufzeichnungen der Interviews gemacht. Erst bei späteren Interviews ist die Videoaufzeichnung Standard.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Zum Seitenanfang">
  <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Bild: Sprungmarke nach oben" border="0" title="Zum Seitenanfang"/>
</a>

<br/>
<hr/>
<h2>
  <a name="vorhanden"></a>
  Warum sind nicht alle Interviews des Archivs "Deutsches Gedächtnis" verfügbar?
</h2>
<p>
  Die Bearbeitung der Interviews für die Bereitstellung im Online-Archiv ist sehr arbeitsintensiv. Deshalb
  ist von den rund 3.000 Zeitzeugen-Interviews zurzeit nur ein kleiner Teil online verfügbar.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Zum Seitenanfang">
  <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Bild: Sprungmarke nach oben" border="0" title="Zum Seitenanfang"/>
</a>

<br/>
<hr/>
<h2>
  <a name="fortsetzung"></a>
  Werden weitere Interviews online gestellt?
</h2>
<p>
  Das Online-Archiv "Deutsches Gedächtnis" wird sukzessive durch weitere Interviews ausgebaut. Neben der Sammlung
  "Lebensgeschichte und Sozialkultur im Ruhrgebiet 1930-1960" werden Interviews aus weiteren Forschungsprojekten des
  Instituts für Geschichte und Biographie online gestellt.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Zum Seitenanfang">
  <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Bild: Sprungmarke nach oben" border="0" title="Zum Seitenanfang"/>
</a>

<br/>
<hr/>
<h2>
  <a name="offlinezugaenglich"></a>
  Sind die nicht online gestellten Interviews zugänglich?
</h2>
<p>
  Alle Interviews sind als Präsenzbestand im Archiv "Deutsches Gedächtnis" zugänglich. Bei Interesse vereinbaren Sie
  bitte einen Besuchstermin per E-Mail an <a href="mailto:deutsches-gedaechtnis@fernuni-hagen.de" target="_blank" title="Kontakt">deutsches-gedaechtnis@fernuni-hagen.de</a>.
  Gerne führen wir auch eine Vorrecherche für Sie durch.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Zum Seitenanfang">
  <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Bild: Sprungmarke nach oben" border="0" title="Zum Seitenanfang"/>
</a>

<br/>
<hr/>
<h2>
  <a name="zitation"></a>
  Wie zitiere ich die Interviews des Online-Archivs "Deutsches Gedächtnis" in meiner Arbeit?
</h2>
<ul>
  <li>Erster Buchstabe des Vornamens und erster Buchstabe des Nachnamens des Interviewten oder, wenn vorhanden, das Pseudonym,</li>
  <li>Name des Interviewers,</li>
  <li>Datum des Interviews,</li>
  <li>Name der Sammlung/des Projektes (z.B. "Lebensgeschichte und Sozialkultur im Ruhrgebiet 1930-1960", bei Mehrfachnennung Abkürzung möglich: "LUSIR")</li>
  <li>Name des Archivs wie folgt: Archiv "Deutsches Gedächtnis" im Institut für Geschichte und Biographie der FernUniversität in Hagen. Bei Mehrfachnennung Abkürzung möglich: Archiv "Deutsches Gedächtnis".</li>
</ul>
<br class="clear"/>
<a href="#seitenanfang" title="Zum Seitenanfang">
  <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Bild: Sprungmarke nach oben" border="0" title="Zum Seitenanfang"/>
</a>

<br/>
<hr/>
<h2>
  <a name="nutzung"></a>
  Ist es möglich, Interviewausschnitte für eigene Ausstellungen oder Präsentationen zu verwenden?
</h2>
<p>
  Sie dürfen keine Interviews aus dem Online-Archiv herunterladen und bearbeiten. Sie können aber einen Antrag auf
  Herausgabe von Archivmaterialien stellen. Bitte kontaktieren Sie uns per E-Mail:
  <a href="mailto:deutsches-gedaechtnis@fernuni-hagen.de" target="_blank" title="Kontakt">deutsches-gedaechtnis@fernuni-hagen.de</a>.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Zum Seitenanfang">
  <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Bild: Sprungmarke nach oben" border="0" title="Zum Seitenanfang"/>
</a>

<br/>
<hr/>
<h2>
  <a name="tranueb"></a>
  Ist die Verwendung von Auszügen der Begleitmaterialien in Publikationen gestattet?
</h2>
<p>
  Ja, solange die Nutzung ausschließlich Forschungs- und Lehrzwecken dient. Weiteres entnehmen Sie bitte den
  <%= external_link('devise.registration_fields.tos_agreement', :nutzungsbedingungen) %>.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="Zum Seitenanfang">
  <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Bild: Sprungmarke nach oben" border="0" title="Zum Seitenanfang"/>
</a>

<br/>
<hr/>
<h2>
  <a name="support_inhalt"></a>
  Ich habe noch weitere Fragen. Was kann ich tun?
</h2>
<p>
  Bitte schicken Sie eine E-Mail an <a href="mailto:deutsches-gedaechtnis@fernuni-hagen.de" target="_blank" title="Kontakt">deutsches-gedaechtnis@fernuni-hagen.de</a>. Wir helfen Ihnen gerne weiter.
</p>
