<h1>Technical Questions</h1>

<ul>


  <li>

      <a href="#systemvoraussetzungen">Technical requirements</a>
  </li>


  <li>

      <a href="#uebertragung">Which transmission rate do I need in order to view / listen to the interviews?</a>
  </li>


  <li>

      <a href="#video">Why am I having trouble displaying the videos in my browser?</a>
  </li>


  <li>

      <a href="#wechsel-qualitaeten">Why does the video interview continue to play in some browsers when switching
        between qualities?</a>
  </li>


  <li>


      <a href="#bildershow">How do I navigate the photo gallery?</a>
  </li>


  <li>

      <a href="#support_kontakt">I’m still having difficulties. What should I do?</a>
  </li>


</ul>





<br/>
<hr/>
<h2>

  <a name="systemvoraussetzungen"></a>


    Which technical requirements does my computer have to satisfy in order to view the interviews in the archive?


  </h2>




<ul>
  <li>
    <p>
      <span lang="EN-US">The archive is optimized for the browser Firefox 3 and Internet Explorer 7 on Windows operating systems (Windows XP and Vista).</span>
    </p>
  </li>
  <li>
    <p><span lang="EN-US">In order to play the audio and video files, a current version of the</span>
      Adobe Flash Player</span></a>
      <span lang="EN-US">must be installed and JavaScript must be activated in your browser.</span></p>

  </li>
  <li>
    <p>Adobe Acrobat Reader</span></a>
      <span lang="EN-US">is recommended for viewing PDF files.</span></p>
  </li>
  <li>
    <p><span lang="EN-US">To play the videos in high quality, a computer with sufficient processing power and memory as well as broadband internet access (e.g. 2000 kbit/s, a DSL 2000 internet connection) is recommended.</span>
    </p>
  </li>

</ul>







<br class="clear"/>

<a href="#seitenanfang" title="Back to Top">

  <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />

</a>



<br/>
<hr/>
<h2>

  <a name="uebertragung"></a>




    Which transmission rate do I need in order to view / listen to the interviews?

  </h2>



<p>To play the videos in high quality, a broadband internet connection (2000 kbit/s, a DSL 2000 internet connection) is
  recommended. If less bandwidth is available, the low transmission rate may cause you to experience problems displaying
  the videos.</p>







<br class="clear"/>

<a href="#seitenanfang" title="Back to Top">

  <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />

</a>




<br/>
<hr/>
<h2>

  <a name="video"></a>



    Why am I having trouble displaying the videos in my browser?

  </h2>



<ul>
  <li><span lang="EN-US">Please check that you have installed a current version of the</span>
    Adobe Flash Player</a>
    <span lang="EN-US">for your browser.</span></li>

  <li><span lang="EN-US">Please also check whether JavaScript has been activated in your browser.</span></li>
  <li><span lang="EN-US">If you use browser extensions (add-ons or plug-ins) or additional menu bars that filter dynamic content, these should also be deactivated for this website (e.g. ad blockers).</span>
  </li>
</ul>






<br class="clear"/>

<a href="#seitenanfang" title="Back to Top">

  <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />

</a>



<br/>

<hr/>
<h2>

  <a name="wechsel-qualitaeten"></a>



    Why does the video interview continue to play in some browsers when switching between qualities?

  </h2>



<p>When switching between video qualities, Internet Explorer 7 will not automatically stop playing. You must stop the
  video before you change the quality. </p>
<p>In other browsers, playback will be stopped automatically when switching between video qualities (e.g. Firefox).</p>

<p></p>







<br class="clear"/>

<a href="#seitenanfang" title="Back to Top">

  <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />

</a>



<br/>
<hr/>
<h2>


  <a name="bildershow"></a>



    How do I navigate the photo gallery?

  </h2>



<p>Navigate the photo gallery by moving the mouse over the two arrow buttons left and right in the display window (the
  symbols &lt; and &gt;).</p>
<p>You can close the photo gallery with the exit symbol <strong>X</strong> in the lower right.</p>

<p></p>







<br class="clear"/>

<a href="#seitenanfang" title="Back to Top">

  <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Image: back to top" border="0" title="Back to top" />

</a>



<br/>
<hr/>
<h2>


  <a name="support_kontakt"></a>



    I’m still having difficulties. What should I do?

  </h2>



<p>Please contact <a href="mailto:mail@zwangsarbeit-archiv.de" target="_blank" title="Contact Email">mail@zwangsarbeit-archiv.de</a> and we will be happy to
  assist you further.</p>


