<h1><%= t("#{project}.title") %></h1>

<ul>
  <li>
    <%= link_to t(".#{project}.questions_about_archive"), faq_archive_contents_path %>
  </li>
  <li>
    <%= link_to t(".#{project}.questions_about_searching"), faq_searching_path %>
  </li>
  <li>
    <%= link_to t(".#{project}.technical_questions"), faq_technical_path %>
  </li>
  <li>
    <%= link_to t(".#{project}.guidelines_pub_ann"), external_url(:annotation_guidelines) %>
  </li>
</ul>

<p><%= t(".#{project}.closing_text") %><br />
   <%= t(".#{project}.further_questions") %><br />
  <a href="mailto:mail@zwangsarbeit-archiv.de" target="_blank" title="Contact Email">mail@zwangsarbeit-archiv.de</a>.
</p>
