<h1>Вопросы по содержанию</h1>

<ul>
    <li>
        <a href="#bg">Что такое сопровождающие материалы?</a>
    </li>
    <li>
        <a href="#kurzbiographien">Как создавались краткие биографии?</a>
    </li>
    <li>
        <a href="#alle_bg">Имаеются ли к каждому интервью краткие биографии, транскрипты и переводы?</a>
    </li>
    <li>
        <a href="#bg-ua">Что означают квадратные скобки [...] в транскриптах и переводах?</a>
    </li>
    <li>
        <a href="#kurzprotokolle">Существуют ли иные сопровождающие материалы к интервью?</a>
    </li>
    <li>
        <a href="#trans_ueber">Почему имена в сопровождающих материалах отличаются от имён в архиве?</a>
    </li>
    <li>
        <a href="#einsatzbereich">Какая информация содержится в категории "Сфера деятельности"?</a>
    </li>
    <li>
        <a href="#gruppe">Какие группы лиц можно найти в собрании интервью?</a>
    </li>
    <li>
        <a href="#otrezw">Существует ли список всех мест, в которых интервьюируемые подвергались принудительному труду?</a>
    </li>
    <li>
        <a href="#unterbringung">Что означает „Размещение“?</a>
    </li>
    <li>
        <a href="#datum">Каким правилам следуют указания календарных дат?</a>
    </li>
    <li>
        <a href="#weitere_angaben">Почему сведения в разделе "Сферы деятельности" иногда отличаются от сведений в разделе "Сферы деятельности - Прочие сведения"?</a>
    </li>
    <li>
        <a href="#vorhanden">Почему доступны не все интервью?</a>
    </li>
    <li>
        <a href="#fotos">Имеется ли к каждому интервью фотогалерея?</a>
    </li>
    <li>
        <a href="#sprachen">Почему необходимая информация отображается одновременно на нескольких языках?</a>
    </li>
    <li>
        <a href="#fortsetzung">Закончена ли работа над архивом "Принудительный труд 1939-1945"?</a>
    </li>
    <li>
        <a href="#surschik">Что такое суржик?</a>
    </li>
    <li>
        <a href="#zitation">Как я могу цитировать интервью архива "Принудительный труд 1939-1945" в моей работе?</a>
    </li>
    <li>
        <a href="#nutzung">Можно ли использовать фрагменты интервью в личных выставках, презентациях, мобильных приложениях и т.д.?</a>
    </li>
    <li>
        <a href="#weiterverwertung">Можно ли использовать фрагменты интервью в личных презентациях?</a>
    </li>
    <li>
        <a href="#tranueb">Разрешается ли использование выдержек из сопровождающих материалов в публикациях?</a>
    </li>
    <li>
        <a href="#support_inhalt">У меня ещё есть вопросы. Что делать?</a>
    </li>
</ul>


<br/>
<hr/>
<h2>
    <a name="bg"></a>
    Что такое сопровождающие материалы?
</h2>
<p>
    Сопровождающие материалы к интервью содержат краткие биографии, транскрипты, переводы и фотографии.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="В начало страницы">
    <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>
</a>

<br/>
<hr/>
<h2>
    <a name="kurzbiographien"></a>
    Как создавались краткие биографии?
</h2>
<p>
    Краткие биографии были созданы ранее в рамках интервью-проекта &quot;Документация историй жизни бывших рабов и невольников труда&quot;, скоординированного Институтом истории и биографии Университета заочного обучения в Хагене и под руководством Александра фон Плато. Краткие биографии в большинстве случаев составлены на немецком языке, в отдельных случаях на данный момент в распоряжении имеются краткие биографии только на английском языке.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="В начало страницы">
    <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>
</a>

<br/>
<hr/>
<h2>
    <a name="alle_bg"></a>
    Имеются ли к каждому интервью краткие биографии, транскрипты и переводы?
</h2>
<p>
    На данный момент не ко всем интервью имеются сопровождающие материалы. В рамках дальнейшей научной обработки все интервью будут транскрибированы и переведены. До тех пор каждый пользователь может создавать собственные транскрипты и переводы.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="В начало страницы">
    <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>
</a>

<br/>
<hr/>
<h2>
    <a name="bg-ua"></a>
    Что означают квадратные скобки [...] в транскриптах и переводах?
</h2>
<p>
    По причинам защиты прав личности контактные данные интервьюируемых были удалены из сопровождающих материалов и заменены замещающим символом [...].
</p>
<br class="clear"/>
<a href="#seitenanfang" title="В начало страницы">
    <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>
</a>

<br/>
<hr/>
<h2>
    <a name="kurzprotokolle"></a>
    Существуют ли иные сопровождающие материалы к интервью?
</h2>
<p>
    Да, наряду с краткими биографиями, транскриптами и переводами были составлены протоколы интервью и списки данных. Последние в целях защиты прав личности не опубликованы в архиве. Если Вам для Ваших исследований необходим доступ к данным материалам, обратитесь, пожалуйста, по следующему адресу: <a href="mailto:mail@zwangsarbeit-archiv.de" target="_blank" title="Contact Email">mail@zwangsarbeit-archiv.de</a>.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="В начало страницы">
    <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>
</a>

<br/>
<hr/>
<h2>
    <a name="trans_ueber"></a>
    Почему имена в сопровождающих материалах отличаются от имён в архиве?
</h2>
<p>
    Сопровождающие материалы были собраны в рамках интервью-проекта &quot;Документация историй жизни бывших рабов и невольников труда &quot;. Существуют различные варианты написания имён, которые были унифицированы для интерфейса архива. В кратких биографиях, транскриптах и переводах сохранены прежние варианты написания.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="В начало страницы">
    <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>
</a>

<br/>
<hr/>
<h2>
    <a name="einsatzbereich"></a>
    Какая информация содержится в категории "Сфера деятельности"?
</h2>
<p>
    Различные сферы деятельности, в которых были заняты подневольные рабочие, были категоризированы по сферам деятельности более высокого уровня и отраслям экономики, следуя принятым в экономической статистике критериям.
</p>
<p>
    На долю первостепенного сектора экономики выпадают сельское и лесное хозяйство, садоводство, на долю второстепенного - горное дело, промышленность, а также сфера строительство/камень/земля (здесь объединены надземное строительство и строительство подземных сооружений, а также добыча горных пород).
</p>
<p>
    В третьем секторе размещены промысел, здравоохранение, транспорт, услуги в частных хозяйствах, а также деятельность у работодателей в лице государственного или муниципального предприятия (общественный сектор) или в не обозначенной более чётко администрации.
</p>
<p>
    Особую группу образуют работы в вермахте, Организации Тодта, в портах и на верфях и в лагерях (работа в концентрационных и лагерях смерти рассматривается отдельно).
</p>
<p>
    Распределение происходит согласно имеющимся в распоряжении реконструированным данным и на данный момент проверено только в отдельных случаях. Места работы, чёткое распределение которых по категориям не представляется возможным, попадают в группу „Прочее“. В некоторых случают данные отсутствуют.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="В начало страницы">
    <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>
</a>

<br/>
<hr/>
<h2>
    <a name="gruppe"></a>
    Какие группы лиц можно найти в собрании интервью?
</h2>
<p>
    Архив &quot;Принудительный труд 1939-1945&quot; содержит интервью с лицами, во время Второй мировой войны тем или иным способом ставшими жертвами национал-социализма. В архиве отсутствуют сведения о жертвах послевоенного времени среди немецких граждан (например, о немецких военнопленных в Советском Союзе, немецких подневольных рабочих в Польше или Чехословакии).
</p>
<p>
    Интервьюированные в большинстве случаев были подвергнуты той или иной форме подневольного труда. Для обеспечения наиболее точных результатов поиска отдельные группы подневольных рабочих обозначены настолько чётко, насколько это оказалось возможным: восточный/ая рабочий/ая, Служба принудительного труда (фр. STO),
    в других случаях (прежде всего, что касается польских невольников и невольниц труда и лиц, подвергнутых принудительному труду на родине) указано лишь обозначение „подневольный/ая рабочий/ая“ (гражданский/ая рабочий/ая).
</p>
<p>
    Наряду с точным обозначением &quot;Итальянские военные интернированные&quot;
    (IMI) встречается и общее понятие &quot;Военнопленные&quot;.
</p>
<p>
    Преследуемые по расистским мотивам (евреи, а также цыгане), преследуемые по политическим и религиозным мотивам (свидетели Иеговы, сербские православные в Хорватии) образуют в каждом случае отдельную группу. Не каждый из перечисленных был заключён в концентрационном лагере, поэтому выделяется также группа узников концлагерей. Данная группа лиц определяет себя не столько посредством выполненных принудительных работ, сколько через преследование и интернирование в качестве „лиц иного рода“.
</p>
<p>
    Некоторым лицам пришлось пройти разные этапы преследования: от военного плена до гражданского подневольного труда или от подневольного труда через преследование по политическим мотивам до заключения в концентрационном лагере. Особый случай представляют германизированные дети. В категорию „Прочее“ попадают лица, точное распределение которых в ту или иную группу согласно имеющимся в распоряжении сведениям не представляется возможным.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="В начало страницы">
    <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>
</a>

<br/>
<hr/>
<h2>
    <a name="otrezw"></a>
    Существует ли список всех мест, в которых интервьюируемые подвергались принудительному труду?
</h2>
<p>
    Информацию о местах, в которых интервьюируемые должны были работать в принудительном порядке, можно найти с помощью функции поиска.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="В начало страницы">
    <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>
</a>

<br/>
<hr/>
<h2>
    <a name="unterbringung"></a>
    Что означает „Размещение“?
</h2>
<p>
    Наряду со сферами деятельности и условиями труда место и качество размещения определяли условия жизни и шансы на выживание подневольных рабочих. Категория „Размещение“ позволяет быстрый поиск очевидцев посредством различных предпосылок:
</p>
<p>
    Так, проводятся различия между лагерями (включая лагеря для военнопленных) и концентрационными лагерями, а также исправительно-трудовыми лагерями (ИТЛ), которые в качестве „концентрационных лагерей гестапо“ представляли собой особую форму меры наказания по отношению к иностранным рабочим. Помимо прочего некоторые лица заключались в тюрьмах. В случае так называемого частного жилья различается между размещением &quot;на рабочем месте“ (под этим понятием в некоторых случаях понимается и нечастное жильё, насколько это обозначение соответствует) и &quot;дома“ (в случае рабочих, которым удалось избежать депортации); сюда же относится частное жильё (в случае иностранных рабочих, которые находились в привилегированном положении, поскольку были освобождены от группового проживания). Особый случай представляет геттоизация еврейского населения, поэтому было решено принять во внимание и „Гетто“ как вид размещения. В категорию &quot;Прочее“ попадает жильё, не подлежащее точному определению. В некоторых случаях соответствующая информация отсутствует.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="В начало страницы">
    <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>
</a>

<br/>
<hr/>
<h2>
    <a name="datum"></a>
    Каким правилам следуют указания календарных дат?
</h2>
<p>
    Календарные даты содержат в каждом случае месяц и год. В случае отсутствия сведений о месяце указывается в виде стандарта 01.
</p>
<p>
    Пример: Дата освобождения из заключения или увольнения 01/1945 означает тем самым, что интервьюируемый/ая был/а освобождён/а или уволен/а в 1945 г.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="В начало страницы">
    <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>
</a>

<br/>
<hr/>
<h2>
    <a name="weitere_angaben"></a>
    Почему сведения в разделе "Сферы деятельности" иногда отличаются от сведений в разделе "Сферы деятельности - Прочие сведения"?
</h2>
<p>
    Сведения, размещённые в категориях „Сферы деятельности“ и „Размещение“, в рамках обработки информации подверглись изменениям. В пункте &quot;"Сферы деятельности - Прочие сведения"&quot; Вы найдёте информацию, собранную интервьюерами.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="В начало страницы">
    <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>
</a>

<br/>
<hr/>
<h2>
    <a name="vorhanden"></a>
    Почему доступны не все интервью?
</h2>
<p>
    Интервью продолжают обрабатываться в непрерывном порядке и постепенно размещаются в архиве. В случае некоторых интервью на данный момент отсутствуют заявления о согласии на их публикацию в архиве.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="В начало страницы">
    <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>
</a>

<br/>
<hr/>
<h2>
    <a name="fotos"></a>
    Имеется ли к каждому интервью фотогалерея?
</h2>
<p>
    Нет, в настоящее время фотогалерея имеется не у каждого интервьюируемого. Актуально в архиве размещаются только те фотографии, которые были обработаны в том или ином частичном собрании.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="В начало страницы">
    <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>
</a>

<br/>
<hr/>
<h2>
    <a name="sprachen"></a>
    Почему необходимая информация отображается одновременно на нескольких языках?
</h2>
<p>
    Архив был создан сначала на немецком языке, но шаг за шагом становился все более многоязычным. На некоторых страницах архива текст разноязычен. Это связано с тем, что информация о проведённых на 25 языках интервью представлена полностью только на немецком.   Интерфейс, а также биографические данные и интервью могут по Вашему выбору  использоваться на английском, немецком или русском языках.   Содержание, подписи под картинками, краткие биографии, редакционные примечания и транскрипции доступны для русскоязычных и англоязычных пользователей на названных языках, но в интервью на других языках обращение к содержанию, подписям под картинками, кратким биографиям и редакционным примечаниям возможно только  по-немецки, даже если была выбрана русская или английская версия архива.   Транскрипции же имеются только на языке респондента и -  в переводе - на немецком языке. В  дальнейшем планируется развитие архива в новых языковых версиях.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="В начало страницы">
    <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>
</a>

<br/>
<hr/>
<h2>
    <a name="fortsetzung"></a>
    Закончена ли работа над архивом "Принудительный труд 1939-1945"?
</h2>
<p>
    Фаза интервью архива &quot;Принудительный труд 1939-1945&quot; в настоящее время закончена. Освоение архивных фондов беспрерывно актуализируется и подвергается изменениям. Разрабатываются новые возможности, а уже имеющиеся возможности видоизменяются.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="В начало страницы">
    <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>
</a>

<br/>
<hr/>
<h2>
    <a name="surschik"></a>
    Что такое суржик?
</h2>
<p>
    Языковая ситуация на Украине определялась десятилетиями "сосуществованием" украинского и русского языков. С 1991 г. официальным языком Украины является украинский язык. Благодаря длительным и интенсивным контактам с русским языком и как результат медленной русификации во времена Советского Союза в народе возникло языковое образование под названием суржик (от укр.суржик = „смесь муки низкого качества“).
    Суржик - разговорное выражение для обозначения смешанного диалекта, возникшего на основе русского и украинского языков (разновидность языка). Большинство сельского населения, имеющего лишь низкий уровень образования, производило при попытке говорить на русском языке разновидность языка, приближённую к украинскому, но чья лексика большей частью состояла из русских слов. Таким образом, русский язык встречается чаще всего в лексике, украинский - в грамматике. Такая украинско-русская смесь языков распространена на части территории Украины и в некоторых западных  регионах России. Киевский Институт Социологических Исследований опубликовал в 2003 г. статистику, согласно которой восточнее Центральной Украины на суржике говорит одна пятая часть населения, что составляет 21,7%. Далее следуют Центральная Украина с 14,6%, юг с 12,4%, восток с 9,6% и, наконец, запад, где традиционно был широко распространён украинский язык, с 2,5%<br/>Похожий феномен наблюдается и в Белоруссии: <strong>трасянка</strong> (белор. трасянка) является распространённой формой смешанного языка на основе белорусского и русского. В дескриптивной лингвистике <strong>суржик</strong> и <strong>трасянка</strong> до сих пор мало исследованы.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="В начало страницы">
    <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>
</a>

<br/>
<hr/>
<h2>
    <a name="zitation"></a>
    Как я могу цитировать интервью архива "Принудительный труд 1939-1945" в моей работе?
</h2>
<p>
    Разрешается цитирование из интервью. Цитаты в научных работах должны в первую очередь обеспечивать нахождение цитированного интервью и поэтому содержать перечисленное в следующих пунктах:
</p>
<ul>
    <li>Первую букву фамилии, имя интервьюированного лица</li>
    <li>&quot;Интервью из архива Принудительный труд 1939-1945&quot;</li>
    <li>Архивный номер интервью</li>
    <li>Вид носителя информации (видеоинтервью, аудиоинтервью, краткая биография; транскрипт, перевод, фотография)</li>
</ul>
<p>Опциональная информация:</p>
<ul>
    <li>Упоминание частичного собрания</li>
</ul>
<br class="clear"/>
<a href="#seitenanfang" title="В начало страницы">
    <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>
</a>

<br/>
<hr/>
<h2>
    <a name="nutzung"></a>
    Можно ли использовать фрагменты интервью в личных выставках, презентациях, мобильных приложениях и т.д.?
</h2>
<p>
    Не разрешается скачивать интервью из архив интервьюа и подвергать обработке. Но Вы можете подать запрос на выдачу архивного материала. Более подробную информацию содержат наши
    <%= external_link('privacy.terms', :nutzungsantrag) %>.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="В начало страницы">
    <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>
</a>

<br/>
<hr/>
<h2>
    <a name="weiterverwertung"></a>
    Можно ли использовать фрагменты интервью в личных презентациях?
</h2>
<p>
    В настоящее время архив предназначен только для поиска информации. Если Вы намереваетесь использовать материалы архива иным образом, например, использовать фрагменты интервью в научных докладах, обратитесь, пожалуйста, напрямую по следующему адресу: <a href="mailto:mail@zwangsarbeit-archiv.de" target="_blank" title="Contact Email">mail@zwangsarbeit-archiv.de</a>.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="В начало страницы">
    <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>
</a>

<br/>
<hr/>
<h2>
    <a name="tranueb"></a>
    Разрешается ли использование выдержек из сопровождающих материалов в публикациях?
</h2>
<p>
    Да, если данное использование происходит в научных целях или в целях обучения. Для дальнейшей информации см. <%= external_link('devise.registration_fields.tos_agreement', :nutzungsbedingungen) %>.
</p>
<br class="clear"/>
<a href="#seitenanfang" title="В начало страницы">
    <img src="<%= image_path "#{Project.name}/sprungmarke.gif" %>" alt="Значок 'вверх'" border="0" title=""/>
</a>

<br/>
<hr/>
<h2>
    <a name="support_inhalt"></a>
    У меня ещё есть вопросы. Что делать?
</h2>
<p>
    Отправьте, пожалуйста, письмо на следующий электронный адрес <a href="mailto:mail@zwangsarbeit-archiv.de" target="_blank" title="Contact Email">mail@zwangsarbeit-archiv.de</a>. Мы охотно поможем Вам в разрешении Ваших вопросов.
</p>