<ul style="float: right;">
    <!-- Slide 1 //-->
    <li class="hint slide-1"><h3 style="margin: 0;">Инструкция по использованию карты: Часть 1 - Фильтр<a href="#" onclick="new Effect.Fade('initial_map_tutorial');" class="window-close"><%= t(:close) -%></a></h3></li>
    <li class="hint slide-1">
      <p>Обзорная карта с указаниями местонахождения подневольных рабочих содержит различные сведения биографической важности. Для большей наглядности с помощью так называемых фильтров можно в любое время выбрать, какие сведения должны быть отображены, а какие нет.</p>
    </li>
    <li class="hint slide-1"><p>Пожалуйста, выберите вид сведений, которые Вас интересуют, и пронаблюдайте отображение местонахождений на карте:</p></li>
    <li class="map_filter_off forced_labor_location slide-1"><span><%= t(:forced_labor_locations, :scope => 'map.labels') -%></span></li>
    <li class="map_filter_off forced_labor_camp slide-1"><span><%= t(:camps, :scope => 'map.labels') -%></span>
    <li class="map_filter_off forced_labor_company slide-1"><span><%= t(:companies, :scope => 'map.labels') -%></span></li>
    <li class="map_filter_off deportation_location slide-1"><span><%= t(:deportations, :scope => 'map.labels') -%></span></li>
    <li class="map_filter_off place_of_birth slide-1"><span><%= t(:places_of_birth, :scope => 'map.labels') -%></span></li>
    <li class="map_filter_off return_location slide-1"><span><%= t(:postwar_residences, :scope => 'map.labels') -%></span></li>
    <li class="map_filter_off postwar_camp slide-1"><span><%= t(:postwar_camps, :scope => 'map.labels') -%></span></li>
    <li class="map_filter_off home_location slide-1"><span><%= t(:home_locations, :scope => 'map.labels') -%></span></li>
    <li class="map_filter_off interview slide-1"><span><%= t(:mentions, :scope => 'map.labels') -%></span></li>
    <li class="hint slide-1">
      <p>Ваши настройки будут сохранены в браузере и использованы автоматически при следующем просмотре карты.</p>
    </li>

    <!-- Slide 2 //-->
    <li class="hint slide-2"><h3 style="margin: 0;">Инструкция по использованию карты: Часть 2 - Разбивка на группы<a href="#" onclick="new Effect.Fade('initial_map_tutorial');" class="window-close"><%= t(:close) -%></a></h3></li>
    <li class="hint slide-2">
      <p>Для ясности при низкой степени увеличения указания местонахождения могут быть скомбинированы по странам и регионам. Данную функцию можно в любое время деактивировать посредством отмены пункта "Разбивка на группы..." в фильтрах.</p>
    </li>
    <li class="cluster_toggle clusters-off slide-2" onclick="toggleClusters();"><span><%= t(:grouping_label, :scope => 'map.legend') -%></span></li>
    <li class="hint slide-2">
      <p>Количество охваченных местонахождений сигнализируется с помощью размера кружков и отображённых чисел. Нажатие на центр кружка или сгруппированных данных приведёт на следующий детальный уровень информации.</p>
    </li>
    <li class="hint slide-2">
      <p>Фильтрами и возможностью разбивки на группы Вы можете воспользоваться в любое время.<img class="imageRight" src="<%= image_path('map/tut_legend_ru.png') -%>"/> Для отображения возможностей фильтра Вам нужно только нажать на кнопку "<%= t(:tabname, :scope => 'map.legend') -%>" вверху справа. Нажав на крестик вверху справа в легенде, Вы можете снова скрыть фильтры.</p>
    </li>

    <!-- Slide 3 //-->
    <li class="hint slide-3"><h3 style="margin: 0;">Инструкция по использованию карты: Часть 3 - Интервью<a href="#" onclick="new Effect.Fade('initial_map_tutorial');" class="window-close"><%= t(:close) -%></a></h3></li>
    <li class="hint slide-3">
      <p>При выборе места на карте Вы получите дальнейшую информацию, касающуюся данного местонахождения и соответствующих интервью.</p>
    </li>
    <li class="hint slide-3">
      <img src="<%= image_path('map/tut_interview_ru.png') -%>" alt="Информация, касающаяся интервью"/>
    </li>
    <li class="hint slide-3">Данные, касающиеся интервью, приведут Вас напрямую к соответствующим фрагментам в интервью при условии, что Вы зарегистрированы в архиве.</li>
    <li class="hint slide-3">Если Вы ещё не зарегистрированы в архиве, Вы можете заполнить наш <%= link_to 'Формуляр для использования архива и зарегистрироваться', registrieren_path, :target => '_blank' -%>.</li>

    <!-- Slide Actions //-->
    <li class="hint links">
      <p><a class="back not-slide-1" href="#" onclick="adjustSlideNum(-1);">&laquo;&nbsp;назад</a><span class="not-slide-1">&nbsp;или&nbsp;</span><a class="forward not-slide-3" href="#" onclick="adjustSlideNum(1);">далее&nbsp;&raquo;</a><a class="finish slide-3" href="#" onclick="endTutorial();">&raquo;&nbsp;Закрыть инструкцию</a></p>
    </li>
</ul>
