<p>Sehr geehrte/r <%= @receiver.display_name %>,</p>

<p>Sie haben im Interview-Portal "Oral-History.Digital" folgenden Arbeitsschritt vorgenommen:</p>

<p><%= I18n.backend.translate(:de, 'jobs.'+@type) %>:</p>

<ul>
  <li>Sammlungsname: <%= @project_name %></li>
  <% if @interview %>
    <li>Interview-ID: <%= @interview.archive_id %></li>
  <% end %>
  <% if @filename %>
    <li>Dateiname: <%= @filename %></li>
  <% end %>
  <% if @locale %>
    <li>Sprache: <%= @locale %></li>
  <% end %>
</ul>

<p>Der Job wurde mit folgender Nachricht beendet:</p>
<%= @msg %>

<p>Bitte prüfen Sie Vollständigkeit und Korrektheit der importierten Daten.</p>

<p>Mit freundlichen Grüßen,</p>
<p>Das Projekt-Team "Oral-History.Digital"</p>
