<p>Liebe/r <%= @receiver.display_name %>,</p>

<p>die Aufgabe '<%= @task.task_type.label(:de) %>' zum Interview <%= @task.interview.archive_id %> in der Redaktionsumgebung der Anwendung "<%= @task.interview.project.name %>" wurde erneut geöffnet.</p>
<p>Bitte überprüfe was zu tun ist.</p>

<p><%= "#{@task.interview.project.archive_domain}/de/users/current"  %></p>

<p>Viele Grüße</p>

<p>Dein Interview-Archiv</p>

