<p>Liebe/r <%= @receiver.display_name %>,</p>

<p><%= @task.user.display_name %> hat die Aufgabe '<%= @task.task_type.label(:de) %>' zum Interview <%= @task.interview.archive_id %> in der Redaktionsumgebung der Anwendung <%= @task.interview.project.name %> abgeschlossen.</p>
<p>Bitte überprüfe das Ergebnis.</p>

<p><%= link_to @task.interview.project.name, "#{@task.interview.project.archive_domain}/de/accounts/current"  %></p>

<p>Viele Grüße</p>

<p>Dein Interview-Archiv</p>

