<div class="baseListBox">

  <% form_remote_tag :url => user_contents_path,
                     :method => :get,
                     :html => { :action => user_contents_path,
                                :method => :get,
                                # :complete => "afterResponse();",
                                # :success => "resetBlindStatus();",
                                :name => "contentFilters",
                                :id => "content_filters" } do |content_filters| %>

    <noscript>
      <div class="warning">
        <h4><%= t('search_no_javascript', :scope => 'user_interface.messages') %></h4>
      </div>
    </noscript>

  <div id="content-filters-toggle" class="open container-toggle" onclick="toggleContainer('content-filters-toggle', true);">
    <h2><%= t('filter_contents', :scope => 'user_interface.labels') %></h2>
  </div>
  <div id="content-filters" class="container">
    <ul class="facet-field">
      <% UserContent::CONTENT_TYPES.each do |content_type| -%>
      <li class="facet checked" onclick="checkFilter('<%= "filter_#{content_type}}" %>', this);">
        <%= check_box_tag "content_filters[#{content_type}]", 1, true, { :id => "filter_#{content_type}}", :class => 'content_filter checkbox' } %>
        <span class="facet-name"><%= t(content_type.to_s, :scope => [:activerecord, :models], :count => 2) %></span>
      </li>
      <% end -%>
    </ul>
  </div>

  <% end -%>

  <% javascript_tag do -%>
      var categoryChange = 0;
      var containerElems = $$('#baseContainerRight .container-toggle');
  <% end -%>

  <div id="content_filter_overlay" class="overlay" style="display: none;"><img id="spinner_graphic" class="spinner_search" src="<%= image_path 'large_spinner.gif' %>" title="" alt="" /></div>

</div>