<div class="baseListBox">

  <!-- <%# remote_form_for filters,
                     :url => user_contents_path,
                     :method => :get,
                     :html => { :action => user_contents_path,
                                :method => :get,
                                :complete => "afterResponse();",
                                :success => "resetBlindStatus();",
                                :name => "searchFacets",
                                :id => "content_filters" } do |content_filters| %>
    //-->

    <noscript>
      <div class="warning">
        <h4><%= t('search_no_javascript', :scope => 'user_interface.messages') %></h4>
      </div>
    </noscript>

    <%= image_tag(image_path('/images/dummy_filters.jpg'), :height => '154px', :width => '278px;', :alt => '', :style => "background-color: #e4e4da;") %>

    <!--
    <ul id="filters">
      <% UserContent::CONTENT_TYPES.each do |content_type| -%>
      <li class="facet">
        <%= check_box_tag "#{type}[]", content_type, 1, { :id => "filter_#{content_type}}", :class => 'content_filter_checkbox' } %>
        <span class="facet-name"><%= content_type %></span>
      </li>
      <% end -%>
    </ul>
    //-->

  <!--
  <%# end -%>
  //-->

  <div id="content_filter_overlay" class="overlay" style="display: none;"><img id="spinner_graphic" class="spinner_search" src="<%= image_path 'large_spinner.gif' %>" title="" alt="" /></div>

</div>