<div id="publish_<%= @object.id -%>">
  <%= modal_window_close_button_on_javascript_request -%>
  <h2><%= t(:publish_something, :scope => 'user_interface.user_content', :something => @object.title) -%></h2>
  <div>
      <% form_for @object, url: publish_user_content_path(@object), remote: true, id: "publish_form" do |f| %>
        <%= hidden_field_tag 'context', @context -%>
        <%= hidden_field_tag 'type', params[:type] || 'UserAnnotation' -%>
        <div>
          <p>
            <%= t(:confirm_publish_content, :scope => "user_interface.messages",
                  :content => '"' + (@object.title || '') + '"',
                  :annotation_guidelines => link_to(t(:annotation_guidelines, :scope => 'user_interface.user_content'),
                                                    external_url(:annotation_guidelines),
                                                    :target => '_blank')) -%>
          </p>
          <p>
            <%= t(:publish_alteration_notice, :scope => 'user_interface.messages') %>
          </p>
        </div>
        <span style="clear: both; float: left;">
            <%= f.submit t(:publish, :scope => 'user_interface.user_content').downcase %>
            <div class="cancel"><%= t(:reset, :scope => 'user_interface.actions') %></div>
        </span>
      <% end %>
  </div>
</div>
