<% unless current_user.nil? -%>
    <% user_content_type = save.type.to_s.underscore -%>
    <span class="save_user_content" style="display:none;">
        <% form_remote_tag :url => user_contents_path, :class => "save", :update => "save_#{user_content_type}"  do -%>
            <% user_content_attributes = save.user_content_attributes -%>
            <% user_content_attributes.keys.each do |attr| -%>
              <% value = user_content_attributes[attr] -%>
              <%= hidden_field_tag "#{user_content_type}[#{attr}]", value.is_a?(Hash) ? value.to_json : value %>
            <% end -%>
            <%= hidden_field_tag "type", user_content_type.camelize %>
            <%= submit_tag t(:save, :scope => "user_interface.#{user_content_type}"), :class => 'save' %>
        <% end -%>
    </span>
    <% javascript_tag do %>

        new Ajax.Updater({ success: 'save_<%= user_content_type -%>' }, '<%= user_content_path(:id => save.id_hash, :type => 'search') %>', { method: 'get', onComplete: function(){new Effect.Appear($('save_search').down('span'), { duration: 0.7 });}});

    <% end %>
<% end -%>