<div id="topics_<%= @object.id -%>">
  <%= modal_window_close_button_on_javascript_request -%>
  <h2><%= t(:topics, :scope => 'user_interface.user_content') -%>&nbsp;<%= t(:for) -%> <%= in_place_edit_for @object, :title, { :context => 'topics' } -%></h2>
  <div>
      <% remote_form_for @object,
                         :url => update_topics_user_content_path(@object),
                         :before => "new Effect.Fade('modal_window'); $('ajax-spinner').show();",
                         :complete => "new Effect.Fade('shades');",
                         :html => { :id => "topics_form" } do |f| %>
        <label><%= t(:user_tags, :scope => 'user_interface.user_content') -%></label>
        <%= topics_select('tags', { :id => "topics-#{@object.id}", :class => 'chzn-select' }, @object.tags.map(&:name)) -%>
        <div class="hint" style="width: 165px; margin-top: 10px; display: inline; clear: none;"><%= t(:tags_explanation, :scope => 'user_interface.user_content') -%></div>
        <%= hidden_field_tag 'context', @context -%>
        <%= f.submit t(:update, :scope => 'user_interface.actions'), :onclick => "new Effect.Fade('modal_window'); $('ajax-spinner').show(); $('topics_form').request(); return false;" %>
      <% end %>
  </div>
</div>
<% javascript_tag do %>
    new Chosen($('topics-<%= @object.id -%>'), { 'add_label': '<%= t(:add, :scope => 'user_interface.actions') -%>' });
    var el = $('modal_window');
    if(el) { el.className = 'edit'; el.addClassName('topics'); }
<% end %>