<% if defined?(@user_content_index) && @user_content_index.is_a?(Numeric)
   @user_content_index += 1
else
  @user_content_index = 0
end -%>
<div id="user_content_<%= user_content.id %>" class="item<%= @user_content_index > 2 ? ' closed' : ''-%>">
    <div class="header" onclick="toggleUserContent('user_content_<%= user_content.id %>')">
      <span class="title <%= user_content.type.to_s.downcase %>">
        <%= in_place_edit_for user_content, :title %>
        <a name="user_content_<%= user_content.id %>" style="display: none;">&nbsp;</a>
      </span>
      <%= link_to t(:edit, :scope => "user_interface.actions"), '#', :class => 'edit' %>
      <span class="themes">
        <!-- this is the tag list for the content //-->
        <%= cycle 'Titel, Thesen, Temperamente', 'Ostarbeiter' %>
      </span>
      <span class="toggle">
        <%= link_to_function '&nbsp;', '' %>
      </span>
      <span class="date">
        <%= user_content.created_at.strftime('%d.%m.%Y - %H:%M') %>
      </span>
    </div>
    <div class="details">
        <ul class="properties">
          <% case user_content.type.to_s
              when 'Search'
                %>
            <li>
              <%= label_tag UserContent.human_attribute_name(:query) %>
              <p><%= query_hash_to_string user_content.properties['query'] %></p>
            </li>
          <%  else
                false
          end %>
          <li>
            <%= label_tag UserContent.human_attribute_name(:description) %>
            <p><%= in_place_edit_for(user_content, :description) %></p>
          </li>
        </ul>
      <div class="references">
        <%= case user_content.type.to_s
            when 'Search'
              reference_details_for_search(user_content)
            else
              reference_details_for_interview(user_content.interview_references)
          end %>
      </div>
    </div>
</div>