<% if defined?(@user_content_index) && @user_content_index.is_a?(Numeric)
   @user_content_index += 1
else
  @user_content_index = 0
end -%>
<% @interface_status = if params['interface_status'].blank?
    @user_content_index > 2 ? ' closed' : ''
    else
    params['interface_status'].downcase
end -%>

<div id="user_content_<%= user_content.id -%>" class="item<%= @interface_status.blank? ? '' : " #{@interface_status}" -%>">
    <div class="header <%= user_content.type.to_s.underscore -%>">
      <span class="title">
        <%= in_place_edit_for user_content, :title -%>
        <a name="user_content_<%= user_content.id -%>" style="display: none;">&nbsp;</a>
      </span>
      <!--
      <span class="themes">
        <%#= cycle 'Titel, Thesen, Temperamente', 'Ostarbeiter' -%>
      </span>
      //-->
      <span class="toggle">
        <%= link_to_function '&nbsp;', '' -%>
      </span>
      <span class="date">
        <%= user_content.created_at.strftime('%d.%m.%Y - %H:%M') -%>
      </span>
    </div>
    <div class="details">
        <%= link_to_function t(:edit, :scope => "user_interface.actions"), "this.parentNode.down('.actions').removeClassName('closed')", :class => 'edit' %>
        <div id="user_content_<%= user_content.id -%>_actions" class="actions closed">
          <%= link_to_function image_tag('/images/icon_cross.png'), "this.parentNode.addClassName('closed');", :class => 'close-button' -%>
          <ul>
            <li><%= link_to t(:view, :scope => 'user_interface.user_content'), user_content.link_url, :target => '_blank' %></li>
            <li><hr/></li>
            <!--
            <li><%= link_to "#{t(:topics, :scope => 'user_interface.user_content')}...", '#' %></li>
            //-->
            <li><%= link_to_remote t(:delete, :scope => 'user_interface.user_content'), :url => user_content_path(user_content), :method => :delete, :before => visual_effect(:fade, "user_content_#{user_content.id}_actions", :duration => 0.4), :confirm => t(:delete_content, :scope => "user_interface.messages", :content => user_content.type.constantize.human_name + ' "' + (user_content.title || '') + '"') %></li>
          </ul>
        </div>
        <ul class="properties">
          <% case user_content.type.to_s
              when 'Search'
                %>
            <li class="query">
              <%= label_tag UserContent.human_attribute_name(:query) -%>
              <p><%= query_hash_to_string user_content.properties['query'] -%></p>
            </li>
          <% when 'InterviewReference' -%>
            <% unless user_content.reference.nil? -%>
            <li class="language_info">
              <%= label_tag t((user_content.reference.video? ? :video_interview : :audio_interview), :scope => 'user_interface.labels') %>
              <p>
                <%= user_content.reference.languages.map{|lang| t(lang, :scope => 'categories.languages')}.join('/') -%>&nbsp;
                <% unless user_content.reference.language == 'Deutsch' -%>
                (<%= user_content.reference.translated ? t(:translated, :scope => 'status') : t(:not_translated, :scope => 'status') %>)
                <% end -%>
                <br/>
                <%= user_content.reference.duration.minimal -%>
              </p>
            </li>
            <% end -%>
          <%  else
                false
          end %>
          <li class="description">
            <%= label_tag UserContent.human_attribute_name(:description) -%>
            <p><%= in_place_edit_for(user_content, :description, :text_area => true) -%></p>
          </li>
        </ul>
      <div class="<%= user_content.type.to_s == 'Search' ? 'references' : 'reference' -%>">
        <%= case user_content.type.to_s
            when 'Search'
              reference_details_for_search(user_content)
            when 'InterviewReference'
              reference_details_for_interview(user_content.reference)
            else
              ''
          end %>
      </div>
    </div>
</div>

<% javascript_tag do %>
    Event.observe($('user_content_<%= user_content.id -%>').down('.header'), 'click', toggleUserContent);
    contentItems = $$('#user_contents .item .details');
<% end %>