<div id="toggle_links">
    <%= link_to_function t(:maximize_all, :scope => 'user_interface.labels'), 'expandAllContents()', :id => "expand_all", :style => (@user_contents.size < 4 ? 'display: none;' : '') %>
    <%= link_to_function t(:minimize_all, :scope => 'user_interface.labels'), 'minimizeAllContents()', :id => "minimize_all", :style => (@user_contents.size < 4 ? '' : 'display: none;') %>
  <div>
    <%= link_to_function 'sortieren', "currentSorting.activateSorting()", :id => "activate_sorting" %>
    <%= link_to_function 'aktualisieren', "currentSorting.finalizeSorting()", :id => "finalize_sorting", :style => 'display: none;' %>
    <%= link_to_function 'abbrechen', "currentSorting.cancelSorting()", :id => "cancel_sorting", :style => "display: none;" %>
  </div>
</div>
<% javascript_tag do %>

    document.body.observe('click', closeOpenActions);

<% end %>
<div id="user_contents">
  <%= render :partial => 'user_content', :collection => @user_contents %>
  <% if @user_contents.empty? -%>
  <p><%= t(:no_saved_contents, :scope => 'user_interface.messages') -%></p>
  <% end -%>
</div>

<% javascript_tag do %>
    var currentSorting = new ContentSorting('user_contents', '<%= form_authenticity_token.inspect-%>');
<% end %>