<div id="toggle_links">
    <%= link_to t(:maximize_all, :scope => 'user_interface.labels'), '#', id: "expand_all", style: (@user_contents.size < 4 ? 'display: none;' : '') %>
    <%= link_to t(:minimize_all, :scope => 'user_interface.labels'), '#', id: "minimize_all", style: (@user_contents.size < 4 ? '' : 'display: none;') %>
  <div>
    <%= link_to t(:activate, :scope => "user_interface.sort"), '#', id: "activate_sorting" %>
    <%= link_to t(:update, :scope => "user_interface.sort"), '#', id: "finalize_sorting", style: 'display: none;' %>
    <%= link_to t(:cancel, :scope => "user_interface.sort"), '#', id: "cancel_sorting", style: "display: none;" %>
  </div>
</div>
<div id="sorting_instructions" style="display: none;">
  <h2><%= t(:title, :scope => 'help.sort') -%></h2>
  <div>
    <p>
      <%= image_tag 'help/sort_handle.png', :style => "float: right; margin: 2px 28px 2px 2px;" -%>
      <%= t(:text1, :scope => 'help.sort') -%>
    </p>
    <p><%= t(:text2, :scope => 'help.sort') -%></p>
  </div>
</div>
<% javascript_tag do %>

    document.body.observe('click', closeOpenActions);

    function sortDialogInstructions() {
        <%= javascript_instant_modal_window('sorting_instructions', 'cedari-sort') %>
    }
    function toggleCookieStore(key) {
        var cookieContent = readCookie('cedari-sort');
        if(!(cookieContent) || cookieContent.blank()) {
            writeCookie('cedari-sort','<%= Time.now.to_s.split(/\s+/).reverse.join('-').gsub(' ','') -%>', true);
        } else {
            writeCookie('cedari-sort', null, false);
        }
    }

<% end %>
<div id="user_contents">
  <%= render :partial => 'user_content', :collection => @user_contents %>
  <% if @user_contents.empty? -%>
  <p><%= t(:no_saved_contents, :scope => 'user_interface.messages') -%></p>
  <% end -%>
</div>

<% javascript_tag do %>
    var currentSorting = new ContentSorting('user_contents', <%= form_authenticity_token.inspect-%>, '<%= sort_user_contents_path -%>');
<% end %>
