<%= modal_window_close_button_on_javascript_request -%>
<h2><%= t(:topics, :scope => 'user_interface.user_content') -%></h2>
<div>
  <% remote_form_for @object, :url => update_topics_user_content_path(@object) do %>
    <label><%= t(:user_tags, :scope => 'user_interface.user_content') -%></label>
    <%= topics_select('tags', { :id => "topics-#{@object.id}", :class => 'chzn-select' }, @object.tags.map(&:name)) -%>
    <%= submit_tag 'aktualisieren' %>
  <% end %>
</div>
<% javascript_tag do %>
    new Chosen($('topics-<%= @object.id -%>'));
    var el = $('modal_window');
    if(el) { el.className = 'edit'; el.addClassName('topics'); }
<% end %>