<h1><%= t('change', :scope => 'devise.passwords') %></h1>

<% form_for resource_name, resource, :url => password_path(resource_name), :html => { :method => :put } do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :reset_password_token %>

  <span><%= f.label t(:password, :scope => 'devise.passwords') %></span>
  <span><%= f.password_field :password %></span>

  <span><%= f.label t(:password_confirmation, :scope => 'devise.passwords') %></span>
  <span><%= f.password_field :password_confirmation %></span>

  <span><%= f.submit t(:submit, :scope => 'devise.passwords') %></span>

  <%= render :partial => "shared/devise_links" %>

<% end %>

<div style="float: right; width: 45%; margin-right: 40px; margin-top: 12px; line-height: 1.6em;">
  <p><%= t(:password_change_instructions2, :scope => 'user_interface.messages') %></p>
</div>