<h1><%= t('forgot', :scope => 'devise.passwords') %></h1>

<% form_for resource_name, resource, :url => password_path(resource_name) do |f| %>
  <%= f.error_messages %>

  <span><%= f.label t(:email, :scope => 'devise.authentication_keys') %></span>
  <span><%= text_field_tag "#{resource_name}[email]", params[:email] %></span>

  <span><%= f.submit t(:resend, :scope => 'devise.passwords') %></span>

  <%= render :partial => "shared/devise_links" %>

<% end %>

<div style="float: right; width: 45%; margin-right: 40px; margin-top: 12px; line-height: 1.6em;">
  <p><%= t(:password_change_instructions1, :scope => 'user_interface.messages') %></p>
</div>