<h1><%= link_to 'Benutzerverwaltung', admin_user_registrations_url %></h1>
<h2><%= "#{@object.first_name} #{@object.last_name} &mdash; #{link_to @object.email, "mailto:#{@object.email}"}".html_safe %></h2>

<% unless @object.user.nil? -%>
  <div id="edit_user_button">
      <%= link_to 'Nutzerdaten bearbeiten', '#', link: admin_user_path(User.find_by_user_registration_id(@object.id)), id: 'edit-user-data' -%>
  </div>
<% end -%>

<%= render :partial => 'newsletter', :object => @object %>

<%= form_for [:admin, @object], :html => {  } do |f| %>
  <div class='column' style='float: left;'>
    <table class='userTable' cellspacing='0' cellpadding='0' border='0'>
    <tbody>
      <tr class="underlined">
        <td style="width:40%;">
          <strong>Status</strong> <%= "#{t(@object.current_state.to_sym, :scope => 'devise.workflow_states')}" %>
        </td>
        <td>
          <strong><%= t(:requested_at, :scope => 'devise.registration_fields') %></strong>
          <%= formatted_time @object.created_at %>
        </td>
      </tr>
    <% if FileTest.exists?(File.join(Rails.root, 'app', 'views', 'users', '_application_info.html.erb')) %>
      <%=  render :partial => '/users/application_info', :object => @object %>
    <% else %>
      <% @object.form_parameters.each do |field_name, value| %>
    <tr>
      <td>
        <strong><%= field_name %></strong> <%= value %>
      </td>
    </tr>
      <% end %>
    <% end %>
    </tbody>
    </table>
  </div>

  <table class='userTable' cellspacing='0' cellpadding='0' border='0' style="float:left; width: auto; clear: none;">
    <tbody>
      <tr class="underlined">
        <td>
          <strong><%= t(:tos_agreement, :scope => 'devise.registration_fields') %></strong>
          <%= t((@object.tos_agreement ? :agreed : :not_agreed), :scope => 'devise.registration_fields') %>
        </td>
        <td>
          <strong><%= t(:priv_agreement, :scope => 'devise.registration_fields') %></strong>
          <%= t((@object.priv_agreement ? :agreed : :not_agreed), :scope => 'devise.registration_fields') %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <strong>Anmerkungen</strong>
          <%= f.text_area :admin_comments, :style => 'height:90px; width: 240px;' %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div id="workflow_actions">
            <%= hidden_field_tag :workflow_event, '', :id => 'workflow_event' %>
            <%= render :partial => @object.current_state.to_s, :object => @object %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

<% end %>
