<h1><%= link_to 'Benutzerverwaltung', admin_user_management_url %></h1>
<h2><%= "#{@object.first_name} #{@object.last_name} &mdash; #{link_to @object.email, "mailto:#{@object.email}"}" %></h2>

<% unless @object.user.nil? -%>
<div id="edit_user_button">
    <%= button_to_remote 'Nutzerdaten bearbeiten', { :method => :get, :url => admin_user_path(User.find_by_user_registration_id(@object.id)) } -%>
</div>
<% end -%>

<%= render :partial => 'newsletter', :object => @object %>

<% form_for [:admin, @object], :html => {  } do |f| %>
  <div class='column' style='float: left;'>
    <table class='userTable' cellspacing='0' cellpadding='0' border='0'>
    <tbody>
      <tr class="underlined">
        <td style="width:40%;">
          <strong>Status</strong> <%= "#{t(@object.current_state.to_sym, :scope => "devise.workflow_states")}" %>
        </td>
        <td>
          <strong><%= t(:requested_at, :scope => "devise.registration_fields") %></strong>
          <%= formatted_time @object.created_at %>
        </td>
      </tr>
    <% if FileTest.exists?(File.join(RAILS_ROOT, 'app', 'views', 'users', '_application_info.html.erb')) %>
      <%=  render :partial => '/users/application_info', :object => @object %>
    <% else %>
      <% @object.form_parameters.each do |field_name, value| %>
    <tr>
      <td>
        <strong><%= field_name %></strong> <%= value %>
      </td>
    </tr>
      <% end %>
    <% end %>
    </tbody>
    </table>
  </div>

  <table class='userTable' cellspacing='0' cellpadding='0' border='0' style="float:left; width: auto; clear: none;">
    <tbody>
      <tr class="underlined">
        <td>
          <strong><%= t("tos_agreement", :scope => "devise.registration_fields") %></strong>
          <%= @object.tos_agreement ? 'zugestimmt' : 'keine Zustimmung' %>
          <%= hidden_field_tag :workflow_event, '', :id => "workflow_event" %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Anmerkungen</strong>
          <%= f.text_area :admin_comments, :style => "height:90px; width: 240px;" %>
        </td>
      </tr>
      <tr>
        <td>
          <div id="workflow_actions">
            <%= render :partial => @object.current_state.to_s, :object => @object %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

<% end %>
