<% @workflow_state = t((@filters.delete('workflow_state') || 'all'), :scope => "devise.workflow_states").capitalize
   @first_name = @filters.delete('first_name')
   @last_name = @filters.delete('last_name')
   @country = @filters.delete('country') -%>
<% filter_str = (@filters || {}).keys.map{|k| t(@filters[k], :scope => "devise.registration_values.#{k}").capitalize }.join(' &mdash; ') %>
<h1>
  <%= @user_registrations.size == 0 ? 'Keine' : @user_registrations.size -%>
  <%= (@workflow_state == 'Alle' ? '' : (@workflow_state.last == 'e' ? @workflow_state : @workflow_state + 'en').downcase + '&nbsp;').html_safe -%>Nutzer
  <%= filter_str.empty? ? '' : "&nbsp;(nur#{filter_str})".html_safe -%>
  <%= @first_name.blank? ? '' : "&nbsp;#{t(:first_name, :scope => 'devise.registration_fields')}: '#{@first_name}*'".html_safe -%>
  <%= @last_name.blank? ? '' : "&nbsp;, #{t(:last_name, :scope => 'devise.registration_fields')}: '#{@last_name}*'".html_safe -%>
  <%= @country.blank? ? '' : "&nbsp; aus #{t(@country, :scope => 'countries')}".html_safe -%>
</h1>
<h4><%= link_to "&raquo;&nbsp;Tabellendownload (als .CSV)".html_safe, admin_user_registrations_path(params.permit(filter_params).merge(format: :csv)) %><h4>

<table class='userTable userIndex' cellspacing='0' cellpadding='0' border='0'>
  <tbody>
    <tr>
      <th class="userTable">Name und Email</th>
      <th class="userTable">Beruf</th>
      <th class="userTable">Staat</th>
      <th class="userTable">Bundesland</th>
      <th class="userTable">Status&nbsp;der&nbsp;Anfrage</th>
    </tr>
    <% @user_registrations.each do |user_registration| %>
    <tr class="userTable <%= cycle('userTableEven', 'userTableOdd') %>">
      <td class="userTableLabel userTableList">
        <%= link_to "#{user_registration.first_name} #{user_registration.last_name}",
                    edit_admin_user_registration_path(user_registration.id), :class => "user_name_link" %>
        <br/>
        <small><%= user_registration.email %></small>
      </td>
      <td class="userTableList clickable" onclick="window.location.href = '<%= edit_admin_user_registration_path(user_registration.id) -%>';">
        <% if user_registration.job_description.blank? -%>
        &mdash;
        <% else -%>
        <%= t(user_registration.job_description, :scope => "devise.registration_values.job_description") %>
        <% end -%>
      </td>
      <td class="userTableList clickable" onclick="window.location.href = '<%= edit_admin_user_registration_path(user_registration.id) -%>';">
        <%= user_registration.country %>
      </td>
      <td class="userTableList clickable" onclick="window.location.href = '<%= edit_admin_user_registration_path(user_registration.id) -%>';">
        <% if user_registration.state.blank? -%>
        keine Angabe
        <% else -%>
        <%= t(user_registration.state, :scope => 'devise.registration_values.state') %>
        <% end -%>
      </td>
      <td class="userTableList clickable" style="font-size:85%;" onclick="window.location.href = '<%= edit_admin_user_registration_path(user_registration.id) -%>';">
        <span class="state <%= user_registration.workflow_state -%>"><%= t(user_registration.workflow_state, :scope => "devise.workflow_states") -%></span>
        (<%= formatted_time user_registration.created_at, 'vor&nbsp;Juni&nbsp;2010' %>)
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<% unless request.xhr? -%>
  <% content_for :title do -%>
    Benutzerverwaltung
  <% end -%>
  <% content_for :sidebar do -%>
    <%= render :partial => "/admin/user_sidebar.html.erb" %>
  <% end -%>
<% end -%>
