<noscript>
  <div id="no-js" class="box" style="width: 90%;">
    <h1><%= t(:nojs, :scope => 'plugins') -%>!</h1>
    <p>
      <%= t(:nojs_message, :scope => 'plugins') %>
    </p>
    <a href="http://activatejavascript.org/<%= I18n.locale.to_s -%>" target="_blank"><%= t(:nojs_link, :scope => 'plugins') -%></a>
  </div>
  <br class="clear" style="padding-bottom: 20px;"/>
</noscript>

<div id="no-flash" style="display: none; padding-bottom: 20px;">
  <div class="box" style="width: 90%;">
      <h1><%= t(:noflash, :scope => 'plugins') -%>!</h1>
      <p><%= t(:noflash_message, :scope => 'plugins', :project_name => Project.project_name[I18n.locale.to_s]) -%></p>
      <a href="http://get.adobe.com/flashplayer" target="_blank"><%= t(:noflash_link, :scope => 'plugins') -%></a>
  </div>
  <br class="clear"/>
</div>

<% javascript_tag do %>
    if(PluginDetect.isMinVersion('Flash','10,1') < 0) {
        $('no-flash').show();
    }
<% end %>

<h1><%= t(:login, :scope => 'devise.sessions') %></h1>

<%= form_for resource, :url => session_path(resource_name), :html => { :class => 'signup' } do |f| -%>

  <% Devise.authentication_keys.each do |auth_key| %>
  <span><%= f.label t(auth_key, :scope => 'devise.authentication_keys') %></span>
  <span><%= f.text_field auth_key %></span>
  <% end -%>

  <span><%= f.label t(:password, :scope => 'devise.authentication_keys') %></span>
  <span><%= f.password_field :password %></span>

  <% if devise_mapping.rememberable? -%>
    <% f.hidden_field :remember_me, :value => true %>
  <% end -%>

  <span><%= f.submit t(:link, :scope => 'devise.sessions') %></span>

  <%= render :partial => 'shared/devise_links' %>

<% end -%>

<div style="float: right; width: 45%; margin-right: 10px; margin-top: 12px; line-height: 1.6em;">
  <p>
    <%= t(:registration_needed, :scope => 'user_interface.messages',
            :terms_of_use => external_link('devise.registration_fields.tos_agreement', :nutzungsbedingungen),
            :privacy_policy => external_link('devise.registration_fields.priv_agreement', :datenschutzbestimmungen),
            :project_name => Project.project_name[I18n.locale.to_s]).html_safe %>
  </p>
  <p id="registration_link" style="margin-top:6px;"><%= t('devise.registrations.not_yet_registered') %>&nbsp;<%= link_to t('devise.registrations.link_to'), new_user_registration_path %>
  </p>
</div>

<div class="clear">&nbsp;</div>
