<% case @mail_locale
  when :en -%>
    <p>Dear <%= @user_name %>,</p>
    <p>we confirm your account registration to our archive. Your username is: <%= @login %></p>
    <p>To enable your access to the new archive platform, we ask you to activate your account and choose a new password here:</p>
    <p><%= link_to 'Activate your access now', @url %></p>
    <br/>
    <p>Best regards,</p>
    <p>The archive team "Forced Labor 1939-1945, Memory and History"</p>
  <% when :ru -%>
    <p>Уважаемый/ая <%= @user_name %>,</p>
    <p>настоящим подтверждаем предоставление Вам доступа к архиву. Ваше имя пользователя: <%= @login %></p>
    <p>Для получения возможности пользоваться архивной платформой просим Вас активировать Ваш доступ и выбрать новый пароль:</p>
    <p><%= link_to 'Активировать доступ сейчас', @url %></p>
    <br/>
    <p>С уважением,</p>
    <p>Команда архива "Подневольный труд 1939-1945. Воспоминания и история"</p>
  <% else -%>
    <p>Sehr geehrte/r <%= @user_name %>,</p>
    <p>wir bestätigen hiermit Ihren Zugang zum Archiv. Ihr Benutzername lautet: <%= @login %></p>
    <p>Um Ihren Zugang zur Archivplattform zu ermöglichen, bitten wir Sie Ihren Zugang hier zu aktivieren und ein neues Passwort zu wählen:</p>
    <p><%= link_to 'Zugang jetzt aktivieren', @url %></p>
    <br/>
    <p>Mit freundlichen Grüßen,</p>
    <p>Das Archiv-Team "Zwangsarbeit 1939-1945, Erinnerungen und Geschichte"</p>
<% end -%>
