<% facet_dom_id = "selected_#{active_facet}" %>
<% query = query.to_a unless query.is_a?(Array) %>
<div id="<%= facet_dom_id %>" class="active-facet">
  <span class="facet-name"><%= t(active_facet.singularize) %>:</span>

  <% is_category = Category.is_category?(active_facet) %>

  <ul>
  <% if is_category %>

    <% query = query.map{|c| c.to_i != 0 ? Category.find(c) : nil }.compact %>

    <% query.each do |category| %>
    <li><%= category %></li>
    <% end %>

  <% else %>
    <% query.split(' ').each do |name_token| %>
    <li><%= name_token %></li>
    <% end %>
  <% end %>
  </ul>


  <%= link_to_function 'entfernen', :class=>'facet-remove', :title => 'entfernen' do |page|
      page[facet_dom_id].visual_effect :switch_off
      if is_category
        query.each do |category|
          next unless category.is_a?(Category)
          page << "Element.remove('#{active_facet.singularize + '_' + category.to_s}');"
        end
      else
        page << "Element.remove('#{active_facet.singularize}');";
      end
      page[:search_facets].request
  end %>

  <fieldset style="display:none" id="<%= active_facet %>_query" class="facet-field">

    <% if is_category %>

      <%# javascript_tag do %>
        <%# query.select{|c| c.to_i != 0}.each do |category| %>
          <%# checkedCategories.push('<%= active_facet.singularize + '_' + category.to_s %>'); %>
        <%# end %>
      <%# end %>

      <% query.each do |category| %>
        <%= hidden_field_tag "search[#{active_facet}][]", category[:id], { :id => "#{active_facet}_#{category[:id]}"} %>
      <% end %>

    <% else %>

      <%= hidden_field_tag "search[#{active_facet}]", query, :id => "#{active_facet.singularize}" %>
    
    <% end %>
  </fieldset>
</div>