<% facet_dom_id = "selected_#{active_facet}" %>
<% query = query.to_a unless query.is_a?(Array) %>
<div id="<%= facet_dom_id %>" class="active-facet">
  <span class="facet-name"><%= t active_facet.singularize, :scope => :facets %>:</span>

  <% is_category = Category.is_category?(active_facet) %>

  <ul>
  <% if is_category %>

    <% query = query.map{|c| c.to_i != 0 ? begin; Category.find(c); rescue; nil; end : nil }.compact %>

    <% query.each_with_index do |category, index| %>
      <%# translate language parts individually %>
      <% category_titles = (active_facet == 'languages' ? category.name.split('/') : [ category.name ]) %>
      <%# translate facet name #%>
      <% category_titles = category_titles.map{|ct| t(ct, :scope => "categories.#{active_facet}")} %>
      <li><%= category_titles.join('/') -%><%= (index == query.size-1) ? '' : ','-%></li>
    <% end %>

  <% elsif active_facet == 'interview_id' %>
    <% query = query.map{|i| i.to_i != 0 ? begin; Interview.find(i); rescue; nil; end : nil }.compact %>

    <% query.each do |interview| %>
      <% interview.full_title(I18n.locale).split(' ').each do |name_token| %>
        <li><%= name_token %></li>
      <% end %>
    <% end %>
  <% end %>
  </ul>

  <%= link_to_function 'entfernen', :class=>'facet-remove', :title => 'entfernen' do |page|
      page[facet_dom_id].visual_effect :switch_off
      query.each do |facet_object|
        page << "Element.remove('#{active_facet}_#{facet_object[:id]}');"
      end
      page << "submitViaAjax();"
  end %>

  <fieldset style="display:none" id="<%= active_facet %>_query" class="facet-field">

    <% query.each do |facet_object| %>
      <%= hidden_field_tag "#{active_facet}[]", facet_object[:id], { :id => "#{active_facet}_#{facet_object[:id]}"} %>
    <% end %>

  </fieldset>
</div>
