<div id="searchReset">
  <% if facets.hits < Interview::NUMBER_OF_INTERVIEWS %>
    <%# reload the complete page if we are in the search result view %>
    <% reset_path = (request.path == searches_path) ? searches_path : new_search_path  %>
    <%= link_to_remote(content_tag('span', 'zur&uuml;cksetzen') + image_tag(image_path 'suche_reset1.gif'), { :url => reset_path, :method => :get, :onclick => "beforeSubmit();" }) %>
  <% end %>
</div>

<div class="baseListBox">

  <% form_action = @search_update_contents ? searches_path : new_search_path %>

  <% remote_form_for facets,
                     :url => form_action,
                     :method => :get,
                     :html => { :action => form_action,
                                :method => :get,
                                :complete => "afterResponse();",
                                :success => "resetBlindStatus();",
                                :name => "searchFacets",
                                :id => "search_facets" } do |search_facets| %>

    <div class="fragmentTitle">
        <% search_facets.object.fulltext = t('search_term') if search_facets.object.fulltext.blank? %>
        <%= search_facets.text_field :fulltext, :size => 30, :id => 'searchInput', :class => 'baseInputSearch', :title => 'Suchbegriff bitte hier eingeben', :onFocus => "clearFulltextField('searchInput');" %>
        <%= search_facets.submit 'suchen', :class => 'search', :id => 'searchButton', :alt => 'suchen', :type => :image, :src => image_path('pfeil_rot_rechts.gif'), :onclick => "submitViaAjax(); false;" %>
        <%= hidden_field_tag 'search[open_category]', '', :id => 'open_category' %>
    </div>

    <noscript>
      <div class="warning">
        <h4>Bitte aktivieren Sie Javascript, um die interaktive Suche zu nutzen.</h4>
      </div>
    </noscript>

    <% facets.query_facets.each do |facet| %>
    <%= render :partial => '/searches/active_facet', :object => facet.first, :locals => { :query => facet.last } %>
    <% end %>

    <% facets.unqueried_facets.each do |facet| %>
    <%= render :partial => '/searches/facet_option', :object => facet, :locals => { :search_facets => search_facets, :category_facet => facets.send(facet.first).is_a?(Array)} %>
    <% end %>

  <% end %>

  <% unless facets.open_category.blank? %>
    <% javascript_tag do %>
      toggleCategory('<%= facets.open_category%>_query', true);
    <% end %>
  <% end %>

  <div id="search_facets_overlay" class="overlay" style="display: none;"><img class="spinner_search" src="<%= image_path 'spinner.gif' %>" title="" alt="" /></div>

</div>