<div class="baseListBox">
    <noscript><h4>Bitte aktivieren Sie JavaScript, um die navigatorischen Elemente auf der rechten Seite nutzen zu können.</h4></noscript>

  <% remote_form_for facets,
                     :url => searches_path,
                     :method => :get,
                     :before => 'applyFulltext();',
                     :html => { :action => new_search_path,
                                :method => :get,
                                :name => "searchFacets",
                                :id => "search_facets" } do |search_facets| %>

    <h2 class="baseListBoxTitle">Interviews suchen nach:</h2>
    <div class="fragmentTitle" onclick="toggleCategory('person_names_query');">
      <h2>
        <img title="" src="/images/pfeil_rot_rechts.gif" id="person_names_query_closed" alt="Pfeil rechts" />
        <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="person_names_query_open" alt="Pfeil unten" />
        Namen der Interviewten
      </h2>
    </div>
    <fieldset style="display:none" id="person_names_query" class="facet-field">
      <%# Field for name query %>
    </fieldset>

    <div class="fragmentTitle" onclick="toggleCategory('forced_labor_groups_query');">
      <h2>
        <img title="" src="/images/pfeil_rot_rechts.gif" id="forced_labor_groups_query_closed" alt="Pfeil rechts" />
        <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="forced_labor_groups_query_open" alt="Pfeil unten" />
        Gruppe
      </h2>
    </div>
    <fieldset style="display:none" id="forced_labor_groups_query" class="facet-field">
      <% unless facets.facet(:forced_labor_group_ids).empty? %>
      <ul>
        <% facets.facet(:forced_labor_group_ids).each do |f| %>
            <% category = f.first %>
        <li>
            <%= search_facets.check_box :forced_labor_groups, { :name => 'forced_labor_groups[]', :id => "group_#{category[:id]}", :class => 'forced_labor_groups' }, category[:id], 0 %>
            <span class="facet-name"><%= category.name %></span>
            <span class="facet-count">(<%= f.last %>)</span>
        </li>
        <% end %>
     </ul>
     <% end %>
    </fieldset>

    <div class="fragmentTitle" onclick="toggleCategory('forced_labor_fields_query');">

        <h2>
            <img title="" src="/images/pfeil_rot_rechts.gif" id="forced_labor_fields_query_closed" alt="Pfeil rechts" />
            <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="forced_labor_fields_query_open" alt="Pfeil unten" />
            Einsatzbereich
        </h2>
    </div>
    <fieldset style="display:none" id="forced_labor_fields_query" class="facet-field">
        <% unless facets.facet(:forced_labor_field_ids).empty? %>
        <ul>
          <% facets.facet(:forced_labor_field_ids).each do |f| %>
            <% category = f.first %>
            <li>
                <%= search_facets.check_box :forced_labor_fields, { :name => 'forced_labor_fields[]', :id => "field_#{category[:id]}", :class => 'forced_labor_fields' }, category[:id], 0 %>
                <span class="facet-name"><%= category.name %></span>
            <span class="facet-count">(<%= f.last %>)</span>
            </li>
          <% end %>
        </ul>
        <% end %>
    </fieldset>

    <div class="fragmentTitle" onclick="toggleCategory('forced_labor_habitations_query');">
        <h2>
            <img title="" src="/images/pfeil_rot_rechts.gif" id="forced_labor_habitations_query_closed" alt="Pfeil rechts" />
            <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="forced_labor_habitations_query_open" alt="Pfeil unten" />

            Unterbringung / Inhaftierung
        </h2>
    </div>

    <fieldset style="display:none" id="forced_labor_habitations_query" class="facet-field">
        <% unless facets.facet(:forced_labor_habitation_ids).empty? %>
        <ul>
          <% facets.facet(:forced_labor_habitation_ids).each do |f| %>
            <% category = f.first %>
            <li>
                <%= search_facets.check_box :forced_labor_habitations, { :name => 'forced_labor_habitations[]', :id => "habitation_#{category[:id]}", :class => 'forced_labor_habitations' }, category[:id], 0 %>
                <span class="facet-name"><%= category.name %></span>
                <span class="facet-count">(<%= f.last %>)</span>
            </li>
          <% end %>
        </ul>
        <% end %>
    </fieldset>

    <div class="fragmentTitle" onclick="toggleCategory('languages_query');" class="facet-field">

        <h2>
            <img title="" src="/images/pfeil_rot_rechts.gif" id="languages_query_closed" alt="Pfeil rechts" />
            <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="languages_query_open" alt="Pfeil unten" />
            Sprache
        </h2>
    </div>

    <fieldset style="display:none" id="languages_query" class="facet-field">
        <% unless facets.facet(:language_id).empty? %>
        <ul>
          <% facets.facet(:language_id).each do |f| %>
            <% category = f.first %>
            <li>
                <%= search_facets.check_box :languages, { :name => 'languages[]', :id => "language_#{category[:id]}", :class => 'languages' }, category[:id], 0 %>
                <span class="facet-name"><%= category.name %></span>
                <span class="facet-count">(<%= f.last %>)</span>
            </li>
          <% end %>
        </ul>
        <% end %>
    </fieldset>


    <div class="fragmentTitle" onclick="toggleCategory('countries_query');">

        <h2>
            <img title="" src="/images/pfeil_rot_rechts.gif" id="countries_query_closed" alt="Pfeil rechts" />
            <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="countries_query_open" alt="Pfeil unten" />
            Wohnort (Land)
        </h2>
    </div>
    <fieldset style="display:none" id="countries_query" class="facet-field">
        <ul>
            <li>
                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/belarus.html">
                    Belarus
                </a>
            </li>
        </ul>
    </fieldset>

    <fieldset style="display:none">
      <%= search_facets.hidden_field :fulltext, :id => 'search_facets_fulltext' %>
    </fieldset>

  <% end %>

  <%# merge both search forms - search_input and search_facets %>
  <% javascript_tag do %>

    var categoryElems = $$('fieldset.facet-field');

    // apply the facet parameters to the fulltext search
    function applyFacets() {
      for(var cat=0; cat < categoryElems.length; cat++) {
        var id = categoryElems[cat].id.sub(/_query$/,'');
        if(id == 'person_name') {
            $('search_form_person_name').value = $('person_name_query').value;
        } else {
            var categories = $$('.' + id);
            // delete the existing search form elems
            $$('#search_form .' + id).each(function(el) { el.remove(); });
            // copy the checked elems over to the search form as hidden fields
            $$('.' + id).each(function(el) {
                if(el.checked) {
                    var elemName = 'search['+id+'][]';
                    var hiddenElem = new Element('input', { type: 'hidden', name: elemName, value: el.value, class: id });
                    $('search_form').insert(hiddenElem);
                }
            });
        }
      }
    };

    // apply the fulltext parameter to the facets search
    function applyFulltext() {
      $('search_facets_fulltext').value = $('searchInput').value;
    };

    // blind effect for category facets
    var blindStatus = new Array(categoryElems.length);
    function toggleCategory(id) {
      var cat_index = -1;
      for(var i=0; i< categoryElems.length; i++) {
        if (id == categoryElems[i].id) {
            cat_index = i;
        }
      }
      if(cat_index > -1) {
        if(blindStatus[cat_index] != 1) {
            Effect.BlindDown(id, { duration: 0.4, transition: Effect.Transitions.sinoidal });
            blindStatus[cat_index] = 1;
        } else {
            Effect.BlindUp(id, { duration: 0.4, transition: Effect.Transitions.sinoidal });
            blindStatus[cat_index] = 0;
        }
        Element.toggle(id + '_closed');
        Element.toggle(id + '_open');
      }
    };

  <% end %>

</div>