<h2 class="info">Service-Funktionen</h2>
<p><%= t(:search_the_archive, :scope => 'user_interface.labels') %></p>
<div id="baseHeaderSearch">

  <span class="hits">
    <% if search.hits == Interview::NUMBER_OF_INTERVIEWS %>
      <%= link_to t(:all) + '&nbsp;' + Interview.human_name.pluralize, current_search_path %>
    <% elsif search.hits > 0 %>
      <%= link_to pluralize(search.hits, Interview.human_name) + '&nbsp;' + t(:in_the_current_search, :scope => 'user_interface.labels'), current_search_path %>
    <% else %>
      <%= t(:not_found, :scope => 'user_interface.search') + '&nbsp;' + Interview.human_name.pluralize + '&nbsp;' + t(:in_the_current_search, :scope => 'user_interface.labels') %>
    <% end %>
  </span>
</div>

<div id="submit_search" class="action">
  <%= submit_tag t(:search, :scope => 'user_interface.labels'), :type => :image, :src => image_path('suchpfeil_quad.gif'), :onclick => 'submitViaAjax(); false;' %>
</div>

<div id="search_header_overlay" class="overlay" style="display: none;"></div>

<% javascript_tag do %>
    <% if action_name == 'new' && controller_name == 'searches' %>
    // document.observe("dom:loaded", submitHashedQueryParams());
    <% end %>
    var queryHash = <%= (@search || Search.new).query_hash %>
<% end %>
