<%
  case (@resource.default_locale || I18n.locale).to_sym
  when :en
-%>
  <p>Hello <%= @resource.display_name %>,</p>
  <p>You have registered for the <%= @project_name %> platform.</p>
  <p>Please confirm your registration.</p>
  <p><%= link_to 'Confirm Registration', @url %></p>
  <p>If you have not registered for the <%= @project_name %> platform, you can ignore this email. Your data will be automatically deleted after 14 days.</p>
  <p>With best regards</p>
  <p><%= @project_name %></p>
<% when :ru -%>
  <p>Добрый день, <%= @resource.display_name %>,</p>
  <p>Вы зарегистрировались на платформе <%= @project_name %>. Пожалуйста, подтвердите Вашу регистрацию.</p>
  <p><%= link_to 'Подтвердить регистрацию', @url %></p>
  <p>Если вы не регистрировались на платформе <%= @project_name %>, можете проигнорировать это сообщение. Ваши данные будут автоматически удалены через 14 дней.</p>
  <p>С уважением,</p>
  <p><%= @project_name %></p>
<% when :uk -%>
  <p>Доброго дня, <%= @resource.display_name %>,</p>
  <p>Ви зареєструвалися на платформі <%= @project_name %>.</p>
  <p>Будь ласка, підтвердьте свою реєстрацію.</p>
  <p><p><%= link_to 'Підтвердити реєстрацію', @url %></p></p>
  <p>Якщо ви не зареєструвалися на платформі <%= @project_name %>, ви можете ігнорувати цей електронний лист. Ваші дані будуть автоматично видалені через 14 днів.</p>
  <p>З найкращими побажаннями</p>
  <p><%= @project_name %>"</p>
<% when :es -%>
  <p>Hola <%= @resource.display_name %>,</p>
  <p>Se ha registrado/a en la plataforma <%= @project_name %>.</p>
  <p>Por favor, confirme su registro.</p>
  <p><%= link_to 'Confirmar registro', @url %></p>
  <p>Si no se ha registrado/a en la plataforma <%= @project_name %>, puede ignorar este correo. Sus datos se eliminarán automáticamente después de 14 días.</p>
  <p>Saludos cordiales,</p>
  <p><%= @project_name %></p>
<% when :el -%>
  <p>Καλημέρα <%= @resource.display_name %>,</p>
  <p>Έχετε εγγραφεί στην πλατφόρμα <%= @project_name %>.</p>
  <p>Σας παρακαλούμε να επιβεβαιώσετε την εγγραφή σας.</p>
  <p><%= link_to 'Επιβεβαίωση εγγραφής', @url %></p>
  <p>Στην περίπτωση που δεν θέλατε να  εγγραφείτε στην πλατφόρμα <%= @project_name %>, σας παρακαλούμε να αγνοήσετε αυτό το μήνυμα. Τα στοιχεία σας θα διαγραφούν αυτόματα μετά από 14 ημέρες.</p>
  <p>Με εκτίμηση,</p>
  <p><%= @project_name %></p>
<% when :ar -%>
  <p>مرحبًا  <%= @resource.display_name %>,</p>
  <p>لقد سجّلت في منصة <%= @project_name %>.</p> 
  <p>رجى تأكيد تسجيلك.</p>
  <p><%= link_to 'تأكيد التسجيل', @url %></p>
  <p>إذا لم تسجّل في منصة <%= @project_name %>، يمكنك تجاهل هذه الرسالة الإلكترونية.</p>
  <p>ستُحذف بياناتك تلقائيًا بعد 14 يومًا.</p>
  <p>مع أطيب التحيات</p>
  <p><%= @project_name %></p>
<% else -%>
  <p>Guten Tag <%= @resource.display_name %>,</p>
  <p>Sie haben sich für die Plattform <%= @project_name %> registriert.</p> 
  <p>Bitte bestätigen Sie Ihre Registrierung.</p>
  <p><%= link_to 'Registrierung bestätigen', @url %></p>
  <p>Sollten Sie sich nicht für die Plattform <%= @project_name %> registriert haben, können Sie diese E-Mail ignorieren.</p>
  <p>Ihre Daten werden automatisch nach 14 Tagen gelöscht.</p>
  <p>Mit freundlichen Grüßen</p>
  <p><%= @project_name %></p>
<% end -%>
