<%
  case (@resource.default_locale || I18n.locale).to_sym
  when :en
-%>
  <p>Hello <%= @resource.display_name %>,</p>
  <p>You have registered for the Oral-History.Digital platform.</p>
  <p>Please confirm your registration.</p>
  <p><%= link_to 'Confirm Registration', @url %></p>
  <p>If you have not registered for the Oral-History.Digital platform, you can ignore this email. Your data will be automatically deleted after 14 days.</p>
  <p>With best regards</p>
  <p>Oral-History.Digital</p>
<% when :ru -%>
  <p>Добрый день, <%= @resource.display_name %>,</p>
  <p>Вы зарегистрировались на платформе Oral-History.Digital. Пожалуйста, подтвердите Вашу регистрацию.</p>
  <p><%= link_to 'Подтвердить регистрацию', @url %></p>
  <p>Если вы не регистрировались на платформе Oral-History.Digital, можете проигнорировать это сообщение. Ваши данные будут автоматически удалены через 14 дней.</p>
  <p>С уважением,</p>
  <p>Oral-History.Digital</p>
<% when :es -%>
  <p>Hola <%= @resource.display_name %>,</p>
  <p>Se ha registrado/a en la plataforma Oral-History.Digital.</p>
  <p>Por favor, confirme su registro.</p>
  <p><%= link_to 'Confirmar registro', @url %></p>
  <p>Si no se ha registrado/a en la plataforma Oral-History.Digital, puede ignorar este correo. Sus datos se eliminarán automáticamente después de 14 días.</p>
  <p>Saludos cordiales,</p>
  <p>Oral-History.Digital</p>
<% when :el -%>
  <p>Καλημέρα <%= @resource.display_name %>,</p>
  <p>Έχετε εγγραφεί στην πλατφόρμα Oral-History.Digital.</p>
  <p>Σας παρακαλούμε να επιβεβαιώσετε την εγγραφή σας.</p>
  <p><%= link_to 'Επιβεβαίωση εγγραφής', @url %></p>
  <p>Στην περίπτωση που δεν θέλατε να  εγγραφείτε στην πλατφόρμα Oral-History.Digital, σας παρακαλούμε να αγνοήσετε αυτό το μήνυμα. Τα στοιχεία σας θα διαγραφούν αυτόματα μετά από 14 ημέρες.</p>
  <p>Με εκτίμηση,</p>
  <p>Η ομάδα του προγράμματος Oral-History.Digital</p>
<% else -%>
  <p>Guten Tag <%= @resource.display_name %>,</p>
  <p>Sie haben sich für die Plattform Oral-History.Digital registriert.</p> 
  <p>Bitte bestätigen Sie Ihre Registrierung.</p>
  <p><%= link_to 'Registrierung bestätigen', @url %></p>
  <p>Sollten Sie sich nicht für die Plattform Oral-History.Digital registriert haben, können Sie diese E-Mail ignorieren.</p>
  <p>Ihre Daten werden automatisch nach 14 Tagen gelöscht.</p>
  <p>Mit freundlichen Grüßen</p>
  <p>Oral-History.Digital</p>
<% end -%>
