<%
  my_locale = @user_account.default_locale || I18n.locale
  url = "#{@resource.user_registration.projects.last.archive_domain}/#{my_locale}/user_registrations/#{@user_account.confirmation_token}/activate"
  case my_locale.to_sym
  when :en
-%>
  <p>Dear <%= @user_account.display_name %>,</p>
  <p>You have registered for the application "<%= @user_account.user_registration.projects.last.name('en') %>".</p>
  <p>Please confirm your registration within the next 14 days by setting a password:</p>
  <p><%= link_to 'Confirm Registration', url %></p>
  <p>After you have confirmed your registration, the project team will review your registration details. Within two working days you will be informed about the activation of your account for the interview archive.</p>
  <p>If you have not registered for the interview archive, you can ignore this e-mail. Your data will be deleted automatically after 14 days.</p>
  <p>Yours sincerely,</p>
  <p>The project team "<%= @user_account.user_registration.projects.last.name('en') %>"</p>
<% when :ru -%>
  <p>Уважаемый(-ая) <%= @user_account.display_name %>,</p>
  <p>Вы зарегистрировались как пользователь проекта  "<%= @user_account.user_registration.projects.last.name('ru') %>".</p>
  <p>Пожалуйста, подтвердите Вашу регистрацию в течение слудующих 14-ти дней путем введения пароля:</p>
  <p><%= link_to 'Подтвердить регистрацию', url %></p>
  <p>После подтверждения Вашей регистрации, Ваши данные будут проверены сотрудниками проекта. В течение двух дней Вы получите ответ об активации Вашего доступа к интервью-архиву.</p>
  <p>Если Вы не регистрировались в интервью-архиве, можете проингорировать это сообщение. Ваш данные будут автоматически удалены в течение 14-ти дней.</p>
  <p>С уважением,</p>
  <p>сотрдники проекта "<%= @user_account.user_registration.projects.last.name('ru') %>"</p>
<% when :es -%>
  <p>TODO: translate to Spanish</p>
  <p><%= link_to 'Registrierung bestätigen', url %></p>
<% else -%>
  <p>Sehr geehrte/r <%= @user_account.display_name %>,</p></p>
  <p>Sie haben sich für die Anwendung "<%= @user_account.user_registration.projects.last.name('de') %>" registriert.</p>
  <p>Bitte bestätigen Sie innerhalb der kommenden 14 Tage Ihre Registrierung, indem Sie ein Passwort festlegen:</p>
  <p><%= link_to 'Registrierung bestätigen', url %></p>
  <p>Nach erfolgter Bestätigung wird Ihre Registrierung inhaltlich vom Projektteam geprüft, diese Prüfung kann bis zu zwei Werktage dauern. Nach dieser Überprüfung werden Sie über die Aktivierung Ihres Zugangs zu dem Interview-Archiv informiert.</p>
  <p>Sollten Sie sich nicht für das Interview-Archiv registriert haben, können Sie diese diese E-Mail ignorieren, Ihre Daten werden automatisch nach 14 Tagen gelöscht.</p>
  <p>Mit freundlichen Grüßen,</p>
  <p>Das Projekt-Team "<%= @user_account.user_registration.projects.last.name('de') %>"</p>
<% end -%>
