<% url = "#{@resource.user_registration.projects.last.archive_domain}/#{I18n.locale}/accounts/#{@resource.id}/confirm_new_email?confirmation_token=#{@resource.confirmation_token}" %>
<% case I18n.locale
  when :en -%>
  <p>Dear <%= @user_account.display_name %>,</p>
  <p>You have changed the e-mail address for your account in the application "<%= @user_account.user_registration.projects.last.name('en') %>".</p>
  <p>Please confirm this modification by clicking the following link:</p>
  <p><%= link_to 'Confirm new e-mail address', url %></p>
  <p>Yours sincerely,</p>
  <p>The project team "<%= @user_account.user_registration.projects.last.name('en') %>"</p>
  <% when :ru -%>
  <p>Уважаемый(-ая) <%= @user_account.display_name %>,</p>
  <p>Вы изменили адрес электронной почты в Вашем аккаунте для доступа к проекту "<%= @user_account.user_registration.projects.last.name('ru') %>".</p>
  <p>Пожалуйста, подтвердите изменение, перейдя за линком:</p>
  <p><%= link_to 'Подтвердить новый адрес электронной почты', url %></p>
  <p>С уважением,</p>
  <p>сотрудники проекта "<%= @user_account.user_registration.projects.last.name('ru') %>"</p>
  <% when :el -%>
  <p>Αγαπητή/-έ <%= @user_account.display_name %>,</p>
  <p>έχετε αλλάξει την ηλεκτρονική διεύθυνση του λογαριασμού σας για την εφαρμογή <"<%= @user_account.user_registration.projects.last.name('el') %>".</p>
  <p>Παρακαλώ επιβεβαιώστε την αλλαγή ακολουθώντας τον παρακάτω σύνδεσμο:</p>
  <p><%= link_to 'Επιβεβαίωση νέας διεύθυνσης', url %></p>
  <p>Με εκτίμηση,</p>
  <p>Η ομάδα του προγράμματος "<%= @user_account.user_registration.projects.last.name('el') %>"</p>
  <% when :es -%>
  <p>Estimada/o <%= @user_account.display_name %>,</p>
  <p>Usted ha cambiado el correo electrónico de su cuenta para la aplicación "<%= @user_account.user_registration.projects.last.name('es') %>".</p>
  <p>Por favor, confirme los cambios haciendo clic en el siguiente enlace:</p>
  <p><%= link_to 'Confirmar nuevo correo electrónico', url %></p>
  <p>Con saludos cordiales,</p>
  <p>El equipo del proyecto "<%= @user_account.user_registration.projects.last.name('es') %>"</p>
  <% else -%>
  <p>Sehr geehrte/r <%= @user_account.display_name %>,</p>
  <p>Sie haben die E-Mail Adresse für Ihren Account in der Anwendung "<%= @user_account.user_registration.projects.last.name('de') %>" geändert.</p>
  <p>Bitte bestätigen Sie diese Änderung mit dem folgenden Link:</p>
  <p><%= link_to 'Neue E-Mail Adresse bestätigen', url %></p>
  <p>Mit freundlichen Grüßen,</p>
  <p>Das Projekt-Team "<%= @user_account.user_registration.projects.last.name('de') %>"</p>
<% end -%>
