<%
  contact_email = @user_account.user_registration.projects.last.contact_email
  my_locale = @user_account.locale_with_project_fallback
  case my_locale.to_sym
  when :en
-%>
  <p>Dear <%= @user_account.display_name %>,</p>
  <p>Your access to the application "<%= @user_account.user_registration.projects.last.name('en') %>" has been blocked.</p>
  <p>This happens if you have violated the Terms of Use.</p>
  <p>If you have any questions regarding this procedure, please contact us at <a href="mailto:<%= contact_email %>"><%= contact_email %>.</p>
  <p>Yours sincerely,</p>
  <p>The project team "<%= @user_account.user_registration.projects.last.name('en') %>"</p>
<% when :ru -%>
  <p>Уважаемый(-ая) <%= @user_account.display_name %>,</p>
  <p>Ваш доступ к ресурсу "<%= @user_account.user_registration.projects.last.name('ru') %>" был заблокирован.</p>
  <p>Это произошло, если вы нарушили Условия пользовния.</p>
  <p>Если у Вас в связи с этим возникли вопросы, пожалуйста, свяжитесь с нами: <%= contact_email %>.</p>
  <p>С уважением,</p>
  <p>сотрдники проекта "<%= @user_account.user_registration.projects.last.name('ru') %>"</p>
  <% when :el -%>
  <p>Αγαπητή/-έ <%= @user_account.display_name %>,</p>
  <p>Η πρόσβαση σας στην εφαρμογή "<%= @user_account.user_registration.projects.last.name('el') %>" αποκλείστηκε.</p>
  <p>Aυτό συμβαίνει αν παραβιάσατε τους Όροι Χρήσης.</p>
  <p>Σε περίπτωση που έχετε οποιαδήποτε απορία μπορείτε να επικοινωνήσετε μαζί μας στη διεύθυνση <a href="mailto:<%= contact_email %>"><%= contact_email %>.</p>
  <p>Με εκτίμηση,</p>
  <p>Η ομάδα του προγράμματος "<%= @user_account.user_registration.projects.last.name('el') %>"</p>
  <% when :es -%>
  <p>Estimada/o <%= @user_account.display_name %>,</p>
  <p>Su acceso a la aplicación "<%= @user_account.user_registration.projects.last.name('es') %>" ha sido bloqueado.</p>
  <p>Eso sucede si ha violado los Términos de uso.</p>
  <p>Si tiene preguntas sobre el proceso, por favor contáctenos bajo <a href="mailto:<%= contact_email %>"><%= contact_email %></a>.</p>
  <p>Con saludos cordiales,</p>
  <p>El equipo del proyecto "<%= @user_account.user_registration.projects.last.name('es') %>"</p>
<% else -%>
  <p>Sehr geehrte/r <%= @user_account.display_name %>,</p>
  <p>Ihr Zugang zu der Anwendung "<%= @user_account.user_registration.projects.last.name('de') %>" wurde gesperrt.</p>
  <p>Dies geschieht, wenn Sie gegen die Nutzungsbedingungen verstoßen haben.</p>
  <p>Wenn Sie Fragen zu diesem Vorgang haben, kontaktieren Sie uns bitte unter <a href="mailto:<%= contact_email %>"><%= contact_email %></a>.</p>
  <p>Mit freundlichen Grüßen,</p>
  <p>Das Projekt-Team "<%= @user_account.user_registration.projects.last.name('de') %>"</p>
<% end -%>
