<%
  contact_email = @user_account.user_registration.projects.last.contact_email
  my_locale = @user_account.locale_with_project_fallback
  case my_locale.to_sym
  when :en
-%>
  <p>Dear <%= @user_account.display_name %>,</p>
  <p>Your account has been locked.</p>
  <p>Best regards,</p>
  <p>The archive team "<%= @user_account.user_registration.projects.last.name('en') %>"</p>
  <% when :ru -%>
  <p>Уважаемый/ая <%= @user_account.display_name %>,</p>
  <p>Команда архива "<%= @user_account.user_registration.projects.last.name('ru') %>"</p>
  <% when :el -%>
  TODO greek translation
  <% when :es -%>
  TODO spanish translation
<% else -%>
  <p>Sehr geehrte/r <%= @user_account.display_name %>,</p>
  <p>Ihr Zugang wurde gesperrt.</p>
  <p>Wenn Sie Unterstützung bei der Registrierung benötigen, kontaktieren Sie uns bitte unter <%= contact_email %>.</p>
  <p>Mit freundlichen Grüßen,</p>
  <p>Das Archiv-Team "<%= @user_account.user_registration.projects.last.name('de') %>"</p>
<% end -%>
