<%
  contact_email = @user_account.user_registration.projects.last.contact_email
  my_locale = @user_account.locale_with_project_fallback
  case my_locale.to_sym
  when :en
-%>
  <p>Dear <%= @user_account.display_name %>,
  <p>You have tried to register for the application "<%= @user_account.user_registration.projects.last.name('en') %>".</p>
  <p>Unfortunately, verification of your information has revealed that it is insufficient or does not comply with the archive's terms of use.</p>
  <p>If you need assistance with the registration process, please contact us at <a href="mailto:<%= contact_email %>"><%= contact_email %></a>.</p>
  <p>Yours sincerely,</p>
  <p>The project team "<%= @user_account.user_registration.projects.last.name('en') %>"</p>
<% when :ru -%>
  <p>Уважаемый(-ая) <%= @user_account.display_name %>,</p>
  <p>Вы пытались зарегистрироваться для получения доступа к проекту "<%= @user_account.user_registration.projects.last.name('ru') %>". </p>
  <p>К сожалению, проверка Ваших данных показала, что они неполные или не сответствуют условиям доступа.</p>
  <p>Если Вам нужна помощь в процессе регистрации, пожалуйста, свяжитесь с нами: <a href="mailto:<%= contact_email %>"><%= contact_email %></a>.</p>
  <p>С уважением,</p>
  <p>сотрдники проекта "<%= @user_account.user_registration.projects.last.name('ru') %>"</p>
<% when :el -%>
  TODO greek translation
<% when :es -%>
  <p>Estimada/o <%= @user_account.display_name %>,</p>
  <p>Usted ha intentado de registrarse para la aplicación "<%= @user_account.user_registration.projects.last.name('es') %>".</p>
  <p>Lamentablemente, la revisión de sus datos ha demostrado que su registro es insuficiente o no cumple con los términos de uso del archivo.</p>
  <p>Si necesita ayuda con su registro, por favor contáctenos bajo <a href="mailto:<%= contact_email %>"><%= contact_email %></a>.</p>
  <p>Con saludos cordiales,</p>
  <p>El equipo del proyecto "<%= @user_account.user_registration.projects.last.name('es') %>"</p>
<% else -%>
  <p>Sehr geehrte/r <%= @user_account.display_name %>,</p>
  <p>Sie haben versucht sich für die Anwendung "<%= @user_account.user_registration.projects.last.name('de') %>" zu registrieren.</p>
  <p>Leider hat die Überprüfung Ihrer Angaben ergeben, dass diese unzureichend sind oder nicht den Nutzungsbedingungen des Archivs entsprechen.</p>
  <p>Wenn Sie Unterstützung bei der Registrierung benötigen, kontaktieren Sie uns bitte unter <a href="mailto:<%= contact_email %>"><%= contact_email %></a>.</p>
  <p>Mit freundlichen Grüßen,</p>
  <p>Das Projekt-Team "<%= @user_account.user_registration.projects.last.name('de') %>"</p>
<% end -%>
