<%
  my_locale = @user.locale_with_project_fallback
  url = "#{@project.domain_with_optional_identifier}/#{my_locale}"
  case my_locale.to_sym
  when :en
-%>
  <p>Dear <%= @user.display_name %>,</p>
  <p>You now have access to the application "<%= @project.name('en') %>" for the research you specified.</p>
  <p>Please note the personal rights of the interviewees and the terms of use of the archive (<%= @conditions_link && @conditions_link.url(:en) %>). Recording, publishing or distributing interviews, excerpts or photos requires special permission. Please only quote anonymously, stating the source.</p>
  <p>Yours sincerely,</p>
  <p>The project team "<%= @project.name('en') %>"</p>
<% when :ru -%>
  <p>Уважаемый(-ая) <%= @user.display_name %>,</p>
  <p>Вы получаете доступ к приложению "<%= @project.name('ru') %>", согласно Вашего запроса на исследование.</p>
  <p>Пожалуйста, соблюдайте личные права интервьюированных и условия пользования архивом (<%= @conditions_link && @conditions_link.url(:ru) %>).</p>
  <p>Для перезаписи, публикации или распространения интервью, их отрывков или фотографий необходимо особое разрешение.</p>
  <p>Цитировать интервью можно только на условиях анонимности со ссылкой на источник.</p>
  <p>С уважением,</p>
  <p>сотрудники проекта "<%= @project.name('ru') %>"</p>
<% when :es -%>
  <p>Estimada/o <%= @user.display_name %>,</p>
  <p>Usted tiene ahora acceso a la aplicación "<%= @project.name('es') %>" para el tema de investigación que indicó.</p>
  <p>Por favor, respete los derechos personales de las personas entrevistadas y los términos de uso del archivo (<%= @conditions_link && @conditions_link.url(:es) %>). Para copiar, grabar, editar, publicar o difundir las entrevistas u otros materiales necesita un permiso adicional. Le pedimos citar de forma anónima, indicando la fuente.</p>
  <p>Con saludos cordiales,</p>
  <p>El equipo del proyecto "<%= @project.name('es') %>"</p>
<% when :el -%>
  <p>Αγαπητή/-έ <%= @user.display_name %>,</p>
  <p>Έχετε τώρα πρόσβαση στην εφαρμογή "<%= @project.name('el') %>" για το αίτημα έρευνάς σας. Παρακαλούμε να σεβαστείτε τα δικαιώματα προσωπικότητας των μαρτύρων και να τηρείτε τους όρους χρήσης του Αρχείου (<%= @conditions_link && @conditions_link.url(:el) %>).</p>
  <p>Για την ηχογράφηση, δημοσίευση ή διανομή συνεντεύξεων, αποσπασμάτων ή φωτογραφιών απαιτείται ξεχωριστή άδεια. Παρακαλείστε να διατηρείτε την ανωνυμία του μάρτυρα όταν αναφέρεστε στην πηγή.</p>
  <p>Με εκτίμηση,</p>
  <p>Η ομάδα του προγράμματος "<%= @project.name('el') %>"</p>
<% else -%>
  <p>Guten Tag <%= @user.display_name %>,</p>
  <p>Sie haben nun Zugang zu der Anwendung <%= @project.name(:de) %> für das von Ihnen angegebene Recherche-Anliegen.</p>
  <p>Bitte beachten Sie die Persönlichkeitsrechte der Interviewten und die Nutzungsbedingungen des Archivs (<%= @conditions_link.url(:de) %>).</p>
  <% unless @user_project.admin_comments.blank? %>
    <p><%= @user_project.admin_comments %></p>
  <% end %>
  <p>Mit freundlichen Grüßen</p>
  <p><%= @project.name(:de) %></p>
<% end -%>
