<%
  my_locale = @user_account.locale_with_project_fallback
  url = "#{@resource.user_registration.projects.last.archive_domain}/#{my_locale}"
  case my_locale.to_sym
  when :en
-%>
    <p>Dear <%= @user_account.display_name %>,</p>
    <p>We hereby confirm your account for the application "<%= @user_account.user_registration.projects.last.name('en') %>".</p>
    <p>With your account: <%= @user_account.email %></p>
    <p>you can now <%= link_to 'log in here', url %> and access all functions of the interview archive.</p>
    <p>Yours sincerely,</p>
    <p>The project team "<%= @user_account.user_registration.projects.last.name('en') %>"</p>
  <% when :ru -%>
    <p>Уважаемый(-ая) <%= @user_account.display_name %>,</p>
    <p>мы подверждаем Ваш акаунт для доступа к проекту "<%= @user_account.user_registration.projects.last.name('ru') %>".</p>
    <p>С Вашим аккаунтом: <%= @user_account.email %></p>
    <p>Вы можете подтвердить регистрацию за линком: <%= url %> и получить доступ ко всем функиям интревью-архива.</p>
    <p>С уважением,</p>
    <p>сотрдники проекта "<%= @user_account.user_registration.projects.last.name('ru') %>"</p>
  <% when :es -%>
    <p>TODO spanish translation</p>
  <% when :el -%>
    <p>TODO greek translation</p>
  <% else -%>
    <p>Sehr geehrte/r <%= @user_account.display_name %>,</p></p>
    <p>hiermit bestätigen wir Ihren Zugang für die Anwendung "<%= @user_account.user_registration.projects.last.name('de') %>".</p>
    <p>Mit Ihrem Account: <%= @user_account.email %></p>
    <p>können Sie sich nun <%= link_to 'hier anmelden', url %> und auf alle Funktionen des Interview-Archivs zugreifen.</p>
    <p>Mit freundlichen Grüßen,</p>
    <p>Das Projekt-Team "<%= @user_account.user_registration.projects.last.name('de') %>"</p>
<% end -%>
