<%
  url = "#{@resource.user_registration.projects.last.archive_domain}/#{I18n.locale}"
  case @user_account.user_registration.default_locale
  when :en
-%>
    <p>Dear <%= @user_account.display_name %>,</p>
    <p>Best regards,</p>
    <p>The archive team "<%= @user_account.user_registration.projects.last.name('en') %>"</p>
  <% when :ru -%>
    <p>Уважаемый/ая <%= @user_account.display_name %>,</p>
    <p>Команда архива "<%= @user_account.user_registration.projects.last.name('ru') %>"</p>
  <% else -%>
    <p>Sehr geehrte/r <%= @user_account.display_name %>,</p></p>
    <p>hiermit bestätigen wir Ihren Zugang für das Interview-Archiv "<%= @user_account.user_registration.projects.last.name('de') %>".</p>
    <p>Mit Ihrem Account: <%= @user_account.email %>
    <p>können Sie sich nun unter <%= url %> anmelden und auf alle Funktionen des Archivs "<%= @user_account.user_registration.projects.last.name('de') %>" zugreifen.</p>
    <p>Mit freundlichen Grüßen,</p>
    <p>Das Archiv-Team "<%= @user_account.user_registration.projects.last.name('de') %>"</p>
<% end -%>
