<%
  contact_email = @project.contact_email
  my_locale = @user.locale_with_project_fallback
  case my_locale.to_sym
  when :en
-%>
  <p>Dear <%= @user.display_name %>,
  <p>You have tried to register for the application "<%= @project.name('en') %>".</p>
  <p>Unfortunately, verification of your information has revealed that it is insufficient or does not comply with the archive's terms of use.</p>
  <p>If you need assistance with the registration process, please contact us at <a href="mailto:<%= contact_email %>"><%= contact_email %></a>.</p>
  <p>Yours sincerely,</p>
  <p>The project team "<%= @project.name('en') %>"</p>
<% when :ru -%>
  <p>Уважаемый(-ая) <%= @user.display_name %>,</p>
  <p>Вы пытались зарегистрироваться для получения доступа к проекту "<%= @project.name('ru') %>". </p>
  <p>К сожалению, проверка Ваших данных показала, что они неполные или не соответствуют условиям доступа.</p>
  <p>Если Вам нужна помощь в процессе регистрации, пожалуйста, свяжитесь с нами: <a href="mailto:<%= contact_email %>"><%= contact_email %></a>.</p>
  <p>С уважением,</p>
  <p>сотрудники проекта "<%= @project.name('ru') %>"</p>
<% when :el -%>
  <p>Αγαπητή/-έ <%= @user.display_name %>,</p>
  <p>Προσπαθήσατε να εγγραφείτε στην εφαρμογή "<%= @project.name('el') %>".</p>
  <p>Δυστυχώς κατά τον έλεγχο των στοιχείων σας διαπιστώθηκε ότι είναι ελλιπή ή ότι δε συμβαδίζουν με τους όρους χρήσης του Αρχείου.</p>
  <p>Αν επιθυμείτε υποστήριξη στην εγγραφή, μην διστάζετε να επικοινωνήσετε μαζί μας στο <%= @project.name('el') %>".</p>
  <p>Με εκτίμηση,</p>
  <p>Η ομάδα του προγράμματος "<%= @project.name('el') %>"</p>
<% when :es -%>
  <p>Estimada/o <%= @user.display_name %>,</p>
  <p>Usted ha intentado de registrarse para la aplicación "<%= @project.name('es') %>".</p>
  <p>Lamentablemente, la revisión de sus datos ha demostrado que su registro es insuficiente o no cumple con los términos de uso del archivo.</p>
  <p>Si necesita ayuda con su registro, por favor contáctenos bajo <a href="mailto:<%= contact_email %>"><%= contact_email %></a>.</p>
  <p>Con saludos cordiales,</p>
  <p>El equipo del proyecto "<%= @project.name('es') %>"</p>
<% else -%>
  <p>Guten Tag <%= @user.display_name %>,</p>
  <p>Sie haben eine Freischaltung für die Anwendung <%= @project.name('de') %> beantragt.</p>
  <p>Leider hat die Überprüfung Ihrer Angaben ergeben, dass diese unzureichend sind oder nicht den <%= @conditions_link && link_to('Nutzungsbedingungen des Archivs', @conditions_link.url(:de)) %> entsprechen.</p>
  <% unless @user_project.admin_comments.blank? %>
    <p><%= @user_project.admin_comments %></p>
  <% end %>
  <p>Unter folgendem Link können Sie Ihre Angaben in der Registrierung ändern oder ergänzen.</p>
  <p><%= link_to 'Korrigieren', "#{@project.domain_with_optional_identifier}/de?access_token=#{@user.access_tokens.last.token}" %></p>
  <p>Wenn Sie Unterstützung benötigen, kontaktieren Sie uns bitte unter <%= contact_email %>.</p>
  <p>Mit freundlichen Grüßen</p>
  <p><%= @project.name('de') %></p>
<% end -%>
