<%
  contact_email = @project.contact_email
  my_locale = @user.locale_with_project_fallback
  case my_locale.to_sym
  when :en
-%>
Dear <%= @user.display_name %>,

You have tried to register for the application "<%= @project.name('en') %>".

Unfortunately, verification of your information has revealed that it is insufficient or does not comply with the archive's terms of use.

If you need assistance with the registration process, please contact us at <%= contact_email %>.

Yours sincerely,

The project team "<%= @project.name('en') %>"
<% when :el -%>
Αγαπητή/-έ <%= @user.display_name %>,

Προσπαθήσατε να εγγραφείτε στην εφαρμογή "<%= @project.name('el') %>".

Δυστυχώς κατά τον έλεγχο των στοιχείων σας διαπιστώθηκε ότι είναι ελλιπή ή ότι δε συμβαδίζουν με τους όρους χρήσης του Αρχείου.

Αν επιθυμείτε υποστήριξη στην εγγραφή, μην διστάζετε να επικοινωνήσετε μαζί μας στο <%= @project.name('el') %>".

Με εκτίμηση,</p>

Η ομάδα του προγράμματος "<%= @project.name('el') %>"
<% when :es -%>
Estimada/o <%= @user.display_name %>,

Usted ha intentado de registrarse para la aplicación "<%= @project.name('es') %>".

Lamentablemente, la revisión de sus datos ha demostrado que su registro es insuficiente o no cumple con los términos de uso del archivo.

Si necesita ayuda con su registro, por favor contáctenos bajo <%= contact_email %>.

Con saludos cordiales,

El equipo del proyecto "<%= @project.name('es') %>"
<% when :ru -%>
Уважаемый(-ая) <%= @user.display_name %>,

Вы пытались зарегистрироваться для получения доступа к проекту "<%= @project.name('ru') %>".

К сожалению, проверка Ваших данных показала, что они неполные или не соответствуют условиям доступа.

Если Вам нужна помощь в процессе регистрации, пожалуйста, свяжитесь с нами: <%= contact_email %>.

С уважением,

сотрудники проекта "<%= @project.name('ru') %>"
<% else -%>
Guten Tag <%= @user.display_name %>,

Sie haben eine Freischaltung für die Anwendung <%= @project.name('de') %> beantragt.

Leider hat die Überprüfung Ihrer Angaben ergeben, dass diese unzureichend sind oder nicht den Nutzungsbedingungen des Archivs (<%= @conditions_link %>) entsprechen.
Unter folgendem Link können Sie Ihre Angaben in der Registrierung ändern oder ergänzen.

<%= @project.domain_with_optional_identifier + '/de' %>

Wenn Sie Unterstützung benötigen, kontaktieren Sie uns bitte unter <%= contact_email %>.

Mit freundlichen Grüßen

<%= @project.name('de') %>
<% end -%>
