<% case @resource.default_locale || I18n.locale
     when :en -%>
  <p>Dear <%= @resource.display_name %>,</p>

  <p>You have requested a link to reset your password for the application "<%= @project_name %>".</p>

  <p>Please click here:</p>
  <p><%= link_to 'Assign password', @url %></p>

  <p>
    If you do not wish to change or recover your password, you can ignore this email.
    Your password will only be reset if you follow the link above and set a new password.
  </p>

  <p>Yours sincerely,</p>
  <p>The project team "<%= @project_name  %>"</p>
<% when :ru -%>
  <p>Уважаемый(-ая) <%= @resource.display_name %>,</p>
  <p>Вы запросили линк для повторного получения пароля доступа к интервью-архиву "<%= @project_name %>".</p>
  <p>Пожалуйста, перейдите за линком:</p>
  <p><%= link_to 'Изменить пароль', @url %></p>
  <p>Если Вы не планируете сменить или восстановить пароль, можете проигнорировать это сообщение.</p>
  <p>Ваш пароль будет сохранен, только если Вы перейдете за указанным выше линком и установите новый пароль.</p>
  <p>С уважением,</p>
  <p>сотрудники проекта "<%= @project_name %>"</p>
<% when :el -%>
  <p>Αγαπητή/-έ <%= @resource.display_name %>,</p>
  <p>Zητήσατε σύνδεσμο για την επαναφορά του κωδικού πρόσβασης για την εφαρμογή "Αρχείο Προφορικών Μαρτυριών "<%= @project_name %>".</p>
  <p>Παρακαλώ κάνετε κλικ εδώ:</p>
  <p><%= link_to 'Απόδοση κωδικού πρόσβασης ', @url %></p>
  <p>Εάν δεν επιθυμείτε να αλλάξετε ή να επαναφέρετε τον κωδικό σας, παρακαλώ αγνοήστε αυτό το μήνυμα. Η επαναφορά του κωδικού σας θα γίνει μόνο αν ακολουθήσετε τον παραπάνω σύνδεσμο και επιλέξετε ένα νέο κωδικό πρόσβασης.</p>
  <p>Με εκτίμηση,</p>
  <p>Η ομάδα του προγράμματος "<%= @project_name %>"</p>
<% when :es -%>
  <p>Estimada/o <%= @resource.display_name %>,</p>
  <p>Usted ha solicitado un enlace para restablecer su contraseña para la aplicación "<%= @project_name %>".</p>
  <p>Por favor, haga clic aquí:</p>
  <p><%= link_to 'Eligir contraseña', @url %></p>
  <p>Si no desea cambiar o restablecer su contraseña, puede hacer caso omiso de este mensaje. Su contraseña solamente se restablecará siguiendo el enlace antes mencionado y eligiendo una nueva contraseña.</p>
  <p>Con saludos cordiales,</p>
  <p>El equipo del proyecto "<%= @project_name %>"</p>
<% else -%>
  <p>Guten Tag <%= @resource.display_name %>,</p>
  <p>Sie haben einen Link angefordert um ein neues Passwort für die Plattform Oral-History.Digital  zu vergeben.</p>
  <p>Dazu klicken Sie bitte hier:</p>
  <p><%= link_to 'Passwort vergeben', @url %></p>
  <p>Falls Sie keine Änderung oder Wiederherstellung Ihres Passwortes wünschen, können Sie diese E-Mail ignorieren. Ihr Passwort wird nur zurückgesetzt, wenn Sie dem obigen Link folgen und ein neues Passwort einstellen.</p>
  <p>Mit freundlichen Grüßen,</p>
  <p>Oral-History.Digital </p>
<% end -%>
