<% url = "#{@resource.user_registration.projects.last.archive_domain}/#{I18n.locale}/user_accounts/password/edit?reset_password_token=#{@token}" %>

<% case I18n.locale
     when :en -%>
  <p>Dear <%= @resource.display_name %>,</p>

  <p>You have requested a link to reset your password for the application "<%= @resource.user_registration.projects.last.name('en') %>".</p>

  <p>Please click here:</p>
  <p><%= link_to 'Assign password', url %></p>

  <p>
    If you do not wish to change or recover your password, you can ignore this email.
    Your password will only be reset if you follow the link above and set a new password.
  </p>

  <p>Yours sincerely,</p>
  <p>The project team "<%= @resource.user_registration.projects.last.name('en') %>"</p>
<% when :ru -%>
  <p>Уважаемый(-ая) <%= @user_account.display_name %>,</p>
  <p>Вы запросили линк для повторного получения пароля доступа к интервью-архиву "<%= @user_account.user_registration.projects.last.name('ru') %>".</p>
  <p>Пожалуйста, перейдите за линком:</p>
  <p><%= link_to 'Изменить пароль', url %></p>
  <p>Если Вы не планируете сменить или восстановить пароль, можете проигнорировать это сообщение.</p>
  <p>Ваш пароль будет сохранен, только если вы перейдете за указаным выше линком и установите новый пароль.</p>
  <p>С уважением,</p>
  <p>сотрдники проекта "<%= @user_account.user_registration.projects.last.name('ru') %>"</p>
<% when :el -%>
  <p>Αγαπητή/-έ <%= @user_account.display_name %>,</p>
  <p>Zητήσατε σύνδεσμο για την επαναφορά του κωδικού πρόσβασης για την εφαρμογή "Αρχείο Προφορικών Μαρτυριών "<%= @user_account.user_registration.projects.last.name('el') %>".</p>
  <p>Παρακαλώ κάνετε κλικ εδώ:</p>
  <p><%= link_to 'Απόδοση κωδικού πρόσβασης ', url %></p>
  <p>Εάν δεν επιθυμείτε να αλλάξετε ή να επαναφέρετε τον κωδικό σας, παρακαλώ αγνοήστε αυτό το μήνυμα. Η επαναφορά του κωδικού σας θα γίνει μόνο αν ακολουθήσετε τον παραπάνω σύνδεσμο και επιλέξετε ένα νέο κωδικό πρόσβασης.</p>
  <p>Με εκτίμηση,</p>
  <p>Η ομάδα του προγράμματος "<%= @user_account.user_registration.projects.last.name('el') %>"</p>
<% when :es -%>
  <p>Estimada/o <%= @user_account.display_name %>,</p>
  <p>Usted ha solicitado un enlace para restablecer su contraseña para la aplicación "<%= @user_account.user_registration.projects.last.name('es') %>".</p>
  <p>Por favor, haga clic aquí:</p>
  <p><%= link_to 'Eligir contraseña', url %></p>
  <p>Si no desea cambiar o restablecer su contraseña, puede hacer caso omiso de este mensaje. Su contraseña solamente se restablecará siguiendo el enlace antes mencionado y eligiendo una nueva contraseña.</p>
  <p>Con saludos cordiales,</p>
  <p>El equipo del proyecto "<%= @user_account.user_registration.projects.last.name('es') %>"</p>
<% else -%>
  <p>Sehr geehrte/r <%= @resource.first_name %> <%= @resource.last_name %>,</p>
  <p>Sie haben einen Link angefordert um Ihr Passwort für die Anwendung "<%= @resource.user_registration.projects.last.name('de') %>" neu zu vergeben.</p>
  <p>Dazu klicken Sie bitte hier:</p>

  <p><%= link_to 'Passwort vergeben', url %></p>

  <p>
          Falls Sie keine Änderung oder Wiederherstellung Ihres Passwortes wünschen, können Sie diese E-Mail ignorieren.
          Ihr Passwort wird nur zurückgesetzt, wenn Sie dem obigen Link folgen und ein neues Passwort einstellen.
  </p>
  <p>
          Mit freundlichen Grüßen,
  </p>
  <p>
          Ihr Projekt-Team "<%= @resource.user_registration.projects.last.name('de') %>"
  </p>
<% end -%>
