<% case I18n.locale
     when :en -%>
  <p>Hello <%= @resource.email %>!</p>

  <p>Someone has requested a link to change your password, and you can do this through the link below.</p>

  <p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token, :locale => :en) %></p>

  <p>If you didn't request a password change, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>
<% when :ru -%>
  ﻿<p>Здравствуйте <%= @resource.email %>!</p>

  <p>Нами был получен запрос ссылки для изменения Вашего пароля. Вы можете изменить Ваш пароль, перейдя по следующей ссылке.</p>

  <p><%= link_to 'Изменить пароль', edit_password_url(@resource, :reset_password_token => @token, :locale => :ru) %></p>

  <p>Если Вы не запрашивали изменение пароля, просто проигнорируйте это письмо.</p>
  <p>Ваш пароль останется без изменений до тех пор, пока Вы не перейдёте по ссылке, приведенной выше, и не создадите новый пароль.</p>
<% when :de -%>
        <p>Sehr geehrte/r <%= @resource.user.first_name %> <%= @resource.user.last_name %>,</p>
        <p>Sie haben Ihr Passwort für das Interview-Archiv "Erinnerungen an die Okkupation in Griechenland" vergessen und deshalb ein neues angefordert?</p>
        <p>Um Ihr Passwort zu ändern klicken Sie bitte hier:</p>

        <p><%= link_to 'Passwort ändern', edit_password_url(@resource, :reset_password_token => @token, :locale => :de) %></p>

        <p>
                Falls Sie keine Änderung Ihres Passwortes wünschen, können Sie diese E-Mail ignorieren.
                Ihr Passwort ändert sich nur, wenn Sie dem obigen Link folgen und ein neues Passwort einstellen.
        </p>
        <p>
                Mit freundlichen Grüßen,
        </p>
        <p>
                Ihr Team des Projektes "Erinnerungen an die Okkupation in Griechenland"
        </p>
 
<% when :el -%>

        <p>Αγαπητέ <%= @resource.user.first_name %> <%= @resource.user.last_name %>,</p>

        <p>ξεχάσατε τον κωδικό σας και ζητήσατε έναν καινούργιο;
        <p>Για να αλλάξετε τον κωδικό σας παρακαλώ πατήστε εδώ:

        <p><%= link_to 'Αλλαγή κωδικού', edit_password_url(@resource, :reset_password_token => @token, :locale => :el) %></p>

        <p>
                Σε περίπτωση που δεν ζητήσατε αλλαγή κωδικού, παρακαλώ αγνοήστε αυτό το μήνυμα. 
                Ο κωδικός σας θα αλλάξει μόνο εάν ζητήσατε αλλαγή και πατήσετε το λινκ για τον καθορισμό ενός νέου κωδικού.
        </p>
        <p>
                Με φιλικούς χαιρετισμούς,
        </p>
        <p>
                η ομάδα του προγράμματος "Μνήμες από την Κατοχή στην Ελλάδα"
        </p>

<% else -%>
  <p>Hallo <%= @resource.email %>!</p>

  <p>Jemand hat einen Link für die Änderung Ihres Passworts angefordert. Sie können jetzt Ihr Passwort über nachfolgenden Link ändern.</p>

  <p><%= link_to 'Passwort jetzt ändern', edit_password_url(@resource, :reset_password_token => @token, :locale => :de) %></p>

  <p>Falls Sie eine Passwort-Änderung nicht angefragt haben, ignorieren Sie einfach diese Nachricht.</p>
  <p>Ihr Passwort wird sich nicht ändern bis Sie dem oben dargestellten Link folgen und ein neues Passwort einstellen.</p>
<% end -%>
