<% case @resource.default_locale || I18n.locale
     when :en -%>
  <p>Hello <%= @resource.display_name %>,</p>
  <p>You have requested a link to set a new password for the Oral-History.Digital platform.</p>
  <p>To do so, please click here:</p>
  <p><%= link_to 'Assign password', @url %></p>
  <p>If you do not wish to change or recover your password, you can ignore this email.</p>
  <p>Your password will only be reset if you follow the link above to create a new password.</p>
  <p>With best regards</p>
  <p>Oral-History. Digital</p>
<% when :ru -%>
  <p>Добрый день, <%= @resource.display_name %>,</p>
  <p>Вы запросили линк, чтобы ввести новый пароль к платформе Oral-History.Digital</p>
  <p>Для этого, пожалуйста, нажмите здесь:</p>
  <p><%= link_to 'Ввести пароль', @url %></p>
  <p>Если Вы не планировали изменить или восстановить пароль доступа, можете проигнорировать этот емейл.</p>
  <p>Ваш пароль будет восстановлен, только если Вы перейдете по линку, указанному выше, и введете новый пароль.</p>
  <p>С уважением,</p>
  <p>Oral-History.Digital</p>
<% when :el -%>
  <p>Καλημέρα <%= @resource.display_name %>,</p>
  <p>Ζητήσατε έναν σύνδεσμο για να ορίσετε έναν νέο κωδικό πρόσβασης για την πλατφόρμα Oral-History.Digital.</p>
  <p>Για να το κάνετε αυτό, κάντε κλικ εδώ:</p>
  <p><%= link_to 'Εκχώρηση κωδικού πρόσβασης', @url %></p>
  <p>Εάν δεν επιθυμείτε να αλλάξετε ή να ανακτήσετε τον κωδικό πρόσβασής σας, αγνοήσετε αυτό το μήνυμα.</p>
  <p>Ο κωδικός πρόσβασής σας θα επανέλθει μόνο εάν ακολουθήσετε τον παραπάνω σύνδεσμο για να δημιουργήσετε νέο κωδικό πρόσβασης.</p>
  <p>Με εκτίμηση,</p>
  <p>Oral-History.Digital</p>
<% when :es -%>
  <p>Hola <%= @resource.display_name %>,</p>
  <p>Ha solicitado un enlace para establecer una nueva contraseña para la plataforma Oral-History.Digital.</p>
  <p>Para ello, haga clic aquí:</p>
  <p><%= link_to 'Asignar contraseña', @url %></p>
  <p>Si no desea cambiar o recuperar su contraseña, puede ignorar este correo.</p>
  <p>Su contraseña sólo se restablecerá si sigue el enlace anterior para crear una nueva contraseña.</p>
  <p>Saludos cordiales,</p>
  <p>Oral-History.Digital</p>
<% else -%>
  <p>Guten Tag <%= @resource.display_name %>,</p>
  <p>Sie haben einen Link angefordert, um ein neues Passwort für die Plattform Oral-History.Digital zu vergeben.</p>
  <p>Dazu klicken Sie bitte hier:</p>
  <p><%= link_to 'Passwort vergeben', @url %></p>
  <p>Falls Sie keine Änderung oder Wiederherstellung Ihres Passwortes wünschen, können Sie diese E-Mail ignorieren.</p>
  <p>Ihr Passwort wird nur zurückgesetzt, wenn Sie dem obigen Link folgen und ein neues Passwort erstellen.</p>
  <p>Mit freundlichen Grüßen,</p>
  <p>Oral-History.Digital </p>
<% end -%>
