<span id="admin_<%= admin_flag.id -%>" class="admin_flag">
    <% if admin_flag.admin? -%>
        <%=  link_to 'Admin-Rechte entfernen', '#', link: flag_admin_user_path(admin_flag, admin: false), confirm: "Sollen die Rechte für '#{admin_flag.first_name} #{admin_flag.last_name}' wirklich entfernt werden?\nDieser Nutzer kann sich dann nicht mehr in der Administrationsoberfläche betätigen.", flag_id: admin_flag.id, class: 'admin-flag' %>
    <% else -%>
        <%=  link_to '&raquo; Admin-Rechte geben'.html_safe, '#', link: flag_admin_user_path(admin_flag, admin: true), flag_id: admin_flag.id, class: 'admin-flag' %>
    <% end -%>
  <span id="admin-<%= admin_flag.id -%>-spinner" style="display: none;">
    <%= image_tag "#{Project.name}/loading.gif" %>
  </span>
</span>
