<h1>Онлайн-архив "Принудительный труд 1939-1945"</h1>

<div class="contentImagesLeft">
<% if current_user_account.nil? -%>
<% @interview = Interview.find_by_archive_id('za465', :include => [:translations, {:language => :translations}]) -%>
  <div class="contentImage200">
    <a href="<%= interview_path(:id => @interview.archive_id) -%>">
        <img src="<%= image_path 'Baschlai.jpg' %>" alt="<%= @interview.short_title(I18n.locale) -%>" title="" width="200" height="150" />
        <h6><%= @interview.short_title(I18n.locale) -%>
          <br/>
          <%= t(@interview.video? ? 'media.video_interview' : 'media.audio_interview') %>,&nbsp;<%= @interview.language.to_s %><%= @interview.translated? ? '<br/>' + content_tag(:span, '(' + t(:translated, :scope => 'status') + ')', :class => 'translated') : '' %>
        </h6>
    </a>
  </div>
<% else -%>
<% @interview = random_featured_interview -%>
  <div class="contentImage200">
    <a href="<%= interview_path(:id => @interview.archive_id) -%>">
        <img src="<%= image_path @interview.still_image.url(:original) %>" alt="<%= @interview.short_title(I18n.locale) -%>" title="" width="200" height="150" />
        <h6><%= @interview.short_title(I18n.locale) -%>
          <br/>
          <%= t(@interview.video? ? 'media.video_interview' : 'media.audio_interview') %>,&nbsp;<%= @interview.language.to_s %><%= @interview.translated? ? '<br/>' + content_tag(:span, '(' + t(:translated, :scope => 'status') + ')', :class => 'translated') : '' %>
        </h6>
    </a>
  </div>
<% end -%>
</div>

<p></p>

<p>
  Онлайн-архив &quot;Принудительный труд 1939-1945&quot; содержит интервью почти с 600 бывшими невольниками и невольницами труда из 26 стран.
  Архив состоит из нескольких частей, составленных в 2005 - 2006гг. различными проектными группами  по всему миру при финансовой поддержке фонда &quot;Память, ответственность и будущее&quot;.
  Цифровой архив хранит свидетельства времени для будущих поколений и обеспечивает их использование в сфере образования и науки
</p>

<% if current_user_account.nil? %>
  <p style="font-weight: bold;">
    В целях защиты прав личности для использования архива "Принудительный труд 1939-1945" Вы должны <%= link_to 'войти в систему', anmelden_path %> и принять как <%= external_link('devise.registration_fields.tos_agreement', :nutzungsbedingungen) %>, так и <%= external_link('devise.registration_fields.priv_agreement', :datenschutzbestimmungen) %>.
  </p>
<% else %>
  <br/>
  <p>
    B качестве зарегистрированного пользователя Вы получите доступ ко всем интервью, представленным в полном объеме в интернет, при условии, что будут соблюдены <%= external_link('devise.registration_fields.tos_agreement', :nutzungsbedingungen) %> и
    <%= external_link('devise.registration_fields.priv_agreement', :datenschutzbestimmungen) %>.
  </p>
<% end %>

<br style="clear: both;"/>

<div class="contentImagesLeft">
  <div class="contentImage100">
    <a href="#">
      <img src="<%= image_path('teaser/categories_ru.png') -%>" alt="Категории"/>
    </a>
  </div>
</div>
<h3 style="margin-top: 8px;">Поиск по категориям</h3>
<p>
  Категории в поисковой панели в правом краю экрана, отображающие содержание, позволяют ознакомиться с систематикой архива и служат тематически структурированному доступу в архив.
  <br/>
    <%= link_to 'Описание категорий »',
                localized_home_path(:page_id=> t('page_urls.faq_searching'), :locale => :ru, :anchor => 'recherchemoeglichkeiten'),
                :title => 'Какие возможности поиска существуют?' %>
    <br/>
</p>
<br style="clear: both;"/>

<div class="contentImagesLeft">
  <div class="contentImage100">
    <a href="#">
      <img src="<%= image_path('teaser/fulltext_ru.png') -%>" alt="Полнотекстовый поиск"/>
    </a>
  </div>
</div>
<h3 style="margin-top: 8px;">Полнотекстовый поиск</h3>
<p>
  Полнотекстовый поиск посредством поисковой панели справа предоставляет возможность интуитивного доступа к архиву с помощью ключевых понятий, чётко соответствующих цели Ваших изысканий.
  <br/>
    <%= link_to 'Описание полнотекстового поиска »',
                localized_home_path(:page_id=> t('page_urls.faq_searching'), :locale => :ru, :anchor => 'suche-allgemein'),
                :title => 'Как я могу использовать полнотекстовый поиск?' %>
    <br/>
</p>
<br style="clear: both;"/>

<div class="contentImagesLeft">
  <div class="contentImage100">
    <a href="<%= localized_public_map_url(:locale => :ru) -%>">
      <img src="<%= image_path('teaser/karte.png') -%>" alt="Карта"/>
    </a>
  </div>
</div>
<h3 style="margin-top: 8px;">Поиск по карте</h3>
<p>
  С помощью интерактивной карты предоставляется возможность поиска информации о биографических этапах интервьюируемых: место рождения, место депортации, лагерь, фирмы и места заключения, места жительства с 1945 г.
  <br/>
    <%= link_to 'К поиску по карте »',
                localized_public_map_url(:locale => :ru),
                :title => 'Поиск по карте' %>
    <br/>
</p>
<br style="clear: both;"/>

<div class="contentImagesLeft">
  <div class="contentImage100">
    <a href="<%= localized_interview_collections_url(:locale => :ru) -%>">
      <img src="<%= image_path('teaser/collections.png') -%>" alt="Частичные собрания"/>
    </a>
  </div>
</div>
<h3 style="margin-top: 8px;">Обзор частичных собраний</h3>
<p>
  Обзор географического распределения частичных собраний позволяет ознакомиться с историей возникновения архива и обеспечивает региональный подход.
  <br/>
    <%= link_to 'К карте частичных собраний »', localized_interview_collections_url(:locale => :ru), :title => 'Географическое распределение частичных собраний' %>
    <br/>
</p>

<hr style="clear: both;"/>
<h2 class="clear">Многоязычный архив</h2>
<p>
    Архив интервью, состоявшихся на 25 языках, представлен в полном объёме на немецком языке. Интерфейс,
    а также биографические данные и интервью переведены на английский и русский языки.
</p>
<p>
    Содержание, подписи под фотографиями и картинками, краткие биографии и редакционные примечания доступны
    для русскоязычных и англоязычных пользователей на названных языках, но в интервью на других языках –
    олько по-немецки, даже если Вы выбрали русскую или английскую версию архива.
</p>
<h2 class="clear">Вопросы и ответы</h2>
<p>
  В разделе
  <%= link_to (t :faq),
              localized_home_path(:page_id=> t('page_urls.faq_index'), :locale => :ru),
              :title => 'Вопросы и ответы, касающиеся использования архива' %>
  Вы найдёте ответы на вопросы, касающиеся технической стороны архива или его содержания. Если Ваши вопросы всё-таки останутся без ответа, напишите нам письмо на следующий электронный адрес:
  <a href="mailto:mail@zwangsarbeit-archiv.de" target="_blank" title="Контакт">
    mail@zwangsarbeit-archiv.de
  </a>
</p>
