      <div id="baseHeader">
        <a name="seitenanfang" id="seitenanfang" accesskey="O"></a>
        <a href="http://www.<%= CeDiS.config.project_domain -%><%= (I18n.locale == I18n.default_locale) ? '' : "/#{I18n.locale}" -%>" title="<%= t(:home_link, :project_name => CeDiS.config.project_name[I18n.locale.to_s]) %>" accesskey="H" lang="<%= I18n.locale.to_s %>">
          <%= image_tag(image_path("project_logo_#{I18n.locale}.gif"), :class => "baseHeaderLogo", :title => t(:home_link, :project_name => CeDiS.config.project_name[I18n.locale.to_s]), :alt => t(:logo_title, :project_name => CeDiS.config.project_name[I18n.locale])) %>
        </a>

        <div id="mainNavigation">
          <span>Administratoren-Bereich</span>
          <ul>
            <li><%= link_to t(:permissions, :scope => 'admin_nav'), admin_admin_users_path, :accesskey => "0", :class => (controller_name == 'users' ? 'current' : '')  %></li>
            <li><%= link_to t(:import, :scope => 'admin_nav'), admin_imports_path, :accesskey => "0", :class => (controller_name == 'imports' ? 'current' : '') %></li>
            <li><%= link_to t(:statistics, :scope => 'admin_nav'), admin_user_statistics_path, :accesskey => "0", :class => (controller_name == 'user_statistics' ? 'current' : '') %></li>
            <li><%= link_to t(:user_annotations, :scope => 'admin_nav'), admin_user_annotations_path, :class => (controller_name == 'user_annotations' ? 'current' : ''), :style => "width: 100px;" %></li>
            <li><%= link_to t(:user_registrations, :scope => 'admin_nav'), admin_user_registrations_path, :accesskey => "0", :class => (controller_name == 'user_registrations' ? 'current' : '') %></li>
          </ul>
        </div>

        <h2 class="info"><%= CeDiS.config.project_name[I18n.locale.to_s]  %></h2>
        <hr class="divider" />
        <p class="skip">
          <em><%= t '.skip' %></em> <a href="#inhalt"><%= t '.content' %></a>
        </p>

        <hr class="divider" />
        <h2 class="info">
          <%= t '.service_navigation' %>
        </h2>
        <div id="baseHeaderNavigation">
          <ul>
            <li><%= link_to t(:start_page), home_path, :accesskey => "0" %></li>
            <%= render :partial => '/locale_chooser' %>
          </ul>
        </div>
      </div>

      <hr class="divider" />

      <div id="baseLogout" class="portlet logoutPortlet">
          <form action="" method="post">
            <fieldset>
              <legend><%= t '.logoff' %></legend>
              <p id="logoutUserLogin">
                <%= truncate(current_user_account.try(:login), :length => 25) || t(:not_signed_in, :scope => 'user_interface.status') %>:
                <% if current_user_account.nil? %>
                    <%= link_to t(:link, :scope => 'devise.sessions'), new_user_account_session_path, :name => 'buttonLogin' %>
                <% else %>
                    <%= link_to t(:logout, :scope => 'devise.sessions'), destroy_user_account_session_path, :name => 'buttonLogout' %>
                <% end %>
              </p>
            <% unless flash[:notice].blank? %>
              <p id="flashNotice">
              <%= flash[:notice] %>
              </p>
            <% end %>
            </fieldset>
          </form>
      </div>
