<ul>
  <li class="copyright"><%= t(:status_update, :scope => 'user_interface.labels') %>:<%= last_import.strftime('%d.%m.%Y') %></li>
  <li><%= external_link(:terms_of_use, :nutzungsbedingungen) %></li>
  <li class="pipe">|</li>
  <li><%= external_link(:team, :team) %></li>
  <li class="pipe">|</li>
  <li><%= external_link(:contact, :kontakt) %></li>
  <li class="pipe">|</li>
  <li><%= external_link(:legal_notice, :impressum) %></li>
</ul>