      <div id="baseHeader">
        <a name="seitenanfang" id="seitenanfang" accesskey="O"></a>
        <a href="http://www.<%= Project.project_domain -%><%= (I18n.locale == I18n.default_locale) ? '' : "/#{I18n.locale}" -%>" title="<%= t(:home_link, :project_name => Project.project_name[I18n.locale.to_s]) %>" accesskey="H" lang="<%= I18n.locale.to_s %>">
          <%= image_tag(image_path("#{Rails.configuration.x.project}/project_logo_#{I18n.locale}.gif"), :class => 'baseHeaderLogo', :title => t(:home_link, :project_name => Project.project_name[I18n.locale.to_s]), :alt => t(:logo_title, :project_name => Project.project_name[I18n.locale])) %>
        </a>

        <h2 class="info"><%= Project.project_name[I18n.locale.to_s]  %></h2>
        <hr class="divider" />
        <p class="skip">
          <em><%= t '.skip' %></em> <a href="#inhalt"><%= t '.content' %></a>
        </p>

        <hr class="divider" />
        <h2 class="info">
          <%= t '.service_navigation' %>
        </h2>
        <div id="baseHeaderNavigation">
          <ul>
            <li><%= link_to t(:start_page), home_path, accesskey: '0' %></li>
            <%= render :partial => '/locale_chooser' %>
            <% if Project.uses_map %>
                <li><%= link_to t(:interactive_map), public_map_path, title: t('.map_link_title') %></li>
            <% end %>
            <li><%= link_to t(:collections_map), collections_path, title: t('.collections_link_title') %> </li>
            <li><%= link_to t(:faq), faq_index_path, title: t('.faq_link_title') %></li>
          </ul>
        </div>
      </div>

      <hr class="divider" />

      <div id="baseLogout" class="portlet logoutPortlet">
          <form action="" method="post">
            <fieldset>
              <legend><%= t '.logoff' %></legend>
              <p id="logoutUserLogin">
                <% if self.controller.respond_to? :current_user_account %>

              <%= truncate(current_user_account.try(:login), :length => 25) || t(:not_signed_in, :scope => 'user_interface.status') %>:
                <% if current_user_account.nil? %>
                    <%= link_to t(:link, :scope => 'devise.sessions'), new_user_account_session_path, :name => 'buttonLogin' %>
                <% else %>
                    <% unless current_user.nil? || !request.path.scan('/admin/').empty? %>
                    <%= link_to t(:workbook, :scope => 'user_interface.labels'), { :controller => 'user_contents', :action => 'index' }, :class => 'workbook' %>
                    <span class='red'>&nbsp;|&nbsp;</span>
                    <% end %>
                    <%= link_to t(:logout, :scope => 'devise.sessions'), destroy_user_account_session_path, :name => 'buttonLogout' %>
                <% end %>
                <% end %>
              </p>
            <% unless flash[:notice].blank? %>
              <p id="flashNotice">
              <%= flash[:notice] %>
              </p>
            <% end %>
            </fieldset>
          </form>
      </div>
