      <div id="baseHeader">
        <a name="seitenanfang" id="seitenanfang" accesskey="O"></a>
        <a href="/" title="Zur Startseite des Projektes: Zwangsarbeit 1939-1945. Erinnerungen und Geschichte" accesskey="H" lang="en">
          <%= image_tag(image_path("zwar_logo_#{I18n.locale}.gif"), :class => "baseHeaderLogo", :title => "Zur Startseite des Projektes: Zwangsarbeit 1939-1945. Erinnerungen und Geschichte", :alt => "Das Logo des Projektes: Zwangsarbeit 1939-1945. Erinnerungen und Geschichte") %>
        </a>

        <h2 class="info">Zwangsarbeit 1939-1945</h2>
        <hr class="divider" />
        <p class="skip">
          <em>Springe direkt zu:</em> <a href="#inhalt">Inhalt</a>
        </p>

        <hr class="divider" />
        <h2 class="info">
          Service-Navigation
        </h2>
        <div id="baseHeaderNavigation">
          <ul>
            <li><%= link_to (t :home), root_url, :accesskey => "0" %></li>
            <li>
              <% if I18n.locale.to_s =~ /^de/i %>
                <%= link_to "English", url_for({:locale => :en, :language => nil, :action => action_name, :controller => controller_name}.merge(params)), :title => "English version" %>
              <% else %>
                <%= link_to "Deutsch", url_for({:locale => :de, :language => nil, :action => action_name, :controller => controller_name}.merge(params)), :title => "Deutsche Version" %>
              <% end %>
            </li>
            <li><%= link_to (t :map), interview_collections_url, :title => "Geografische Verteilung der Teilsammlungen" %></li>
            <li><%= link_to (t :faq), home_path(:page_id => t("faq_index", :scope => 'page_urls')), :title => "Fragen und Antworten zur Nutzung des Archivs" %></li>
          </ul>
        </div>
      </div>

      <hr class="divider" />

      <div id="baseLogout" class="portlet logoutPortlet">
          <form action="" method="post">
            <fieldset>
              <legend>Abmelden</legend>
              <p id="logoutUserLogin">
                <%= current_user_account.try(:login) || t(:not_signed_in, :scope => 'user_interface.status') %>
                <% if current_user_account.nil? %>
                    <%= link_to t(:link, :scope => 'devise.sessions'), anmelden_path, :name => 'buttonLogin' %>
                <% else %>
                    <%= link_to t(:logout, :scope => 'devise.sessions'), destroy_user_account_session_path, :name => 'buttonLogout' %>
                <% end %>
              </p>
            <% unless flash[:notice].blank? %>
              <p id="flashNotice">
              <%= flash[:notice] %>
              </p>
            <% end %>
            </fieldset>
          </form>
      </div>