    <title><%= Project.project_name[I18n.locale.to_s] %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="robots" content="noindex,nofollow,noarchive" />
    <meta name="keywords" content="<%= Project.meta_keywords[I18n.locale.to_s] %>" />

    <%= stylesheet_link_tag 'archiv-standard', 'archiv-design', 'chosen', 'content', 'eaz-content', 'archiv-portlet', 'lightbox', 'user-content', 'search', 'map', 'transfer', 'jquery-ui/jquery-ui' %>
    <%= stylesheet_link_tag 'print', :media => :print %>

    <link rel="shortcut icon" href="/favicon.ico" />

    <%= javascript_include_tag 'prototype', 'application', 'chosen', 'effects', 'controls', 'default', 'dragdrop', :cache => 'site-prototype' %>
    <%= javascript_include_tag 'jquery.min', 'jquery-ui.min' %>
    <% javascript_tag do %>
      jQuery.noConflict();
    <% end %>
