<% form_for :user_registration, user_registration_form, :url => user_registrations_path, :html => { :class => 'user_registration' } do |f| -%>

  <% unless user_registration_form.errors.empty? %>
    <p class="flashAlert"><%= t(:fill_out_missing_fields_message, :scope => 'devise.registration_fields') %></p>
  <% end %>

  <table class='form' cellspacing='0' cellpadding='0' border='0'>
    <tbody>

      <% UserRegistration.registration_field_names.each do |field| -%>
        <tr>
          <% field_def = UserRegistration.registration_fields[field.to_sym] -%>
          <td class='formLabel<%= [:text, Text].include?(field_def[:type]) ? ' textarea' : ''%>'>
            <%= f.label field, t(field, :scope => 'devise.registration_fields' ) << (field_def[:mandatory] ? '*' : '') -%>
          </td>
          <% if field_def[:values].blank? -%>
            <%= content_tag :td, case field_def[:type]
              when :text, 'Text'
                  f.text_area(field.to_sym)
              when :boolean, 'Boolean'
                  f.check_box(field.to_sym) + content_tag(:span, t(field.to_s + '_explanation', :scope => 'devise.registration_fields'), :style => 'float: none;')
              when :country, 'Country'
                  f.country_select(:country, [:de, :at, :ch, :pl, :ru, :cz, :us, :gb, :fr, :nl, :il, :ua, :by], :include_blank => t(:select, :scope => 'devise.registration_fields'))
              else
                  f.text_field(field.to_sym)
              end, :class => 'formInput'
            %>
          <% else -%>
            <% values = field_def[:translate] ? field_def[:values].map{|v| t(v, :scope => "devise.registration_values.#{field}")}.uniq : field_def[:values] -%>
            <%= content_tag :td, select(:user_registration,
                                      field,
                                      options_for_select([[t(:select, :scope => 'devise.registration_fields'), nil]] + values.sort,
                                                          params['user_registration'].blank? ? nil : params['user_registration'][field])),
                                      { :include_blank => false } -%>
          <% end -%>
        </tr>
      <% end -%>
      <tr>
        <td class="formLabel"><%= f.label :tos_agreement, t(:tos_agreement, :scope => 'devise.registration_fields').to_s << '*' %></td>
        <td class="formInput">
          <%= f.check_box(:tos_agreement) +
                  t(:tos_agreement_explanation, :scope => 'devise.registration_fields',
                      :terms_of_use => external_link('devise.registration_fields.tos_agreement', :nutzungsbedingungen)) %>
        </td>
      </tr>
      <tr>
        <td class="formLabel"><%= f.label :priv_agreement, t(:priv_agreement, :scope => 'devise.registration_fields').to_s << '*' %></td>
        <td class="formInput">
          <%= f.check_box(:priv_agreement) +
                  t(:priv_agreement_explanation, :scope => 'devise.registration_fields',
                      :privacy_policy => external_link('devise.registration_fields.priv_agreement', :datenschutzbestimmungen)) %>
        </td>
      </tr>
      <tr>
        <td colspan='2'><%= f.submit t(:submit, :scope => 'devise.registrations') -%></td>
      </tr>
    </tbody>
  </table>
  <%= hidden_field_tag 'user_registration[default_locale]', I18n.locale.to_s %>
<% end -%>
