<h1>Ergebnisse der Ortssuche</h1>

<% if current_user_account.nil? %>
<p style="font-weight: bold; margin-top: 0.33em;">
  Zur Benutzung des Archivs "<%= CeDiS.config.project_name['de'] %>" m&uuml;ssen Sie
  <%= link_to 'registriert', registrieren_path %> sein und die
  <%= external_link('devise.registration_fields.tos_agreement', :nutzungsbedingungen) %>
  sowie die <%= external_link('devise.registration_fields.priv_agreement', :datenschutzbestimmungen) %>
  anerkennen. Eine Suche innerhalb der Interviews ist ebenfalls erst
  nach der Registrierung möglich.
</p>
<p style="font-weight: bold; margin-top: 0.33em;">
  Aus Gr&uuml;nden des Pers&ouml;nlichkeitsschutzes sind die Namen anonymisiert.
</p>
<% end %>

<p>&nbsp;</p>


<table style="width: 600px; background-color: #f9f9f7;">
  <tbody>
  <% if @results.size == 0 %>

    <tr><td style="padding: 10px;" colspan="2">Für Ihre Suchanfrage konnten keine Interviews gefunden werden.</td></tr>

  <% else %>

    <tr>
      <td style="padding: 10px;" colspan="2">
        <strong><%= @results.size %> Vorkommen <%= params[:location].blank? ? '' : "zu '#{params[:location]}' " %>im Archiv "Zwangsarbeit 1939-1945" gefunden:</strong>
      </td>
    </tr>

    <% @results.each do |result| %>

      <tr style="border-top: dotted 1px #000; cursor: pointer;" onclick="window.open(this.down('a').href, '_<%= current_user_account.nil? ? 'self' : 'blank' -%>'); Event.stop(event);">
        <td style="width: 250px; padding: 10px;">
          <span style="color: #999281;"><%= result.location_type %></span><br>
          <strong><%= result.name %></strong>
        </td>
        <td style="padding: 10px;">
          <%= link_to "Interview #{result.interview.archive_id} mit #{result.interview.anonymous_title(I18n.locale)}", interview_path(result.interview), { :name => "#{result.interview.archive_id}", :target => "_#{current_user_account.nil? ? 'self' : 'blank'}", :style => 'font-weight: bold;' } %>
          <br/>
          <span style="font-size: 8pt; font-weight: normal;">
            <%= format_value result.interview.forced_labor_groups.join(', ') %><br>
            <%= result.interview.languages.join(' / ') %><%= result.translated ? ' ' + content_tag(:span, '(' + t(:translated, :scope => 'status') + ')', :class => 'translated') : '' %>,
            <%= result.interview.video %> <%= format_value result.interview.duration %>
          </span>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
