<% @map_options ||= {} -%>
<div id="map-wrapper" style="margin:0; padding:0; border:0; width: <%= @map_options['width'] || 695 -%>px;">

    <noscript>
      <div class="embossed">
        <p><%= t(:need_javascript, :scope => 'user_interface.messages') -%></p>
      </div>
    </noscript>

    <div id="noncompliant_browser_message" class="embossed" style="display: none;">
        <p><%= t(:need_ie8, :scope => 'user_interface.messages') -%></p>
    </div>

    <div id="privacy_details" style="width: 60%; padding: 25% 20%; display: none;">
      <div class="embossed">
          <h3><%= t(:label, :scope => 'privacy') -%></h3>
          <p>
            <%= t(:google_notice, :scope => 'privacy') %>
            <%= t(:google_acceptance, :scope => 'privacy') %>&nbsp;(<%= link_to 'Google', 'http://www.google.com/accounts/TOS', :target => '_blank' -%>).
          </p>
        <!--
          <p>
            <%= t(:more_here, :scope => 'privacy') %>:
            <%= link_to t(:terms, :scope => 'privacy'), '#', :target => '_blank' -%>.
          </p>
        //-->
          <p class="privacy_config">
            <label class="checkbox">
                <%= check_box_tag 'store_privacy_agreement1', true, false, :class => 'remember_privacy' %>
                <%= t(:remember_settings, :scope => 'privacy') %>
            </label>
          </p>
          <%= button_to_function t(:confirm, :scope => 'privacy'), 'loadExternalScripts();', :class => 'privacy_agreement' %>
      </div>
      <div class="service_attribution">
        &copy;2009 Google, TeleAtlas
      </div>
    </div>

    <div id="explanation_filter_toggle" class="preload-map"><%= t(:tabname, :scope => 'map.legend') -%></div>
    <div id="explanation_filter" class="preload-map map-overlay" style="display: none;">
      <ul style="float: right;">
        <li class="hint"><h3 style="margin: 0;"><%= t(:title, :scope => 'map.legend') -%><a href="#" onclick="new Effect.Fade('explanation_filter');" class="window-close"><%= t(:close) -%></a></h3></li>
        <li class="hint">
          <p><%= t(:filter_header, :scope => 'map.legend') -%>:</p>
        </li>
        <li class="map_filter_off forced_labor_location"><span><%= t(:forced_labor_locations, :scope => 'map.labels') -%></span></li>
        <li class="map_filter_off forced_labor_camp"><span><%= t(:camps, :scope => 'map.labels') -%></span></li>
        <li class="map_filter_off forced_labor_company"><span><%= t(:companies, :scope => 'map.labels') -%></span></li>
        <li class="map_filter_off deportation_location"><span><%= t(:deportations, :scope => 'map.labels') -%></span></li>
        <li class="map_filter_off place_of_birth"><span><%= t(:places_of_birth, :scope => 'map.labels') -%></span></li>
        <li class="map_filter_off return_location"><span><%= t(:postwar_residences, :scope => 'map.labels') -%></span></li>
        <li class="map_filter_off postwar_camp"><span><%= t(:postwar_camps, :scope => 'map.labels') -%></span></li>
        <li class="map_filter_off home_location"><span><%= t(:home_locations, :scope => 'map.labels') -%></span></li>
        <li class="map_filter_off interview"><span><%= t(:mentions, :scope => 'map.labels') -%></span></li>
        <li class="hint">
          <p><%= t(:grouping_header, :scope => 'map.legend') -%>:</p>
        </li>
        <li class="cluster_toggle clusters-off" onclick="toggleClusters();"><span><%= t(:grouping_label, :scope => 'map.legend') -%></span></li>
        <li class="hint">
          <p><%= t(:more_help, :scope => 'map.legend') -%> <a href="#" onclick="new Effect.Appear('introduction');"><%= t(:here) -%></a>.</p>
        </li>
      </ul>
    </div>
    <div id="introduction" class="preload-map map-overlay" style="display: none;">
      <ul style="float: right;">
        <li class="hint"><h3 style="margin: 0;"><%= t(:title, :scope => 'map.explanation') -%><a href="#" onclick="new Effect.Fade('introduction');" class="window-close"><%= t(:close) -%></a></h3></li>
        <li class="hint">
          <p><%= t(:filter, :scope => 'map.explanation', :image => '<img class="imageLeft" src="' + image_path("map/tut_filters_#{I18n.locale}.png") + '"/>') -%></p>
        </li>
        <li class="hint">
          <p><%= t(:clustering, :scope => 'map.explanation', :image => '<img class="imageLeft" src="' + image_path("map/tut_clusters_#{I18n.locale}.png") + '"/>') -%></p>
        </li>
        <li class="hint">
          <p><%= t(:legend, :scope => 'map.explanation', :image => '<img class="imageRight" src="' + image_path("map/tut_legend_#{I18n.locale}.png") + '"/>') -%></p>
        </li>
        <li class="hint">
          <p><%= t(:finish, :scope => 'map.explanation', :close => '<a href="#"  onclick="new Effect.Fade(\'introduction\');">' + t(:close).capitalize + '</a>') -%></p>
        </li>
      </ul>
    </div>
    <div id="initial_map_tutorial" class="preload-map map-overlay slide-1" style="display: none;">&nbsp;</div>

    <div id="interview_selection_toggle" class="preload-map" style="display: none;">Interviews: alle</div>

    <div id="interactive_map" class="preload-map" style="width: 100%; height: <%= @map_options['height'] || 660 -%>px"></div>

</div>
<div class="privacy_panel clearfix">
  <i class="icon icon-info-sign"></i>
  <i class="icon icon-asterisk"></i>
  <div class="privacy_config">
      <label class="checkbox">
        <%= check_box_tag 'store_privacy_agreement2', true, false, :class => 'remember_privacy' %>
        <%= t(:remember_settings, :scope => 'privacy') %>
      </label>
  </div>
</div>

<script type="text/javascript">
    Event.observe('explanation_filter_toggle', 'click', function(){
        Effect.toggle('explanation_filter','appear', { duration: 0.5 });
    });

    /* tutorial JS */
    var currentSlideNum = 1;
    function adjustSlideNum(move) {
      var prevSlideNum = currentSlideNum;
      currentSlideNum = currentSlideNum + move;
      var el = $('initial_map_tutorial');
      el.removeClassName('slide-' + prevSlideNum);
      el.addClassName('slide-' + currentSlideNum);
    }

    function endTutorial() {
      new Effect.Fade('initial_map_tutorial');
    }

    function initMap() {
        $$('#map-wrapper .preload-map').each(function(el){
            el.removeClassName('preload-map');
        });
        mapSetup('interactive_map', {introURL: '<%= localized_home_path(:locale => I18n.locale, :page_id => t('page_urls.map_tutorial')) -%>', introId: 'initial_map_tutorial', dateStamp: '<%= map_data_datestamp -%>' });
    }

    function loadClusters() {
        loadScript('<%= javascript_path 'cluster' -%>', initMap);
    }

    function loadMaps() {
        var src =  "https://maps-api-ssl.google.com/maps/api/js?v=3&sensor=false&language=<%= I18n.locale.to_s -%>&callback=loadClusters";
        loadScript(src, null);
    }

    function loadExternalScripts() {
        new Effect.Fade('privacy_details');
        loadMaps();
    }

    function togglePrivacyCookie() {
        var privacy_checkbox = this;
        if(privacy_checkbox.checked) {
            writeCookie('za-gm-priv', '<%= Time.now.strftime('%Y%m%d%H%M') -%>v3.9', 180);
        } else {
            writeCookie('za-gm-priv', '', 0);
        }
        $$('.remember_privacy').each(function(checkbox){
            if(checkbox.id != privacy_checkbox.id) {
                checkbox.checked = privacy_checkbox.checked;
            }
        });
    }

    function browserIsCompliant() {
        if(Prototype.Browser.IE) {
            var version = parseInt((navigator.userAgent.match(/MSIE\s+\d{1,2}/).first() || '').gsub('MSIE',''));
            if(version && (version < 8)) {
                return false;
            }
        }
        return true;
    }

    function initPrivacySettings() {
        var accept = (readCookie('za-gm-priv') != null);
        $$('.remember_privacy').each(function(checkbox){
            checkbox.checked = accept;
            Element.observe(checkbox, 'change', togglePrivacyCookie);
        });
        if(browserIsCompliant()) {
            if(accept) {
                loadExternalScripts();
            } else {
                new Effect.Appear('privacy_details');
            }
        } else {
            $('noncompliant_browser_message').show();
        }
    }

    document.observe("dom:loaded", initPrivacySettings);

</script>
