<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
    <%= render :partial => '/head' %>
    <%= stylesheet_link_tag 'admin', 'project-customization' %>
    <%= javascript_include_tag 'builder', 'interview', 'carousel', 'lightbox', 'list.min', 'swfobject', :cache => 'admin' %>
</head>

<body id="administration">

    <div id="shades" style="display: none;">
      <div id="ajax_spinner">&nbsp;</div>
    </div>

    <div id="modal_window" style="display: none;">
      &nbsp;
    </div>

    <div id="headerIdentityWrapper">
        <%= render :partial => '/admin_header' %>

        <div id="baseServices">
          <p>
            <%= yield :title %>
          </p>
          <span class="new_registrations">
            <% new_user_count = UserRegistration.unchecked.count -%>
            <%= link_to "#{(new_user_count < 1) ? 'Keine' : new_user_count} #{t(:new_registrations, :scope => "devise.workflow_states")} &raquo;", admin_user_management_url(:workflow_state => 'unchecked') %></span>
        </div>

        <hr class="divider" />
    </div>

    <div id="mainWrapper">

        <div id="baseContent">

            <a name="inhalt" accesskey="I"></a>

            <div id="innerContent">
                <%= yield %>
            </div>

            <div class="compact clear"></div>
        </div>

        <hr class="divider" />

        <div id="baseContainerRight">
          <%= yield :sidebar %>
        </div>

        <div id="mainWrapperClear" class="compact">&nbsp;</div>

    </div>

    <hr class="divider" />

    <div id="baseContainerFooter">
        <%= render :partial => '/footer' %>
    </div>

    <a name="seitenende" accesskey="u"></a>

    <hr class="divider" />

    <div id="printlogo">
      <p class="info"><em><%= t('.print_preview_only') %></em></p>
      <img src="<%= image_path 'project_logo_print.gif' %>" border="0" width="262" height="73" title="<%= t('.print_logo') %>" alt="<%= t('.print_logo') %>" />
    </div>

</body>
</html>
