<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
  <head>
    <meta name="generator" content="Infopark CMS Fiona; TE 6.6.1 (r17855); 0cc21e46242c142055c1cdf4136897e1c6836430654abd52" />
    <!-- noindex -->
    <title>Zwangsarbeit 1939-1945: Das Online-Archiv "Zwangsarbeit 1939-1945"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="robots" content="noindex,nofollow,noarchive" />
    <meta name="keywords" content="Speer, Befreiung, Zwangsarbeit, Sklavenarbeit, Geschichte, Nationalsozialismus, Hitler, Sauckel, Oral History, biographisch, Archiv, Gedenken, Literatur, Quellen, Interviews, Erinnerungen, Stimmen, Fotografien, Entschädigung, Konzentrationslager, KZ, Ukrainerinnen, Tschechen, Polen, Ostarbeiter, Ostarbeiterinnen, Stiftung EVZ, audiovisuelle Archive, multimedial, Inventarisierung, Museum, Universität, Digitalisierung, Segmentierung, Übersetzung, STO, IMI, Militärinternierte, Auschwitz, Buchenwald, Flossenbürg, Zigeuner, Roma, Sinti, Displaced Person, Zwangsarbeiterlager, Zweiter Weltkrieg, Drittes Reich, 1939, 1940, 1941, 1942, 1943, 1944, 1945, Ghetto, Arbeitserziehungslager, Vernichtung, Verfolgung, Widerstand, Litauen, Moldawien, Ukraine, Polen, Italien, Norwegen, vergessene Opfer, Kriegskinder, Germanisierung, Deportation, Platoprojekt, Alexander von Plato, Fernuniversität, Hitlers Sklaven, SS, Gestapo, Wehrmacht " />

    <%= stylesheet_link_tag 'archiv-standard' %>
    <%= stylesheet_link_tag 'archiv-design' %>
    <%= stylesheet_link_tag 'content' %>
    <%= stylesheet_link_tag 'eaz-content' %>
    <%= stylesheet_link_tag 'lightbox' %>
    <%= stylesheet_link_tag 'archiv-portlet' %>
    
    <%# Stylesheet Umstellung von 1.0 auf 2.0 %>
    <%= stylesheet_link_tag 'transfer' %>

    <%= javascript_include_tag 'default' %>
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'scriptaculous' %>
    <%= javascript_include_tag 'lightbox' %>
    <%= javascript_include_tag 'swfobject' %>

    <link rel="shortcut icon" href="/favicon.ico" />

  </head>

  <body>
    <!-- noindex -->

    <!-- Anfang Identity-wrapper -->
    <div id="headerIdentityWrapper">
      <!-- Anfang Header -->

      <div id="baseHeader">
        <a name="seitenanfang" id="seitenanfang" accesskey="O"></a>
        <a href="/" title="Zur Startseite des Projektes: Zwangsarbeit 1939-1945. Erinnerungen und Geschichte" accesskey="H" lang="en">
          <%= image_tag("/images/zwar_logo_#{I18n.locale}.gif", :class => "baseHeaderLogo", :title => "Zur Startseite des Projektes: Zwangsarbeit 1939-1945. Erinnerungen und Geschichte", :alt => "Das Logo des Projektes: Zwangsarbeit 1939-1945. Erinnerungen und Geschichte") %>
        </a>

        <h2 class="info">Zwangsarbeit 1939-1945</h2>
        <hr class="divider" />
        <p class="skip">
          <em>Springe direkt zu:</em> <a href="#inhalt">Inhalt</a>
        </p>

        <hr class="divider" />
        <h2 class="info">
          Service-Navigation
        </h2>
        <div id="baseHeaderNavigation">
          <ul>
            <li><%= link_to (t :home), "http://www.zwangsarbeit-archiv.de", :accesskey => "0" %></li>
            <li>
              <% if I18n.locale == "de" %>
                <%= link_to "English", "/en/home/archive", :title => "English version" %>
              <% else %>
                <%= link_to "Deutsch", :root, :title => "Deutsche Version" %>
              <% end %>
            </li>
            <li><%= link_to (t :archive), :root, :title => "Das Online-Archiv &quot;Zwangsarbeit 1939-1945&quot;" %></li>
            <li><%= link_to (t :map), collections_url, :title => "Geografische Verteilung der Teilsammlungen" %></li>
            <li><%= link_to (t :terms_of_use), home_path(:action => "terms_of_use") %></li>
            <li><%= link_to (t :contact), home_path(:action => "contact"), :title => "Kontaktdaten (Adresse, Telefon, Email, ...)", :accesskey => "9" %></li>
            <li><%= link_to (t :legal_notice), home_path(:action => "impressum"), :accesskey => "1" %></li>
            <li><%= link_to (t :faq), home_path(:action => "faq_index"), :title => "Fragen und Antworten zur Nutzung des Archivs" %></li>
          </ul>
        </div>
      </div>
      <hr class="divider" />

      <!-- Ende Header -->

      <!-- Anfang Identitätsbereich -->

      <!-- Ende Identitätsbereich -->

      <div id="baseServices">
        <h2 class="info">Service-Funktionen</h2>
        <p>Suche in den Interviews</p>

        <div id="baseHeaderSearch">
          <h3 class="info">Suche im Archiv </h3>
          <form action="/PM/zwangsarbeit-archiv/PM/index.html/0/000000037400092f706f72746c65747374000d72656d6f7465436f6e74726f6c74000a65617a44656661756c74/-/-/com.infopark.pm.portlet.request.ActionUrl?targetUrl=%2Fzwangsarbeit-archiv%2FPM%2Fsuche" method="post" name="searchForm">
            <input type="hidden" name="_executeSearch" value="true"/>
            <input type="hidden" name="language" value="de"/>
            <input value="" type="text" title="Suchbegriff bitte hier eingeben" class="baseInputSearch" name="searchInput" id="searchInput" />
            <input title="Suchanfrage starten" class="buttonText" src="/images/suchpfeil_weiss.gif" name="searchButton" alt="" type="image">
          </form>
        </div>
      </div>
      <hr class="divider" />
    </div><!-- Ende headerIdentityWrapper -->

    <!-- /noindex -->

    <div id="mainWrapper">


      <!-- Anfang Content -->
      <div id="baseContent">

        <div id="baseContainerNavigationToRoot">
          <div class="baseNavigationToRoot">
            <p class="info"><em>Navigationspfad:</em></p>
            <%= link_to (t :home), "http://www.zwangsarbeit-archiv.de", :title => "Startseite Zwangsarbeit 1939-1945" %> &raquo;
            <%= link_to (t :archive), :root, :title => "Startseite Archiv" %>
          </div>
        </div>

        <hr class="divider" />
        <br class="clear" />
        <hr class="divider" />
        
      <!-- noindex -->
      <!-- Sprungmarke "inhalt" -->
        <a name="inhalt" accesskey="I"></a>
      <!-- /noindex -->
      <!-- index:meta=index -->
      <!-- index:unit=zwangsarbeit-archiv -->
      <!-- index:id=34954474 -->
      <!-- index:changed_at=200901201749 -->
      <!-- index:url= -->
      <!-- index:class=FuStartseitenOrdner -->
      <!-- index:lang=de -->
      <!-- index:title=	Das Online-Archiv "Zwangsarbeit 1939-1945" -->

      <!-- index_begin:content -->

      <%= yield %>

      <!-- index_end:content -->

      <!-- noindex -->

        <br class="clear" />
        <a href="#seitenanfang" title="Zum Seitenanfang"><img src="/images/sprungmarke.gif" alt="Bild Sprungmarke nach oben" border="0" title="" /></a>
        <br class="clear" />
      <!-- /noindex -->

        <div class="clear"></div>
      </div>

      <!-- Ende Content -->

      <hr class="divider" />
      <!-- Anfang rechter Container -->
      <!-- noindex -->

      <div id="baseContainerRight">
        <div class="portlet logoutPortlet">
          <form action="/PM/zwangsarbeit-archiv/PM/index.html/0/000000037400092f706f72746c6574737400066c6f676f75747400222f7a77616e67736172626569742d6172636869762f504d2f696e6465782e68746d6c/-/-/com.infopark.pm.portlet.request.ActionUrl" method="post">
            <fieldset>
              <legend>Abmelden</legend>
              <p id="logoutUserLogin">Benutzername</p>
              <input type="hidden" name="com.infopark.action" value="logout" />
              <input type="hidden" name="edu.cedis.logoutRedirect" value="http://www.zwangsarbeit-archiv.de/" />
              <input id="submit" type="submit" name="buttonLogout" value="Abmelden" />
            </fieldset>
          </form>
        </div>

        <div class="baseListBox">
        <noscript><h4>Bitte aktivieren Sie JavaScript, um die navigatorischen Elemente auf der rechten Seite nutzen zu können.</h4></noscript>

        <h2 class="baseListBoxTitle">Interviews geordnet nach:</h2>
        <div class="fragmentTitle" onclick="Element.toggle('container36536032');Element.toggle('pfeilRechts36536032');Element.toggle('pfeilUnten36536032')">
          <h2>
            <img title="" src="/images/pfeil_rot_rechts.gif" id="pfeilRechts36536032" alt="Pfeil rechts" />
            <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="pfeilUnten36536032" alt="Pfeil unten" />
            Namen der Interviewten
          </h2>
        </div>
        <div style="display:none" id="container36536032">
          <ul>
            <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/namen/a-c.html">A-C</a></li>
            <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/namen/d-f.html">D-F</a></li>
            <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/namen/g-i.html">G-I</a></li>
            <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/namen/j-l.html">J-L</a></li>
            <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/namen/m-o.html">M-O</a></li>
            <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/namen/p-r.html">P-Q</a></li>
            <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/namen/s-u.html">S-U</a></li>
            <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/namen/v-x.html">V-X</a></li>
            <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/namen/y-z.html">Y-Z</a></li>
          </ul>
        </div>

        <div class="fragmentTitle" onclick="Element.toggle('container36527858');Element.toggle('pfeilRechts36527858');Element.toggle('pfeilUnten36527858')">
          <h2>
            <img title="" src="/images/pfeil_rot_rechts.gif" id="pfeilRechts36527858" alt="Pfeil rechts" />
            <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="pfeilUnten36527858" alt="Pfeil unten" />
            Gruppe
          </h2>
        </div>
        <div style="display:none" id="container36527858">
          <ul>
            <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/germanisiertes-kind.html">Germanisierte Kinder</a></li>
            <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/italienische-militaerinternierte.html">Italienische Militärinternierte</a></li>
            <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/juedisch.html">Jude / Jüdin</a></li>
            <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/kriegsgefangene.html">Kriegsgefangene</a></li>
            <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/kz-haeftling.html">KZ-Häftling</a></li>
            <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/ostarbeiter.html">Ostarbeiter / Ostarbeiterin</a></li>
            <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/politisch-verfolgte.html">Politisch Verfolgte</a></li>
            <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/religoesverfolgte.html">Religiös Verfolgte</a></li>
            <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/service-du-travail-obligatoire.html">Service du travail obligatoire</a></li>
            <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/sinti-und-roma.html">Sinti und Roma</a></li>
            <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/zwangsarbeiter.html">Zwangsarbeiter / Zwangsarbeiterin</a></li>
            <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/sonstige.html">Sonstige</a></li>
            <li><a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/gruppe/keine-angabe.html">keine Angabe</a></li>
          </ul>
        </div>








                  <div class="fragmentTitle" onclick="Element.toggle('container35767687');Element.toggle('pfeilRechts35767687');Element.toggle('pfeilUnten35767687')">

                    <h2>
                    <img title="" src="/images/pfeil_rot_rechts.gif" id="pfeilRechts35767687" alt="Pfeil rechts" />
                    <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="pfeilUnten35767687" alt="Pfeil unten" />
                    Einsatzbereich
                    </h2>
                  </div>
                  <div style="display:none" id="container35767687">
                    <ul>


              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/einsatzbereich/bau-steine-erden.html">


                    Bau, Steine, Erden

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/einsatzbereich/bergbau.html">


                    Bergbau

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/einsatzbereich/gesundheitswesen.html">


                    Gesundheitswesen

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/einsatzbereich/gewerbe.html">


                    Gewerbe

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/einsatzbereich/haefen-werften.html">

                    Häfen und Werften

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/einsatzbereich/handwerk.html">


                    Handwerk

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/einsatzbereich/industrie.html">


                    Industrie

                </a>

              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/einsatzbereich/konzentration-und-vernichtungslager.html">


                    Konzentrations- und Vernichtungslager

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/einsatzbereich/lager.html">


                    Lager

                </a>
              </li>



              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/einsatzbereich/land-und-forstwirtschaft.html">


                    Land- und Forstwirtschaft, Gärtnerei

                </a>
              </li>



              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/einsatzbereich/oeffentliche-hand.html">


                    Öffentliche Hand

                </a>
              </li>



              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/einsatzbereich/organisation-todt.html">


                    Organisation Todt

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/einsatzbereich/privathaushalt.html">


                    Privathaushalt

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/einsatzbereich/verkehr.html">


                    Verkehr

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/einsatzbereich/verwaltung.html">


                    Verwaltung

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/einsatzbereich/wehrmacht.html">


                    Wehrmacht

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/einsatzbereich/sonstiges.html">

                    Sonstiges

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/einsatzbereich/keine-angabe.html">


                    keine Angabe

                </a>
              </li>



      </ul>

                  </div>







                  <div class="fragmentTitle" onclick="Element.toggle('container36527900');Element.toggle('pfeilRechts36527900');Element.toggle('pfeilUnten36527900')">
                    <h2>
                    <img title="" src="/images/pfeil_rot_rechts.gif" id="pfeilRechts36527900" alt="Pfeil rechts" />
                    <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="pfeilUnten36527900" alt="Pfeil unten" />

                    Unterbringung / Inhaftierung
                    </h2>
                  </div>

                  <div style="display:none" id="container36527900">
                    <ul>



              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/unterbringung/arbeitsplatz.html">


                    am Arbeitsplatz

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/unterbringung/ael.html">


                    Arbeitserziehungslager

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/unterbringung/gefaengnis.html">


                    Gefängnis

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/unterbringung/ghetto.html">


                    Ghetto

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/unterbringung/kz.html">


                    KZ

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/unterbringung/lager.html">


                    Lager

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/unterbringung/privatunterkunft.html">


                    Privatunterkunft

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/unterbringung/zuhause.html">


                    zu Hause

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/unterbringung/sonstiges.html">


                    Sonstiges

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/unterbringung/keine-angabe.html">


                    keine Angabe

                </a>

              </li>



      </ul>
                  </div>







                  <div class="fragmentTitle" onclick="Element.toggle('container36527872');Element.toggle('pfeilRechts36527872');Element.toggle('pfeilUnten36527872')">

                    <h2>
                    <img title="" src="/images/pfeil_rot_rechts.gif" id="pfeilRechts36527872" alt="Pfeil rechts" />
                    <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="pfeilUnten36527872" alt="Pfeil unten" />
                    Sprache
                    </h2>
                  </div>

                  <div style="display:none" id="container36527872">
                    <ul>


              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/bosnisch.html">


                    Bosnisch

                </a>

              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/bosnisch-romani.html">


                    Bosnisch / Romani

                </a>

              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/bulgarisch.html">


                    Bulgarisch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/deutsch.html">


                    Deutsch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/englisch.html">


                    Englisch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/franzoesisch.html">


                    Französisch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/hebraeisch.html">


                    Hebräisch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/italienisch.html">


                    Italienisch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/katalanisch.html">


                    Katalanisch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/kroatisch.html">


                    Kroatisch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/lettisch.html">


                    Lettisch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/mazedonisch.html">


                    Mazedonisch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/niederlaendisch.html">


                    Niederländisch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/norwegisch.html">


                    Norwegisch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/polnisch.html">


                    Polnisch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/romani.html">


                    Romani

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/rumaenisch.html">


                    Rumänisch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/rumaenisch-russisch.html">


                    Rumänisch / Russisch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/russisch.html">


                    Russisch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/russisch-ukrainisch.html">


                    Russisch / Ukrainisch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/serbisch.html">


                    Serbisch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/slowakisch-tschechisch.html">


                    Slowakisch / Tschechisch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/slowenisch.html">


                    Slowenisch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/spanien.html">


                    Spanisch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/surschik.html">


                    Surschik

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/tschechisch.html">


                    Tschechisch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/ukrainisch.html">


                    Ukrainisch

                </a>

              </li>





              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/sprache/ungarisch.html">


                    Ungarisch

                </a>

              </li>



      </ul>
                  </div>








                  <div class="fragmentTitle" onclick="Element.toggle('container36527886');Element.toggle('pfeilRechts36527886');Element.toggle('pfeilUnten36527886')">

                    <h2>
                    <img title="" src="/images/pfeil_rot_rechts.gif" id="pfeilRechts36527886" alt="Pfeil rechts" />
                    <img title="" style="display:none" src="/images/pfeil_rot_unten.gif" id="pfeilUnten36527886" alt="Pfeil unten" />
                    Wohnort (Land)
                    </h2>
                  </div>
                  <div style="display:none" id="container36527886">
                    <ul>


              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/belarus.html">


                    Belarus

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/bulgarien.html">


                    Bulgarien

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/deutschland.html">


                    Deutschland

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/frankreich.html">


                    Frankreich

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/grossbritannien.html">

                    Großbritannien

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/israel.html">


                    Israel

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/italien.html">


                    Italien

                </a>

              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/kroatien.html">


                    Kroatien

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/lettland.html">


                    Lettland

                </a>
              </li>



              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/litauen.html">


                    Litauen

                </a>
              </li>



              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/mazedonien.html">


                    Mazedonien

                </a>
              </li>



              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/moldawien.html">


                    Moldawien

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/niederlande.html">


                    Niederlande

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/norwegen.html">


                    Norwegen

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/polen.html">


                    Polen

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/rumaenien.html">


                    Rumänien

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/russland.html">

                    Russland

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/serbien.html">


                    Serbien

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/slowakei.html">


                    Slowakei

                </a>

              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/slowenien.html">


                    Slowenien

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/spanien.html">


                    Spanien

                </a>
              </li>



              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/suedafrika.html">


                    Südafrika

                </a>
              </li>



              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/tschechien.html">


                    Tschechien

                </a>
              </li>



              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/ukraine.html">


                    Ukraine

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/ungarn.html">


                    Ungarn

                </a>
              </li>




              <li>

                <a href="http://www.zwangsarbeit-archiv.de/PM/zwangsarbeit-archiv/PM/listen/wohnort/usa.html">


                    USA

                </a>
              </li>



      </ul>

                  </div>









      </div>





      </div>
      <!-- Ende rechter Container -->

      <div id="mainWrapperClear">&nbsp;</div>

      <!-- /noindex -->

    </div>
    <!-- Ende mainWrapper -->

    <!-- noindex -->

    <hr class="divider" />

    <!-- Anfang Footer -->
    <div id="baseContainerFooter">
      <div class="left">Stand:20.01.2009</div>
    </div>
    <!-- Ende Footer -->

    <!-- /noindex -->

    <!-- noindex -->

    <a name="seitenende" accesskey="u"></a>

    <hr class="divider" />

    <!-- Info: Die folgenden Symbole werden nur in der Druckvorschau (separates Popup) und bei der Ausgabe auf einem Drucker verwendet/eingeblendet.-->

    <div id="printlogo">
      <p class="info"><em>Diese Grafiken werden nur in der Druckvorschau verwendet:</em></p>
      <img src="/images/zwar_logo_print.gif" border="0" width="262" height="73" title="Druckversion des Logos" alt="Druckversion des Logos" />
    </div>

    <!-- /noindex -->

  </body>
</html>