<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
    <title><%= t '.title', :project_name => CeDiS.config.project_name[I18n.locale.to_s] %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="robots" content="noindex,nofollow,noarchive" />
    <meta name="keywords" content="<%= CeDiS.config.meta_keywords[I18n.locale.to_s] %>" />

    <%= stylesheet_link_tag 'archiv-standard', 'archiv-design', 'content', 'eaz-content', 'archiv-portlet', 'lightbox', 'map', 'iframe', 'transfer' %>
    <%= stylesheet_link_tag 'print', :media => :print %>

    <link rel="shortcut icon" href="/favicon.ico" />

    <%= javascript_include_tag :defaults, :cache => 'site' %>
    <%= javascript_include_tag 'map', 'progress_bar', :cache => 'mapping' %>
    <%= javascript_include_tag "i18n", "translations" %>
    <script type="text/javascript">
        I18n.defaultLocale = "<%= I18n.default_locale %>";
        I18n.locale = "<%= I18n.locale %>";
    </script>
</head>
<body id="mapFrame" style="background-image: none;">

    <div id="baseContent" style="padding:0; width: <%= (@map_options ||= {})['width'] || 695 -%>px;">
            <%= yield %>
    </div>

</body>
</html>
