<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
    <%= render :partial => '/head' %>
</head>

<body id="interview-page">
    <div id="shades" style="display: none;">
      <div id="ajax-spinner">&nbsp;</div>
    </div>
    <div id="headerIdentityWrapper">
        <%= render :partial => '/header' %>

        <div id="baseServices">
            <%= render :partial => 'interviews/search', :object => @search %>
        </div>

        <hr class="divider" />
    </div>

    <div id="mainWrapper">

        <div id="baseContent">

            <a name="inhalt" accesskey="I"></a>

            <div id="innerContent">
                <%= yield %>
            </div>

            <div class="compact clear"></div>
        </div>

        <hr class="divider" />

        <div id="baseContainerRight">
            <%#= render :partial => 'content', :object => @interview %>
            <%= javascript_tag do %>

                var containerElems = $$('#baseContainerRight .container-toggle');

                // clearing the fulltext field before submission or editing
                function clearFulltextField(id) {
                    var elem = $(id);
                    if(elem) {
                      if(elem.value == '<%= t('search_term', :scope => 'user_interface.search') %>') {
                        elem.value = '';
                      }
                    }
                }

            <% end %>
        </div>

        <div id="annotations_overlay">
            <%#=  render :partial => 'annotations' %>
        </div>

        <div id="mainWrapperClear" class="compact">&nbsp;</div>

        <% if !@interview.nil? && @interview.inferior_quality && @interview.segmented -%>
        <p id="quality_disclaimer">
          <%= t('user_interface.messages.quality_disclaimer') %>
        </p>
        <% end -%>

    </div>

    <hr class="divider" />

    <div id="baseContainerFooter">
        <%= render :partial => '/footer' %>
    </div>

    <a name="seitenende" accesskey="u"></a>

    <hr class="divider" />

    <div id="printlogo">
      <p class="info"><em><%= t('.print_preview_only') %></em></p>
      <img src='<%= image_path  "#{Rails.configuration.x.project}/project_logo_print.gif" %>' border="0" width="262" height="73" title="<%= t('.print_logo') %>" alt="<%= t('.print_logo') %>" />
    </div>

</body>
</html>
