<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
    <title>Zwangsarbeit 1939-1945: Das Online-Archiv "Zwangsarbeit 1939-1945"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="robots" content="noindex,nofollow,noarchive" />
    <meta name="keywords" content="Speer, Befreiung, Zwangsarbeit, Sklavenarbeit, Geschichte, Nationalsozialismus, Hitler, Sauckel, Oral History, biographisch, Archiv, Gedenken, Literatur, Quellen, Interviews, Erinnerungen, Stimmen, Fotografien, Entschädigung, Konzentrationslager, KZ, Ukrainerinnen, Tschechen, Polen, Ostarbeiter, Ostarbeiterinnen, Stiftung EVZ, audiovisuelle Archive, multimedial, Inventarisierung, Museum, Universität, Digitalisierung, Segmentierung, Übersetzung, STO, IMI, Militärinternierte, Auschwitz, Buchenwald, Flossenbürg, Zigeuner, Roma, Sinti, Displaced Person, Zwangsarbeiterlager, Zweiter Weltkrieg, Drittes Reich, 1939, 1940, 1941, 1942, 1943, 1944, 1945, Ghetto, Arbeitserziehungslager, Vernichtung, Verfolgung, Widerstand, Litauen, Moldawien, Ukraine, Polen, Italien, Norwegen, vergessene Opfer, Kriegskinder, Germanisierung, Deportation, Platoprojekt, Alexander von Plato, Fernuniversität, Hitlers Sklaven, SS, Gestapo, Wehrmacht " />

    <link href="<%= ActionController::Base.relative_url_root || '' %>/stylesheets/archiv-standard.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="<%= ActionController::Base.relative_url_root || '' %>/stylesheets/archiv-design.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="<%= ActionController::Base.relative_url_root || '' %>/stylesheets/content.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="<%= ActionController::Base.relative_url_root || '' %>/stylesheets/eaz-content.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="<%= ActionController::Base.relative_url_root || '' %>/stylesheets/lightbox.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="<%= ActionController::Base.relative_url_root || '' %>/stylesheets/archiv-portlet.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="<%= ActionController::Base.relative_url_root || '' %>/stylesheets/search.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="<%= ActionController::Base.relative_url_root || '' %>/stylesheets/transfer.css" media="screen" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="/favicon.ico" />
</head>

<body>
    <div id="headerIdentityWrapper">
              <div id="baseHeader">
        <a name="seitenanfang" id="seitenanfang" accesskey="O"></a>
        <a href="http://www.zwangsarbeit-archiv.de" title="Zur Startseite des Projektes: Zwangsarbeit 1939-1945. Erinnerungen und Geschichte" accesskey="H" lang="en">
          <img title="Zur Startseite des Projektes: Zwangsarbeit 1939-1945. Erinnerungen und Geschichte" src="<%= ActionController::Base.relative_url_root || '' %>/images/zwar_logo_de.gif" class="baseHeaderLogo" alt="Das Logo des Projektes: Zwangsarbeit 1939-1945. Erinnerungen und Geschichte"/>
        </a>

        <h2 class="info">Zwangsarbeit 1939-1945</h2>
        <hr class="divider" />
        <p class="skip">
          <em>Springe direkt zu:</em> <a href="#inhalt">Inhalt</a>
        </p>

        <hr class="divider" />
        <h2 class="info">
          Service-Navigation
        </h2>
        <div id="baseHeaderNavigation">
          <ul>
            <li><a href="<%= ActionController::Base.relative_url_root || '/' %> "><%= I18n.t :home %></a></li>
          </ul>
        </div>
      </div>

      <hr class="divider" />


        <div id="baseServices">
            &nbsp;
        </div>

        <hr class="divider" />
    </div>

    <div id="mainWrapper">

        <div id="baseContent">

            <a name="inhalt" accesskey="I"></a>

            <div id="innerContent">
              <h1>Wartungsarbeiten im Online-Archiv "Zwangsarbeit 1939-1945"</h1>
              <hr/>
              <h2>Die Seite ist zur Zeit nicht erreichbar wegen <%= ENV['REASON'] || 'Wartungsarbeiten' %></h2>
              <p>Wir bem&uuml;hen uns um eine z&uuml;gige Wiederherstellung des Zugangs zum Archiv.</p>
              <p><%= ENV['UNTIL'].nil? ? "Stand: #{Time.now.strftime('%d.%m.%Y %M:%H Uhr')}" : "Voraussichtlich bis: #{ENV['UNTIL']}" %></p>
            </div>

            <br class="clear spacer" />
            <a href="#seitenanfang" title="Zum Seitenanfang"><img src="<%= ActionController::Base.relative_url_root || '' %>/images/sprungmarke.gif" alt="Bild Sprungmarke nach oben" border="0" title="" /></a>
            <br class="clear" />

            <div class="clear"></div>
        </div>

        <hr class="divider" />

        <div id="baseContainerRight">

        </div>

        <div id="mainWrapperClear">&nbsp;</div>

    </div>

    <hr class="divider" />

    <a name="seitenende" accesskey="u"></a>

    <hr class="divider" />

    <div id="baseContainerFooter">
        <%#= don't render :partial => '/footer' %>
    </div>

    <div id="printlogo">
        <p class="info"><em>Diese Grafiken werden nur in der Druckvorschau verwendet:</em></p>
        <img src="<%= ActionController::Base.relative_url_root || '' %>/images/zwar_logo_print.gif" border="0" width="262" height="73" title="Druckversion des Logos" alt="Druckversion des Logos" />
    </div>

</body>
</html>
