<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
    <%= render :partial => '/head' %>
    <%= javascript_include_tag 'accordion', 'search', 'workbook_filters', 'workbook_sorting', :cache => 'workbook' %>
</head>

<body id="<%= current_area_id %>" class="workbook">
    <div id="shades" style="display: none;">
      <div id="ajax_spinner">&nbsp;</div>
    </div>

    <div id="modal_window" style="display: none;">
      &nbsp;
    </div>

    <div id="headerIdentityWrapper">
        <%= render :partial => '/header' %>

        <div id="baseServices" class="workbook">

            <h2 class="info">Service-Funktionen</h2>
            <p class="title"><%= truncate(users_first_name, :length => 20) -%><%= I18n.locale == :en ? "'" : '' -%><%= (users_first_name.last == 's' or not [:de, :en].include?(I18n.locale)) ? '' : 's' -%><br/><%= t(:workbook, :scope => 'user_interface.labels') %></p>
            <div id="baseHeaderSearch">

            </div>

            <div id="submit_search" class="action">
              <% search_hash = session[:query].blank? ? nil : Search.from_params(session[:query]).query_hash -%>
              <% search_path = search_hash.blank? ? new_search_path : search_by_hash_path(:suche => search_hash) -%>
              <%= submit_tag t(:search, :scope => 'user_interface.labels'), :type => :image, :src => image_path('suchpfeil_zurueck.gif'), :onclick => "window.location = '#{search_path}';" %>
            </div>

            <%= image_tag image_path('symbol_workbook.png'), :alt => '', :id => "folder_image" -%>

            <div id="search_header_overlay" class="overlay" style="display: none;"></div>

        </div>

        <hr class="divider" />
    </div>

    <div id="mainWrapper">

        <div id="overlay" style="display: none; background-color: #F1F1EB;">
          <div id="ajax-spinner">&nbsp;</div>
        </div>

        <div id="baseContent">

            <a name="inhalt" accesskey="I"></a>

            <div id="innerContent">
                <% unless flash[:alert].blank? %>
                  <div id="flashAlert">
                  <%= flash[:alert] %>
                  </div>
                <% end %>
                <%= yield %>
            </div>

            <br class="clear spacer" />
            <a href="#seitenanfang" title="<%= t('.back_to_top') %>"><img src="<%= image_path 'sprungmarke.gif' %>" alt="<%= t('.image_back_to_top') %>" border="0" title="<%= t('.back_to_top') %>" /></a>
            <br class="clear" />

            <div class="clear"></div>
        </div>

        <hr class="divider" />

        <div id="baseContainerRight">

            <%= render :partial => 'user_contents/filters', :object => @user_contents || [] %>

        </div>

        <div id="mainWrapperClear">&nbsp;</div>

    </div>

    <hr class="divider" />

    <div id="baseContainerFooter">
        <%= render :partial => '/footer' %>
    </div>

    <a name="seitenende" accesskey="u"></a>

    <hr class="divider" />

    <div id="printlogo">
      <p class="info"><em><%= t('.print_preview_only') %></em></p>
      <img src="<%= image_path 'zwar_logo_print.gif' %>" border="0" width="262" height="73" title="<%= t('.print_logo') %>" alt="<%= t('.print_logo') %>" />
    </div>

</body>
</html>
